[2016-08-30 16:00] ariel-phet opened #1 "PhET-iO and sonification"
I would like to discuss possibilities for allowing our collaborators on the sonifcation project to use iO features to accomplish some sonification.

This strategy seems to have a couple of merits:
1. The researchers (I think) could have direct access to the data output of the sim and sonify that data externally, without us having to bake sonification into the sim. This approach would allow for rap

[2016-08-30 16:01] ariel-phet opened #2 "Apply standard label set"
@mattpen can you apply the standard label set to this repo?

[2016-08-30 17:14] mattpen commented on #2
Standard labels have been applied.

[2016-08-30 17:14] #2 closed

[2016-09-01 18:23] samreid commented on #1
@ariel-phet's next meeting with them is in 2 weeks.  Grant starts in October 1st.

@jbphet and @samreid could collaborate to put together a simple example.

@samreid recommends using PhET-iO Property.link instead of looking at the phetioEvent data stream.

[2016-09-01 18:26] samreid commented on #1
Adding high priority since @ariel-phet would like to see something within a couple of weeks.

[2016-09-01 18:27] pixelzoom commented on #1
The idea would be that researches would use this approach to iterate on sonification in a wrapper, then PhET would eventually pull the sonification back into the sim (since it ultimately needs to be available in non-PhET-iO versions.)

[2016-09-02 02:15] samreid commented on #1
I'm going to take a look at this tonight.  Commits coming soon, if I make any progress.

[2016-09-02 03:17] samreid commented on #1
Initial draft is working OK, the link is http://localhost/phet-io/html/wrappers/audio.html?sim=energy-skate-park-basics&screens=1&pitchProperty=energySkateParkBasics.introScreen.model.skater.skaterPositionProperty&pitchAccessor=y

[2016-09-02 03:22] samreid commented on #1
@jbphet I'm at a good point to discuss this, please let me know when we can chat.

[2016-09-02 18:52] samreid commented on #1
Published here: https://phet-io.colorado.edu/0.1/sims/energy-skate-park-basics/1.2.0-dev.1/phet-io/protected/wrappers/audio-local.html

I also updated the links in this version so it can be downloaded and run from file:// or localhost with no dependencies and no password required.

@ariel-phet can you take a look?  You probably already know this, but we want to focus on keeping the implementation

[2016-09-02 19:32] ariel-phet commented on #1
@samreid certainly working...I know we don't want this to be beautiful, but for demo purposes it might be good to choose a slightly more pleasant sonic representation, more less the same thing you have done but perhaps a little less harsh :). Would be good to ask @jbphet to spend just a few minutes for something a bit more pleasant.

Can you give a "high level" description in this issue as to what

[2016-09-02 19:47] samreid commented on #1
@jbphet can you take the lead on this, but let me know if I can assist?

[2016-09-02 20:31] samreid commented on #1
I can do this part--I'll create issue #3 for it.

[2016-09-02 20:36] samreid commented on #1
Each instrumented PhET-iO simulation has a number of variables that can be accessed from outside the simulation.  The list of available simulation variables can be obtained by running the "Instance-proxies" wrapper from http://localhost/phet-io/html/dev-wrappers.html.  Some of the variables are "Axon Property" values which means you can get their current value and receive a notification when the v

[2016-09-02 20:40] ariel-phet commented on #1
@samreid I think that is good for now, thanks!

[2016-09-06 21:23] samreid commented on #1
@ariel-phet @jbphet prepared a new version which I posted here:
https://phet-io.colorado.edu/0.1/sims/energy-skate-park-basics/1.2.0-dev.2/phet-io/protected/apps/audio/audio.html?sim=energy-skate-park-basics

If it checks out, I'll want to do a few manual steps to make sure the file stands alone nicely before you deliver it to our collaborators.

[2016-09-06 21:33] ariel-phet commented on #1
An improvement, and will do the job for now. Thanks @samreid

[2016-09-06 21:42] samreid commented on #1
OK I've filled in relative paths so it should launch from anywhere (with the password).  Do not give out PhET's password, when they have signed a license agreement, let me know the name of their group or organization and I or Matt will create them a password:

https://phet-io.colorado.edu/0.1/sims/energy-skate-park-basics/1.2.0-dev.2/phet-io/protected/apps/audio/audio-local.html

[2016-09-06 21:44] ariel-phet commented on #1
by an agreement, I assume you mean our CLA, or do you mean a PhET-iO agreement?

Just FYI, I already shared a demo (and PhET's password) with the IDRC folks today, did not seem like a big deal since they are collaborators and have signed an institutional CLA.

[2016-09-06 21:48] samreid commented on #1
It probably did not do any harm to use PhET's password today, but I'd recommend for future usage creating separate accounts for each of our collaborators who need to access the protection PhET-iO materials.  Shall we create accounts for "idrc" and "georgia-tech"?

[2016-09-06 22:01] ariel-phet commented on #1
@samreid sounds good

[2016-09-06 22:02] ariel-phet commented on #1
Perhaps make a doc in the phet-io repo (or on unfuddle) to document?

[2016-09-07 21:47] samreid commented on #1
This issue will help us create passwords for idrc and georgia-tech:
https://github.com/phetsims/phet-io/issues/601

There is a "managing-passwords.md" on phet-io that describes how to create passwords for PhET-iO.  It is somewhat of a "faux-pas" to store passwords in plain text--if a group forgot their password we would probably just create them a new one.

[2016-09-07 21:52] samreid commented on #1
OK I'll leave this assigned to @ariel-phet since the next step will be sharing to GT.

[2016-09-08 00:52] samreid commented on #1
On the other hand, it would be a nice idea to keep a private list of the groups that have passwords.

[2016-09-08 00:53] samreid commented on #1
In the private link mentioned above ⬆️  there is an issue for adding a list of groups that have phet-io passwords.

[2016-10-24 16:40] ariel-phet commented on #1
Assigning over to @emily-phet now that she is back and the direct contact for the sonification work

[2016-10-24 18:30] emily-phet commented on #1
@ariel-phet A few questions:
I'm guessing the demo has not been shared with Georgia Tech, correct?
Is there a timeline for when BAA can have this capability implemented? (I know that PhET-iO instrumentation of BAA is in progress, but wasn't sure of the timeline for that and any additional work

[2016-10-24 18:44] ariel-phet commented on #1
@emily-phet
- reminder to please assign me issues (especially now that github has multiple assignees, if not I might miss something)

- I believe the demo has been shared with Georgia Tech, not sure if they looked at it though
- timeline is a little up in the air. @jbphet is going to start getting up to speed on instrumentation, and begin chipping away. So ideally if the timeline for Georgia Tech

[2016-12-14 20:06] emily-phet commented on #1
Timeline has been determined - first two screens of BAA already instrumented with PhET-iO as needed by Sonification Lab). Plans for instrumentation of other sims Sonification Lab will work with are in place. Licensing relationship is also under way.

[2016-12-14 20:06] #1 closed

[2017-03-24 16:08] jbphet opened #3 "Can we use the library "flocking" for sonification if needed?"
There is a JavaScript library called "Flocking" that is based off of an open source product for sound generation called "SuperCollider".  It may work well for us to use this library, since some of the people with whom we are collaborating may be using SuperCollider to design sounds, so using flocking may give us a reasonably easy path for getting the designed sounds into an actual sim.

There are

[2017-03-24 16:12] jbphet commented on #3
I emailed @samreid asking about this, and here was his response:

https://www.safaribooksonline.com/library/view/understanding-open-source/0596005814/ch06s07.html

[2017-03-24 16:13] jbphet commented on #3
In another email in the dialog, @samreid said:

[2017-12-12 22:35] jbphet opened #4 "how do we determine whether a sound effects library can be used?"
We have a contractor who is doing some work for the sonification effort, and he has a library (and maybe several) that he would like to draw from.  How do we determine whether sounds from a given library can be used?  As we figure this out, I'd like us to keep track of the specific library or libraries in question and log our determination in this GitHub issue.

[2017-12-12 23:51] samreid commented on #4
PhET has a number of constraints due to our grants, commercial partners and we need to be able to relicense our products, hence we usually need to have new license types approved by our lawyer.  If the artist that created the sounds can cross-license them to PhET as public domain things get a lot simpler.  As described in https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md#third

[2017-12-13 13:19] emily-phet commented on #4
@ariel-phet and/or @kathy-phet Can you take a look at the license @Ashton-Morris links to here: https://github.com/phetsims/tambo/issues/4#issuecomment-351221789. My interpretation is that this would not be compatible with our use - and we should go ahead and assume that the sounds from these libraries cannot be used - but I'm curious about your thoughts first.

[2017-12-13 20:20] ariel-phet commented on #4
I am no lawyer and generally stay out of these questions. My common sense opinion would be that the license above seems quite incompatible.

[2017-12-13 20:22] kathy-phet commented on #4
I reviewed it, and agree. Since it does not allow re-licensing, we cannot use sounds made with these libraries.

[2017-12-13 20:27] kathy-phet commented on #4
A source like this: https://freesound.org/ has creative commons licensed sounds, but quality is likely variable and not customizable.

[2017-12-14 15:29] Ashton-Morris commented on #4
Ok I will source my own material from now on. Thanks for looking into it.

[2017-12-14 16:17] jbphet commented on #4
Seems like we've reached a clear conclusion - thanks everyone.  Closing.

[2017-12-14 16:17] #4 closed

[2017-12-19 22:44] jbphet opened #5 "At what level should our sound effects be mastered?"
We are using a number of different sound effects in various sims, and the number is growing as we experiment with sonification.  The loudness of the sound effects varies quite a bit, which makes them challenging to mix in a sim, so I think it would be good for us to standardize on some value.  I took a quick look around on line and found a short article on the topic, see http://www.creativefieldre

[2017-12-28 20:19] jbphet commented on #5
I found a posting that sounded pretty reasonable here: http://exchange.designingsound.org/questions/question/what-kind-of-levels-do-you-shoot-for-with-your-own-sfx-library-samples/

In short, this guy recommends using levels that reflect that actual sound level that a listener would hear, and he recommends (and I think these are for the peak level, not RMS):

+ Specifics, loud (ex., metal hits, tr

[2018-01-02 21:05] mikewinters10 commented on #5
Yes, I also think it would be a good idea to standardize somehow. Those
values seem good to me, assuming they are for dBFS. If we use dB, we should
probably create a 'dbAmp' method that would allow us to easily get a
amplitude value (e.g. 0.dbAmp = 1, -10.dbAmp = 0.316).

Related to this, it seems like it would be a cleaner to normalize all audio
samples on the backend and set the levels in code.

[2018-01-03 17:34] jbphet commented on #5
Yes, the values are in dBFS, thanks for bringing that up.  I'll edit my previous comment above to make it more clear.

@mikewinters10 - I'm not quite sure what you mean when you say, "[I]t seems like it would be a cleaner to normalize all audio samples on the backend and set the levels in code."  Can you please clarify?  Are you saying that we should normalize them all to 0 dBFS (or just below)?

[2018-01-07 22:11] mikewinters10 commented on #5
Sure, what I mean is that instead of having a lot of sound samples with
undetermined amplitude, we could standardize this by normalizing all
sound-samples to 0dBFS (or just below e.g. -3dBFS). That way, when we
specify that a sound clip will have an amplitude of -10dB in one sim, we
will know that if we use another sound clip in a different sim at -10dBFS,
they will have the same amplitude.

On We

[2018-01-09 17:38] jbphet commented on #5
So it seems the question is whether to master things at close to the max level so that we have full control in software, or master them at a level that would be close to how loud we would want them in a sim at default volume levels.  I think I'd lean towards the latter, given the blog post that I referenced above, but I'm not wedded to it.  I'll ask @Ashton_Morris too and see if he has any opinion

[2018-01-09 20:39] Ashton-Morris commented on #5
Personally I usually master things at close to the volume that they will eventually be presented so there is less work down the road. But considering we will possibly be using the same sounds in different sims, overhauling old ones in the future, and that we have multiple people that might at some point be touching this then it might be best to stick to a consistent level.

It will take a bit more

[2018-03-14 21:46] jbphet opened #6 "What shall we do about IE11 and the lack of support for Web Audio?"
Internet Explorer does not support the Web Audio API.  In the previous work that was done to support sound in our simulations, a fallback case was added to `vibe/Sound.js` to allow pre-recorded sounds to be played in this browser.  As support for more elaborate sounds is integrated into PhET's code base, this workaround becomes harder to maintain, and may cause odd situations, since we intend to h

[2018-03-15 04:43] jessegreenberg commented on #6
In case it impacts the decision, PhET does not support IE11 for our screen reader features. Any sonification added for IE11 would not be guaranteed to work together with a screen reader.

[2018-03-15 12:42] emily-phet commented on #6
@jbphet - yes, we stopped supporting IE11 for screen reader access. We can drop support for IE wrt sonification.

@kathy-phet @ariel-phet Let me know if you have any concerns about this.

[2018-03-15 17:32] ariel-phet commented on #6
Probably we need numbers on IE11 useage numbers to make a more informed decision about dropping it completely (doubt we can do that yet). But dropping support of sonification seems reasonable.

Let's ask @oliver-phet to get us some numbers.

[2018-03-15 18:56] oliver-phet commented on #6
In the last month, IE11 was 94.51% of our Internet Explorer usage which is 4.01% of all browsers. In total  3.78% of usage.

[2018-03-15 20:48] ariel-phet commented on #6
@oliver-phet can you do the same for Edge for comparison?

[2018-03-15 21:02] oliver-phet commented on #6
Edge (all versions) is 3.64% of usage in the last month.

[2018-03-16 12:38] emily-phet commented on #6
A note regarding accessibility - major screen reader software (JAWS) is dropping support of IE11, which is a primary reason we also dropped it from our testing. It's still heavily used by AT users for historical reasons but the community is trying to move away from it. It was greatly complicating our testing, and we had previously decided to test using only the primary browser for each of the thre

[2018-03-17 03:46] ariel-phet commented on #6
Agreed now, dropping IE for sonification work seems totally acceptable. However, we cannot yet drop IE 11 as a generally supported platform.

[2018-03-17 03:48] ariel-phet commented on #6
So @jbphet to be clear, this option you mentioned seems most appropriate

[2018-03-19 16:20] jbphet commented on #6
Great, thanks for the quick and clear decision.  That's what I'll do.  Closing.

[2018-03-19 16:20] #6 closed

[2018-04-12 18:22] phet-steele opened #7 "TypeError: Cannot read property 'browserTabVisibleProperty' of undefined"
[code]

[2018-04-18 21:44] jbphet opened #8 "Is license entry correct and can we use this impulse response?"
I just incorporated a new impulse response into the sonification manager.  I got this impulse response from a site that says that the file is CC Public Domain.  I'd like to double check that we can indeed use this recording and that the license entry is correct.  @samreid - since you seem to know the most about licensing, please take a look at tambo/audio/license.json, check out the entry for empt

[2018-04-18 21:45] jbphet commented on #8
One thing I'm wondering about in particular is the copyright entry.  It doesn't seem quite correct to have it say that CU owns the copyright, but I'm not sure what should go here in its stead.

[2018-04-18 22:36] samreid commented on #8
Public domain audio is probably fine, but let's run it past @kathy-phet before publishing something with it.

How about:
[code]

[2018-04-20 16:51] jbphet commented on #7
This issue was due to asynchronous running on the Sim constructor in order to support the progress bar, and it only occurs in the built version.  This was fixed temporarily by commit https://github.com/phetsims/tambo/commit/ea2f701da90d983f8a1d03926f8e1d06f02147a2.  The long term solution will be to have sonificationManager initialized in Sim.js.  Closing.

[2018-04-20 16:51] #7 closed

[2018-04-20 19:47] jbphet commented on #8
I went with something close to what @samreid suggested, but a little simpler.  It looks like this:

[code]

[2018-04-20 19:50] jbphet commented on #8
Over the @kathy-phet to decide if this is okay.  Also adding @ariel-phet in case he can just resolve.

If licensing issues for impulse responses like this are a hassle, we could obtain a stereo recorder for about $200 or so where we could just record our own.

[2018-04-24 18:04] ariel-phet commented on #8
Spoke with @jbphet - if such recording needs come up in the future, or we are unhappy with the current impulse, or we are unhappy with the licensing we will just go ahead and purchase the recording device.

Reassigning to @jbphet to bring up to Kathy at status meeting and get a quick answer.

[2018-04-25 14:34] jbphet commented on #8
Okay, sounds like this is settled and we will use the "empty apartment" impulse response, at least for now. Closing.

[2018-04-25 14:34] #8 closed

[2018-06-01 17:29] jbphet opened #9 "Add activation of audio context on user events if suspended"
Chrome is adding a feature to block autoplay of audio when a website loads, and that unfortunately prevents sound generation from our simulations.  Code has been added to the published sound generation code in the vibe repo that turns sound on once the user interacts with the sim, see https://github.com/phetsims/vibe/issues/32.  That same fix needs to be incorporated into the sonification manager.

[2018-06-01 19:13] jbphet commented on #9
I've added the fix, and also improved the handling for activating audio on iOS.  This seems to work well, but it's hard to be 100% certain until Chrome adds back autoplay blocking.  I tried testing via an incognito window, but the audio context was never suspended in this case.  I'm going to leave this issue open but unassigned and deferred, and will add a reminder on my calendar to test again whe

[2018-06-08 21:50] jbphet opened #10 "Demo doesn't run on IE11"
We recently decided that, due to lack of support for Web Audio, sonification won't be supported at all on IE11, see https://github.com/phetsims/tambo/issues/6.  However, sonification shouldn't prevent the sim from running at all, and I just tested the current master version of the demo (which is probably about the same as v0.0.0-dev.0, but I can't test that because bayes is down), and it doesn't l

[2018-06-11 19:28] jbphet commented on #10
I created a stubbed audio context that supports the methods and objects used so far, and this solves the immediate issue by allowing the demo to run on IE11, but this solution is less that ideal since it could be easily broken by using some new Web Audio API methods.  I looked around for a stubbed polyfill that does essentially what I'm trying to do here, but didn't find anything.

I'm going to le

[2018-06-14 19:38] jbphet opened #11 "How should we control sound on/off in sonified sims?"
Sonification enabled/disabled is going to be a global setting. How should the user control it?

[2018-06-14 19:39] jbphet commented on #11
This was discussed in the 6/14/2018 design meeting, and we decided to add a smallish control to the right side of the nav bar.

[2018-06-14 20:53] jbphet commented on #11
@samreid suggested looking at `KeyboardHelpButton` button as an example of how to add this.

[2018-06-14 20:55] jbphet commented on #11
@pixelzoom pointed out that there is a flag named `accessible` that is supported in the package.json files for each sim that is used to control whether the KeyboardHelpButton is enabled, so I should look at how that is used and follow a similar pattern for how a sim decides whether to display and hook up the volume on/off button.

[2018-06-14 20:56] jbphet commented on #11
During the design meeting mentioned above, we decided that I'd prototype this and present it to the group rather than having anyone create mockups first.

[2018-06-14 20:59] jbphet opened #12 "Add ability to set the sonification level"
Sonification supports two levels, "basic" and "enhanced".  The user needs to be able to select the setting.

[2018-06-14 21:04] jbphet commented on #12
We discussed this in the 6/14/2018 developer meeting and decided to put this on the PhET menu, and have it behave the way the "Full Screen" option behaves, which is to say that selecting it will turn on enhanced sound and will put a check mark in the menu next to the item.  There was some concern that having this control be separated from the sound on/off button wasn't ideal, but @emily-phet point

[2018-06-14 21:05] jbphet commented on #12
@emily-phet - how about having the label for this be "Enhanced Sound"?

[2018-06-14 21:26] jbphet opened #13 "How should disable of sound generation during reset work?"
As of this writing, the sonification manager (soon to be renamed sound manager) has no awareness of which screens are associated with which sounds.  One of the early incarnations *did* have this awareness so that continuous sounds associated with a particular screen could be muted when that screen was not visible, but that was replaced by associating a sound with a Scenery node and disabling that

[2018-06-14 21:33] jbphet commented on #13
@samreid suggested just passing in an enable control property that corresponds to the reset when the sound generator is registered, so that the sound generator doesn't need to be aware of resets at all.  This would work pretty well for most things, but will require passing the reset emitter or "resetNotInProgress" property down to any composite components that are created, which could be a bit of

[2018-06-14 21:35] jbphet commented on #13
@zepumph suggested having separate instances of the sonification manager, one per screen (similar to how `ScreenView` works for the visual presentation), and each of those would have its own resetInProgress property.  This could work, but we'd still need a single root instance where global control occurred (e.g. sound enabled, basic/enhanced, etc).

[2018-06-14 21:36] jbphet commented on #13
@ariel-phet suggested that I mark this for the next dev meeting and we discuss it further there.

[2018-06-20 19:03] jbphet opened #14 "Stopping a looping sound can cause an audible glitch"
To duplicate, go to the 2nd screen of https://phet-dev.colorado.edu/html/tambo/0.0.0-dev.1/phet/tambo_en_phet.html and switch the A/B switch back and forth.  Much of the time when the sound is turned off a sort of click can be heard.  I think this is because calling AudioSoundBuffer.stop causes an immediate stop, which probably sets the output immediately to zero.  We should probably use a combina

[2018-06-21 04:50] samreid commented on #13
I'm confused--it is already muted if it is on another screen, so how is this a problem?  That is, how does it cause a problem to mute sounds from non-selected screens?  I'm guessing I'm just misunderstanding something about the problem.

[2018-06-21 19:33] jbphet opened #15 "Add query parameters for sound on/off, level"
Sound on/off and sonification level (basic or enhanced) are global parameters that are being added for sonification.  These should be initially settable via query parameters.

[2018-06-21 23:19] jbphet opened #16 "Modify how enable/disable affects one-shot sound clips"
The behavior of one-shot sound clips was discussed in the sonification framework design meeting on 6/14/2018, and here are some things that need to be done:

+ Sound generators should have an option that determines whether sound generation can be initiated when the sound generator is enabled.  This makes it so that if a sound that is long is initiated when sound is disabled, then sound is enabled,

[2018-06-23 01:51] samreid commented on #13
So we will need to pass the soundManagerScreenInstance into each ScreenView and recursively to its components?  Also @jbphet I'm still confused about the nature of the problem, can you please respond to https://github.com/phetsims/tambo/issues/13#issuecomment-398975266 at your convenience?

[2018-06-25 21:08] jbphet commented on #13
I don't think we will need to pass it into the ScreenView so much as create it there, at least that's what I'm thinking at this point.  And yes, if sub-components need to add sounds, it would need to be passed to that sub-component.

It's not a problem in the sense that any incorrect behavior would occur, it's just a bit architecturally ugly because notifications of reset on one screen will be goi

[2018-06-26 02:23] samreid commented on #13
I thought we had discussed something like passing a `resetEmitter` into screen sub-components.  See https://github.com/phetsims/tambo/issues/13#issuecomment-397445496  How is passing a `soundManagerScreenInstance` to screen sub-components a superior alternative?

[2018-06-26 16:35] jbphet commented on #13
@samreid - unfortunately you were unavailable for the last sonification meeting where this was discussed.  I'll put it on the agenda to re-discuss this Thursday before I begin implementation.

[2018-06-26 21:30] jbphet opened #17 "What should the default settings for sound be?"
As of this writing we have two global parameters for controlling sound, one that controls whether it is globally enabled or disabled, and one that controls whether the "basic" or "enhanced" level of sonification is provided.  We should decide what the default values are for these parameters.

I think we've essentially agreed that the default value for the level should be "basic", so please speak u

[2018-06-27 16:50] jbphet commented on #15
This is done, closing.

[2018-06-27 16:50] #15 closed

[2018-06-28 02:59] ariel-phet commented on #17
@jbphet I agree that the default value between "enhanced" and "basic" should be "basic" - that seems to fit with many of the discussions we have had.

As for sound on or off by default, that seems a bit trickier. I feel like PhET has gone back and forth on this question on different sims. I think for instance games often have sound on by default, whereas some sims like Pinko have it off. I don't h

[2018-07-02 21:53] jbphet commented on #16
The behavior described above has been implemented, and a dev version was published that demonstrates, see https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.2/phet/tambo_en_phet.html.  We reviewed this at the 6/28/2018 sonification framework design meeting and the behavior was approved.  Closing.

[2018-07-02 21:58] jbphet opened #18 "Should the sonification support be added to all sims, or just the sims where it is being used?"
The title states the essential question.  The tradeoffs are:

+ Adding it to all sims will increase the size by some amount and possibly the load time, since the sound manager will be creating an audio context, some gain stages, and convolver, etc.  This could be moved into the initialize call if desired.
+ Adding it only to simulations that use it will cause Sim.js to be a bit more complicated, a

[2018-07-09 22:29] jbphet opened #19 "Decide on layout of sound control icon on the nav bar"
This was discussed in the 7/5/2018 sonification design meeting, and there were a lot of ideas, and eventually we decided to log an issue and assign it to @arouinfar for a mockup or two.  Here is a screenshot from the master version of tambo:

![image](https://user-images.githubusercontent.com/3082831/42479249-2b550d42-8395-11e8-90f6-0df53bece43f.png)

In general, folks are thinking that the icons

[2018-07-10 23:21] jbphet commented on #18
I temporarily configured two sims, Charges and Fields (CAF below) and Color Vision (CV below), for sound support and quantified how much larger the built sim was, how much more memory it used, and how much longer it took to load.  I used these two sims because they are single screen, so they have already initialized a screen once loaded, and also because neither has any sound support at the moment

[2018-07-10 23:23] jbphet commented on #18
Marking for developer meeting to decide whether to add the code to joist in such a way that all sims include this library (which is less complicated but incurs the costs described above) or such that only the sims that need it include this library (more complicated).

[2018-07-10 23:52] jbphet opened #20 "Make the sound on/off icon more compatible with the keyboard icon"
At the review meeting on 7/5/2018 we decided that the sound on/off icon should be changed a bit to look more compatible with the keyboard icon, which it will often be beside on the nav bar.  Specifically, it should have thinner waves and a thinner X that look more like the stroke used on the keyboard icon.

[2018-07-11 16:50] #16 closed

[2018-07-11 21:06] pixelzoom commented on #18
My understanding is that all sims will _eventually_ have sound, the same way that all sims will eventually be accessible, be instrumented for phet-io, etc.  So longterm, the answer is "yes", include this code in all sims and initialize the sound manager at startup.  But in the meantime...

Is it advantageous to keep this code out of sims that don't use it? Or skip initialization of sound?   If yes

[2018-07-11 23:07] arouinfar commented on #19
I increased the weight of the wire stub coming out of the keyboard, so that's it's more similar to waves leaving the speaker.

![screen shot 2018-07-11 at 5 02 17 pm](https://user-images.githubusercontent.com/8419308/42603725-32b0e564-852c-11e8-8fe5-37a3032e8e54.png)

I think the most reasonable alignment would be to either center-align the icons with the P in the logo (top) or the PhET logo as a

[2018-07-11 23:10] samreid commented on #18
3 seconds longer on iPad sounds like a lot. How many runs did you do to obtain for these numbers (or just one sample each)?  How can I reproduce these results?

[2018-07-12 17:13] arouinfar commented on #19
Flipped sound and keyboard icons, and then center-aligned the keyboard body with the speaker icon. Both icons are center-aligned with the 'P'.
![image](https://user-images.githubusercontent.com/8419308/42648515-6b244ce0-85c4-11e8-98c7-f173fabefebf.png)

[2018-07-12 17:20] jbphet commented on #19
Note: Shorten the keyboard cord so that it doesn't go above the P in PhET.

[2018-07-12 17:54] jbphet commented on #18
Consensus during meeting:
+ Go for always included, selectively initialized
+ Publish dev versions of CAF and CV that support this (one offs)
+ Consider adding some logging that will back it easier to evaluate the cost of initializing the sound manager
+ Have QA gather load time data on all supported platforms

[2018-07-12 20:13] jbphet commented on #20
I showed the "thinned out" version in the 7/12/2018 sonification meeting and the consensus was that it looked good.  Closing.

[2018-07-12 20:13] #20 closed

[2018-07-13 17:17] pixelzoom opened #21 "document visibility of new query parameters"
We agreed in a recent dev meeting to indicate whether query parameters are internal or public facing.  This was not done for the new `tambo` and `supportsEnhancedSound` query parameters.

I've been documenting like this:

[code]

[2018-07-13 21:11] jbphet commented on #21
Done, closing.

[2018-07-13 21:11] #21 closed

[2018-07-16 14:30] KatieWoe opened #22 ".createSoundGenerator is not a function"
[code]

[2018-07-16 18:26] jbphet commented on #22
Fixed, closing.

[2018-07-16 18:26] #22 closed

[2018-07-16 23:15] jbphet commented on #18
I have published snapshots of Charges and Fields and Color Vision prior to adding any sound support so that we can use them as baselines for comparison as this feature gets added.  Please see:
+ Charges and Fields: https://phet-dev.colorado.edu/html/charges-and-fields/1.1.0-dev.5/phet/charges-and-fields_en_phet.html
+ Color Vision: https://phet-dev.colorado.edu/html/color-vision/1.3.0-dev.1/phet/c

[2018-07-16 23:22] jbphet commented on #18
I just realized that I made a mistake above in comment https://github.com/phetsims/tambo/issues/18#issuecomment-403996200 - Color Vision is not a single screen sim.  Still, using it seems to have worked fine for some of the assessments, and perhaps it's good to have one single-screen and one multi-screen sim, so I'm going to continue using it.

[2018-07-17 15:22] samreid commented on #18
I wanted to try to reproduce this problem on my side, but after checking out joist "sound-control" branch and trying to launch Charges and Fields, I got this error:

GET http://localhost/charges-and-fields/js/TAMBO/soundManager.js?bust=1531840852811 404 (Not Found)

[2018-07-17 16:56] pixelzoom commented on #18
@jbphet said:

Leveraging font-awesome icons is very valuable, so I disagree that we should jump immediately to "coding our own version".   I find it difficult to believe that the small number of icons that we're using are responsible for 4MB.   I suspect that we're paying the price for icons that we're not using.   And that's because of how FontAswesomeNode is implemented, not anything inherent i

[2018-07-17 16:58] samreid commented on #18
Indeed FontAwesome.js includes 21 icons and is only 14KB.

[2018-07-17 17:01] pixelzoom commented on #18
@jbphet said:

How did you determine this?

[2018-07-17 17:07] jbphet commented on #18
Memory usage (i.e heap space), not code size.

I ran the test with Font Awesome nodes for the icons, then replaced those icons with plain Scenery rectangles, and found that the former used almost 4MB of additional heap space.

This may well be true, i.e. loading one Font Awesome node causes them all to be interpreted.  I'll investigate.

You can resolve this error by either running the tambo demo,

[2018-07-17 17:20] samreid commented on #18
Thanks @jbphet, I'm seeing the same 4MB you referred to, tested over 3 trials:

![image](https://user-images.githubusercontent.com/679486/42834123-67a48b46-89b3-11e8-84c8-11f90273f8d3.png)

But I cannot easily tell from the heap comparison that the difference is due to font awesome.

[2018-07-17 17:25] samreid commented on #18
I also replaced the FontAwesomeNode with Rectangle and saw the heap sizes change:
?tambo: 19.3MB
without: 19.0MB

[2018-07-17 17:41] samreid commented on #18
@jbphet and I worked on this and isolated the 4MB memory usage to the volume up icon.  When running a sim with the volume up icon it runs 4MB higher than when using the volume down icon.  Perhaps kite/scenery ends up creating extra things for rendering the sound waves (that is an 887 character SVG path compared to 158 character for volume down).  @jbphet said he is coordinating with @pixelzoom to

[2018-07-17 17:48] jbphet commented on #18
Sorry - I did say "Chris", but I meant @chrisklus.

[2018-07-17 22:33] jbphet commented on #3
Interest in Flocking has waned, and the sound designers aren't using it much lately.  Also, most of the sounds that we're ending up using are recorded sounds, not synthesized one.  I think it's okay to close this issue.

[2018-07-17 22:33] #3 closed

[2018-07-17 22:59] jbphet opened #23 "Quantify the amount of memory used by various sound generators"
I'm about to add code to handle removal and disposal of sound generators, and I thought it would be good to have a record of how much memory the sound generators use to make sure that they don't consume an inordinate amount of heap memory in the browser.

I'll use a published version for this so that it can be repeated, so either we will need to publish a one-off (which we may do for looking at th

[2018-07-18 01:00] chrisklus commented on #19
@jbphet and I worked on drawing out the sounds icon with code instead of using the font awesome icon since it was 4 MB.

In the process, we addressed what hadn't yet been done on the code end to match @arouinfar's screen shot from above, including vertically center aligning the icon with the 'P' and evenly spacing out the icons horizontally. I also slightly decreased the stroke of the X lines and

[2018-07-18 16:49] samreid commented on #19
I recall that I proposed the empty speaker icon on Thursday, but it was not well received.  I think @arouinfar was in that conversation?  @arouinfar do you recall?

[2018-07-18 16:59] arouinfar commented on #19
@chrisklus the icons are looking really nice!

@samreid and I discussed the stroked speaker over Slack on July 5th, which neither of us particularly liked. However, what we discussed was not as clean looking as the screenshot in @chrisklus's https://github.com/phetsims/tambo/issues/19#issuecomment-405775273, so I think it would be good to get some team feedback this week. I don't really have a str

[2018-07-18 17:01] samreid commented on #19
Sounds great @arouinfar, thanks!

[2018-07-19 23:02] samreid opened #24 "branch: vibe-tambo"
To support https://github.com/phetsims/vibe/issues/33

[2018-07-20 22:00] jbphet opened #25 "Add a query parameter to disable sound"
In https://github.com/phetsims/vibe/issues/28, we decided to add a query parameter that would turn sound all the way down regardless of what the user did.  This was originally motivated by the desire to keep sounds from startling the bejesus out of us when doing automated fuzz testing, but we made the query parameter public and may have let outside users know about it.

We'll need this functionali

[2018-07-20 23:10] jbphet opened #26 "Consider changing query parameter from "tambo" to "supportsSound""
While @samreid and I were working on the integration of the sound controls into joist, he suggested that we change the query parameter and configuration flag to enabled sound support from "tambo", which reflects the library name, to "supportsSound".  I quite like this.  The downside is that it could potentially be confusing in pre-tambo sims with sound support, since they would still support sound

[2018-07-20 23:41] samreid commented on #26
When https://github.com/phetsims/vibe/issues/33 is complete (which is already demonstrated in a branch), Vibe will be implemented with Tambo and hence the query parameter will still make sense.

[2018-07-23 18:49] jbphet commented on #19
During the 7/19/2018 meeting, we reviewed and tweaked the look, and arrived at the layout shown in the screenshot below with one exception: we want to try to round the back corners of the speaker (on the left of the icon).  Here's the layout that is almost there:

![image](https://user-images.githubusercontent.com/3082831/43096237-af81b012-8e75-11e8-8d58-0b0bc7ed3df8.png)

The issue that is blocki

[2018-07-23 20:10] ariel-phet commented on #25
@jbphet I think a flag is fine. However, would having a flag remove the ability to have a query parameter? If a teacher wants to be able to bring a sim up for the class with sound enabled/disabled that might be a nice configuration in the future as we begin to reveal more query parameters to the public.

[2018-07-24 16:23] jbphet commented on #25
A flag is a type of query parameter (in this context).  It's one that doesn't need a value, so it would be used like `<sim-url>?preventSound` versus something like `<sim-url>?soundAllowed=false`.

Exactly.  It would help us in the short term for testing, and it would likely be something that teachers would want at some point, especially when sound is on by default for lots of sims.

[2018-07-24 17:13] jbphet commented on #11
The sound on/off button has been added to the nav bar (see the issue referenced above for the commits).  I think it's okay to close this issue.

[2018-07-24 17:13] #11 closed

[2018-07-25 17:38] jbphet commented on #26
This is kind of true, but not entirely.  The query parameter is only intended to be used during the period that sound is being added to a sim.  This will allow us to publish from master if we have to without including a partially implemented sound design that is audible to users.  Once the sound is fully implemented for a simulation, the corresponding flag will be set in the Sim options, and sound

[2018-07-25 17:45] jbphet commented on #26
I'll be unavailable for the next developer meeting, but I'd still like to see if the group can come to consensus as to whether changing the query parameter as described is acceptable.  I'm bringing it up to the group because something like this was originally suggested, but there were concerns about confusion between support for sound using the old, simpler library (vibe) and the new more feature-

[2018-07-25 21:10] jbphet commented on #18
I published dev snapshots of CAF and CV, then merged in the sound-control branch, then published again.  The pre-merge snapshots are:
+ https://phet-dev.colorado.edu/html/charges-and-fields/1.1.0-dev.5/phet/charges-and-fields_en_phet.html
+ https://phet-dev.colorado.edu/html/color-vision/1.3.0-dev.1/phet/color-vision_en_phet.html

The post-merge snapshots are:
+ https://phet-dev.colorado.edu/html/

[2018-07-25 21:56] jbphet commented on #18
Assigning to QA to gather data on how much additional load time is incurred by the sound library when both off an on on several of the most representative platforms that we support.  I spoke with @KatieWoe, and she suggested using a modified test matrix to collect the data, which sounds good to me.

[2018-07-25 21:58] KatieWoe commented on #18
Testing Matrix:
https://docs.google.com/spreadsheets/d/1UJJBD0PAYkta0b1EaWktToXwPZm3e3sXWN1ktcUEmfE/edit?usp=sharing

[2018-07-26 15:38] jonathanolson commented on #26
I don't have any objections.

[2018-07-26 16:01] emily-phet commented on #25
Sounds good to me - we already have a scenario where this would be useful. We're planning user interviews where we would like to have the user explore a sim that has sound, but without the sound first. Then the user would explore with sound. This will allow us to get at some feedback on description specifically (our main focus for the interview), without complicating that initial discussion with s

[2018-07-26 16:52] Denz1994 commented on #26
I don't have a problem with changing the query parameter, but if we are flexible with the name ```supportsSounds```, I would suggest ```sonify``` or ```sonified```. ```supportsSounds``` doesn't seem specific to tambo or vibe since both libraries support sound.

[2018-07-26 18:11] jessegreenberg commented on #26
Without knowledge of context I would expect `supportsSound=false` to disable all sounds including those of `vibe` in the short term. I like `sonify`, but I have also heard that we are trying to not use "sonification" for this work as much. Maybe `tamboSound` or `enhancedSound`?

[2018-07-26 18:36] zepumph commented on #26
I see in phetsims/vibe#33 that having vibe run on tambo would cut support for IE. If we continue to support IE, then we may continue to have vibe run sound separately.

I agree, and I don't see a need to muddy these waters for this internal query parameter. That said, if we dropped support for IE and made tambo synonymous for all sim sound, then I think the new query parameter name would very good

[2018-08-03 19:36] KatieWoe opened #27 "Tambo crashes in Windows 8.1 and 7 IE11"
**Test device:**
Schrodinger and Bates
**Operating System:**
Windows 8.1 and 7
**Browser:**
IE 11
**Problem description:**
When trying to take away balls in the first tambo screen the sim crashes. For phetsims/QA/issues/160
**Steps to reproduce:**
1. Go to the first screen. Have the console open.
2. Add several balls to the box
3. Try to take one away

Screenshot:
![img_0234](https://user-images.g

[2018-08-06 21:20] jbphet opened #28 "Gather data on the sizes of encoded audio"
A while back it was observed that the size of the john-travoltage sim nearly doubled when prototype sonification was added (see details below).  It may be that other libraries grew at the same time, but it is important for us to understand the cost of adding sound in terms of file size.  We may be able to make some tradeoffs in terms of encodings, stereo versus mono, etc. in order to manage these

[2018-08-10 21:18] jbphet commented on #28
After starting on this, I've realized that the `du` command really isn't the best choice, since it provides the disk usage information rather than the actual file size.  Disk usage is generally a bit larger than file size due to the way disks work, which is to allocate storage in blocks [(more info)](http://www.differencebetween.net/technology/difference-between-size-vs-size-on-disk/).  I'm going

[2018-08-16 00:04] jbphet commented on #28
We can't really make decisions about the size of the encoded sound files without evaluating how the quality changes as the compression goes up (which is the same as the bit rate going down).  I've added the ability to do a comparative evaluation of some sounds to the third screen of the tambo demo.  The user can select a sound and several encodings and then play them.

I'm encouraged by what I've

[2018-08-16 04:31] ariel-phet commented on #28
After listening several times, it seems 48 kps will work for the bright marimba and reset all (I can notice a difference from 64 kps and such, but 48 kps still seems totally acceptable). 24 kps seems too low a quality in all cases.

For the Charges loop 48 kps does seem acceptable, but it is much more noticabley "muffled" to my ear, so for this sound 64 kps might be more appropriate.

[2018-08-16 18:30] emily-phet commented on #28
From my speakers, I had what looks like an opposite experience from @ariel-phet!
For Marimba and Reset All - 64kps seemed significantly better than 48kps.
For Charges loop - 48kps seemed workable.

Comparing with @ariel-phet findings, seems like 64kps across the board may be the way to go.

[2018-08-20 12:33] emily-phet opened #29 "Description of Tambo for annual report"
@jbphet
I'm writing the annual report for the grant that funds the sonification work. I'd like to include a section that describes Tambo. Could you draft up a 1-page document that includes a:

- Brief description of the relationship between Tambo and phet’s overall infrastructure
- Brief description of how Tambo is structured
- Summary or list of affordances of Tambo (for example, the relevant fea

[2018-08-20 23:13] jbphet opened #30 "Add option to sound clips for trimming the beginning of the sound"
Many MP3 encoders, including the LAME encoder that is often used in conjunction with Audacity (a popular open-source sound editing program) insert silences at the beginning of an MP3 file to allow the encoder to start up.  Here is an discussion on this topic: https://superuser.com/questions/938782/audacity-adds-a-gap-when-exporting-mp3.

This behavior can be problematic when looping, since the ins

[2018-08-21 22:32] jbphet commented on #14
I think this is now fixed, but I'd like to test more before closing, and I don't have time at the moment.  Will do so soon.

[2018-08-22 16:41] jbphet commented on #28
I've published a new dev version where I've used a consistent method for generating all encoded sounds, which is to start with a .wav file and use Audacity with the LAME MP3 encoder, constant bit rate.  I've also used the same bit rates for all three file types.  Finally, I improved the looping behavior for the lower bit rate loops.  It's not perfect yet on all platforms, but it's much better.  Th

[2018-08-22 16:46] jbphet commented on #28
As a note, I tried encoding both a stereo and mono version of the "Bright Marimba" and there was no difference in the file size.  I was using the "joint stereo" setting in the encoding process, which adds data about the differences between the two channels rather than having both channels fully encoded.  I think that the source file had essentially no differences between the two channels, and that

[2018-08-22 16:48] jbphet commented on #28
Because some of the sound generators use Web Audio oscillators to create synthesized sounds instead of using pre-recorded sound clips, I just did an experiment where I build the tambo demo with and without the PitchedPopGenerator sound generator in order to measure the file size difference.  The file was 1,880 bytes larger with this sound generator.

[2018-08-22 17:13] jbphet commented on #28
Informed Estimate of File Size Increase to Add Sound to John Travoltage
==============================================

The current sound design for John Travoltage has 11 pre-recorded sounds and 2 sound synthesizers.  Since @ariel-phet and @emily-phet found that an encoding of 64 kbps seemed acceptable for both the demonstrated sounds, I'm going to use the average size for the three sounds in the

[2018-08-22 17:35] jbphet commented on #29
I spoke with @emily-phet about this, and she said that the writeup is actually needed sooner than August 29th, so I'll be working on it today, August 22 2018.

[2018-08-22 18:34] jbphet commented on #29
@emily-phet - I've written a page, please take a look at https://docs.google.com/document/d/1aJxDVnLsxyyG5MZvMoVr4dJCWGIS3FPJaINSVwP8teQ/edit?usp=sharing and let me know if this will work and if you'd like me to make some changes.

[2018-08-22 19:15] jbphet commented on #9
There is some important information on this issue in https://github.com/phetsims/vibe/issues/32#issuecomment-412188222 and https://github.com/phetsims/vibe/issues/32#issuecomment-415147285.

[2018-08-22 19:54] jbphet commented on #28
The first simulation that is officially slated to have sonification added is John Travoltage.  My plan is to remove the existing prototype sonification that was added to this sim a while back, then publish a version of it with the original sounds only (the buzzing and "ouch" sounds that existed in the Java version) and use this as a baseline for comparing file size and memory usage.  I'll then add

[2018-08-22 21:57] pixelzoom commented on #28
It's difficult to evaluate feedback on quality without knowing what playback systems are being used. I don't see anything in this issue that describes the playback system that @jbphet is using.  And I suspect that @ariel-phet and @emily-phet had different experiences because they were using different playback systems.  So for anyone who is (or has) provided feedback, please describe your playback

[2018-08-22 22:00] pixelzoom commented on #28
In https://github.com/phetsims/tambo/issues/28#issuecomment-415098249, @jbphet said:

Did you rule out VBR (variable bit rate)?

[2018-08-22 22:06] pixelzoom commented on #28
I started to listen to the version in https://github.com/phetsims/tambo/issues/28#issuecomment-415098249, but stopped.  I can't provide useful feedback knowing (1) what playback system did @jbphet use to arrive at his conclusions, and (2) what is the baseline playback system, so I can choose a similar playback system to do my evaluation.

[2018-08-22 22:09] pixelzoom commented on #28
The baseline playback _environment_ is also important in evaluating the needs here.  Background noise  level can negate differences in quality.  So if the baseline environment is a relatively noisy classroom, any subtle improvements in quality will likely be lost.

[2018-08-22 22:17] samreid commented on #28
On my 15" 2015 MacBook Pro speakers with a bit of background noise, all of the sounds are indistinguishable except Marimba 8kbps which sounds duller than the others.

[2018-08-23 16:07] pixelzoom commented on #28
With Apple earbuds on a MacBook Pro (mid-2009):

Bright Marimba - slightly less percussive as bit rate decreases, most noticeable change from 16 to  8 kbps, acceptable down to 16 kbps
Reset All - acceptable at all bit rates, since this sound has little important high-end content
Charges Loop - less high end as bit rate decreases,  most noticeable change from 16 to  8 kbps, probably acceptable at a

[2018-08-23 16:13] samreid commented on #28
For comparison, John Travoltage's images/ directory is 212KB

[2018-08-23 16:33] pixelzoom commented on #28
@jbphet tested with head phones and some mid-range desktop speaker

[2018-08-23 16:35] jbphet commented on #28
Initial recommendation from this meeting: use 48 kbps by default, go higher if needed (and we concluded that it's needed for the marimba sound), and don't spend the time trying to minimize the size for each file.

[2018-08-23 16:43] jbphet commented on #28
As for the assets that we retain for the sampled sounds, we decided we will check in a PCM .wav file with a 44.1 kHz sample rate and the original source file from whatever application was used (e.g. Ableton, Reaper, Reason).

[2018-08-23 22:03] jbphet commented on #12
I've used the "Enhanced Sound" string, and it's been in place for a while with no objections.  I'm going to go ahead and close this issue.

[2018-08-23 22:03] #12 closed

[2018-08-23 22:15] jbphet commented on #27
@KatieWoe - this should now be fixed on master, can you please verify and, if no longer crashing, close this issue?

[2018-08-23 22:17] jbphet commented on #23
To be clear, what I want to check is heap memory.  Also, code was recently added that makes it easy to add and remove a bunch of one-shot sounds, loops, and synthesized sounds.

[2018-08-23 22:18] jbphet commented on #13
The muting during reset has been implemented as agreed to above, closing.

[2018-08-23 22:51] KatieWoe commented on #27
Confirmed on both Windows 7 and 8

[2018-08-23 22:51] #27 closed

[2018-08-23 23:27] jbphet opened #31 "Prevent playing of a loop if already playing"
Loops can be started multiple times on the current implementation, which leads to odd behavior such as that reported in https://github.com/phetsims/QA/issues/160#issuecomment-410399229.  There should be something that prevents a loop from being played if it is already playing.

[2018-08-23 23:35] jbphet commented on #31
@lmulhall-phet - the problem described above is the root cause if the issue you described in https://github.com/phetsims/QA/issues/160 in the 5th and 6th comments.  It should now be fixed on master.  I tested on the Mac that you and I were using when trying to reproduce this (Dirac), but have not tested on the iPad, so it would be good if you could verify on both.

[2018-08-24 19:00] jbphet opened #32 "Prevent appearance of sound control nav bar button on IE"
In https://github.com/phetsims/tambo/issues/6 we decided that we will stop supporting sound on IE when the sonification library is integrated into the mainline sims.  We are in the process of doing this integration now, and in the 8/23/2018 dev meeting we decided that the sound control button shouldn't appear at all on IE so that users aren't confused.

[2018-08-24 19:11] jbphet commented on #32
Done, but I'd like to leave this open and have it verified by QA on the first RC of a sim with sound support.

[2018-08-24 22:44] jbphet opened #33 "Scratchy and distorted audio on iPad 2"
This was reported during multi-platform testing of a dev version of the tambo demo, see https://github.com/phetsims/QA/issues/160#issuecomment-410363408.

[2018-08-24 22:52] jbphet commented on #33
I did a bunch of debugging and online research, an it appears that the problem is due to a bug in some versions of iOS where the audio context will change its sample rate to 48000 if anything is played at that rate, and then all subsequent playback of sounds that have a 44100 rate - or, for that matter, any playback from oscillators that were created when the rate was 44100 - has distorted audio.

[2018-08-24 23:03] jbphet commented on #33
I have added somewhat of a fix, but it feels a bit fragile.  I re-encoded some sounds that were using a 48 kHz sample rate so that none of the sounds used in the tambo demo use this rate, and this fixed almost all of the problems with the distorted sound.  However, I was still able to break sound production by using the memory testing on the 3rd screen to add a bunch of synthesized sound generator

[2018-08-28 16:39] jbphet opened #34 "Can we use sound effects governed by the RemArc license?"
@Ashton-Morris recently asked me whether we would be able to use sound effects from a set that was made available by the BBC, which can be seen at http://bbcsfx.acropolis.org.uk/.  The license is "RemArc" and is described here: https://github.com/bbcarchdev/Remarc/blob/master/doc/2016.09.27_RemArc_Content%20licence_Terms%20of%20Use_final.pdf.

Is this license compatible with PhET, and could we use

[2018-08-28 19:16] jbphet commented on #34
Dialog between @Ahston-Morris and the contact listed on the BBC page:

[2018-08-28 19:17] jbphet commented on #34
@emily-phet - I'm assigning this to you because I don't know who might be able to answer this, and though you might.

[2018-08-28 19:28] jbphet commented on #34
There's a link in the original comment at the top.

[2018-08-28 19:34] emily-phet commented on #34
Sorry - I meant what sounds from JT are we talking about?

[2018-08-28 19:36] jbphet commented on #34
Nothing specific for John Travoltage, it was just a general question about what could be used in future sound designs.

[2018-08-28 20:35] jbphet commented on #17
The consensus at this point is to have sound on by default, set to "basic", and the user has to use the PhET menu to turn on "enhanced" sounds.  We have decided that there should be a query parameter that can prevent sound from being enabled if it is turned on in the sim flags, but that will be handled in a different issue.  These initial settings have been implemented, so I think it's safe to clo

[2018-08-28 20:35] #17 closed

[2018-08-28 20:35] jbphet commented on #26
This has been done, closing.

[2018-08-28 20:35] #26 closed

[2018-08-28 20:37] jbphet commented on #29
I talked with @emily-phet and she has made edits and is good with what we've got.  Closing.

[2018-08-28 20:37] #29 closed

[2018-08-28 20:45] jbphet commented on #5
I discussed with with @Ashton-Morris a bit more today, and we decided that we will master sounds that are expected to be pretty prominent in the sound design at a level of -1 dbFS, and sounds that are intended to be more subtle or in the background of the sound design will be mastered at a level that is close to the expected playback level.

[2018-08-28 20:45] jbphet commented on #5
The plan noted in the previous comment seem reasonable for now, closing, will reopen or create a new issue if we need to revisit this for some reason.

[2018-08-30 21:43] jbphet opened #35 "Gaps or glitches in loops on different platforms"
Loop sounds that sound good on one platform often have a gap or a click when tested on another (e.g. Chrome vs Firefox on my Win 10 machine).  There is a lot of talk on line about how different mp3 decoders insert different amounts of silence when encoding, and I suspect that there is a similar effect from different decoders.

[2018-08-31 20:28] emily-phet opened #36 "Need to finalize best practices/protocol for archiving and documenting sound-related assets"
In working with a sound designer contractor on finalizing sound designs for John Travoltage, we ran into some new information we hadn't discussed previously when deciding what sound assets to archive.

Essentially, the sound clips we will be using are more like 'music' (e.g., like hiring a musician to create a song, and this does not come with the rights to all materials used to make the song, or

[2018-09-03 17:35] pixelzoom opened #37 "Cannot read property 'autoDetectLoopBounds' of undefined"
This CT failure is occurring regularly in tambo and sporadically in various other repositories (graphing-slope-intercept, gravity-force-lab-basics, john-travoltage, wave-interferences, wilder, ...)

Uncaught TypeError: Cannot read property 'autoDetectLoopBounds' of undefined
TypeError: Cannot read property 'autoDetectLoopBounds' of undefined
    at AudioContext.<anonymous> (https://bayes.colorado.

[2018-09-04 18:05] jbphet commented on #37
I'd messed up the options pattern, should be fixed now.  I'll leave this open and double check tomorrow the all CT tests are passing.

[2018-09-05 00:33] ariel-phet commented on #36
@emily-phet we were generally thinking along the lines of the .ai file that we collect with original artwork. Since we know that things will eventually be tweaked, remixed, reused, having the original assets is quite valuable when the original artist has moved on.

It sounds like things are a bit more complicated for sounds. Certainly the *.wav file will be important to have, but perhaps there cou

[2018-09-05 16:33] jbphet commented on #37
I'm no longer seeing any failures on CT, closing.

[2018-09-05 16:33] #37 closed

[2018-09-05 16:36] jbphet commented on #30
This feature has been added, but the commits were attributed to #35, which is essentially a duplicate issue.  I'm going to close this one to avoid further confusion, and all further commits with be attached to the other issue.

[2018-09-05 16:36] #30 closed

[2018-09-05 16:47] jbphet commented on #14
The testing should be done on multiple platforms, since lately I've noticed some significant differences in how the AudioContext behaves in different browsers.

[2018-09-12 20:13] jbphet commented on #28
The john-travoltage sim is the first one to which tambo-based sound generation is being added.  In version 1.4.0-dev.8, I removed all sound.  Its `_en_phet.html` file is 1691351 bytes.  In version 1.5.0-dev.2, all of the sound design was integrated and, though we need to do some mixing on this, I don't expect the sounds themselves to change much.  The version weighs in at 1759431 bytes.  The diffe

[2018-09-12 21:58] jbphet commented on #35
I've added code that detects and sets the beginning and end of the loop, and the situation is much improved, but it was points out that on the sonified version of JT that we are mixing on (https://phet-dev.colorado.edu/html/john-travoltage/1.5.0-dev.2/phet/john-travoltage_en_phet.html?supportsSound&supportsEnhancedSound), a glitch can still be heard, so we're not quite there yet.

[2018-09-13 17:29] jbphet commented on #28
Reviewed in sonificaton meeting, closing.

[2018-09-13 22:07] jbphet opened #38 "Consolidat OneShotSoundClip and LoopingSoundClip into one type"
As of this writing, there are two types that support the playing of pre-recorded sounds, one for one-shot sounds and one for loops.  These share a common base class, so much of their code is already common.  In the sonification framework review meeting on 9/6/2018, the development team expressed a preference for having these be a single type with options.  I had split them out a while back because

[2018-09-14 19:50] jbphet commented on #38
There's something that came up while doing this that I want to have a record of.  When OneShotSoundClipe and LoopingSoundClip were separate, I had an additional gain stage in LoopingSoundClip, called "localGainNode".  This was necessary because stopping the loop using `AudioBufferSourceNode.stop()` would often cause an audible click, so I used the gain node to do a fast fade out followed by a dela

[2018-09-18 04:36] jbphet opened #39 "Code review"
The tambo library is ready for a first round of code review.  The library itself should be reviewed as common code, i.e. code that will be used in all simulations that produce sound, which at some point will likely be all HTML5 sims.

The demo code will not be published as a separate sim, and should be reviewed for its ability to serve as a good example of the usage of the library as well as a dec

[2018-09-18 04:40] jbphet opened #40 "Add support for pause, rewind, and resume to SoundClip"
At a recent review meeting the ability to pause, rewind, and resume the sound from a sound clip was requested.  This seems like a good idea.  At the moment, none of the sound designs need this feature, but I'll implement it soon anyway so that it can be tested and reviewed before it's needed.

[2018-09-18 04:46] jbphet opened #41 "Add the ability to stop and otherwise manage instance of playing sounds"
The current implementation of `SoundClip` decodes the sound audio data at construction in a Web Audio `AudioBuffer`, and each time the sound clip is played a new `AudioBufferSourceNode` is created to play the sound.  This is done so that the sound can be played close together without canceling the playback of the existing sound.  This is how most Web Audio examples for playing pre-recorded audio w

[2018-09-18 04:48] jbphet commented on #41
I started experimenting with some aspects of this, and it turns out that calling `stop` on an `AudioSourceBufferNode` does **not** fire the `onended` event, so the object provided will need to wrap the `stop` method to make sure that the array of active source buffer nodes in the `SoundClip` instance doesn't leak memory.

[2018-09-18 16:40] pixelzoom commented on #39
With John Travoltage, use`&supportsSound&supportsEnhancedSound` and select "Enhanced Sound" from the PhET menu.

[2018-09-18 16:54] pixelzoom opened #42 "ES6 conversions"
Related to code review https://github.com/phetsims/tambo/issues/39.  This will be a list of ES6 conversions to consider.  I'll be editing this list while I'm doing the code review.

- [ ] `define( function( require ) {...}` to `define( require => {...} )`
- [ ] `inherit` to `class`
- [ ] `return tambo.register( 'foo', foo )`
- [ ] get rid of `self` where not needed
- [ ] get rid of `function` wher

[2018-09-18 17:10] pixelzoom opened #43 "enable TamboKeyboardHelpContent by default in demo"
Related to code review https://github.com/phetsims/tambo/issues/39.

`TamboKeyboardHelpContent` lives in tambo/js/demo/, but isn't enabled in the demo by default.  You need to add the `accessibility` query parameter.   Consider enabling it by default, by passing option `accessibility` to Sim in tambo-main.js, ala john-travoltage-main.js.

[2018-09-18 17:20] pixelzoom opened #44 "query parameter names"
Related to code review https://github.com/phetsims/tambo/issues/39.

initialize-globals.js contains query parameters `soundInitiallyEnabled` and `enhancedSoundInitiallyEnabled`, used exclusively in soundManager.js.  I think it would be fine to drop the "Initially" part of these names.  It would still be obvious what they are for, and it would be less verbose.

[2018-09-18 20:40] pixelzoom opened #45 "factor out helper functions"
Related to code review https://github.com/phetsims/tambo/issues/39.

SoundClip.js contains some private "helper" functions that are related to finding where sound starts and ends, etc.  The functions are `findSoundStartIndex`, `findSoundEndIndex`, `detectLoopBounds`, and (possibly) `logLoopAnalysisInfo`.   Consider moving these functions to another file, something like SoundUtils.js or whatever na

[2018-09-18 20:43] pixelzoom opened #46 "consistent names for booleans"
Related to code review https://github.com/phetsims/tambo/issues/39.

Boolean names are a bit inconsistent.  E.g. `SoundClip` has `isPlaying`, while `SoundGenerator` has `locallyEnabledProperty` and `fullyEnabledProperty`.   Should all boolean names have an "is" prefix? That was the message that I got when I worked on https://github.com/phetsims/scenery-phet/issues/388 recently.  On the other hand,

[2018-09-18 21:59] pixelzoom commented on #39
Code review is complete.

Overall the abstractions were easy to understand, and this looks like a good approach.  An understanding of Web Audio (and audio in general) is needed to understand and maintain tambo. I didn't need to dive too deep for this review, but that might be because I have an audio engineering background.

Besides the 6 issues that I created (linked above), most of what I did was

[2018-09-18 22:09] pixelzoom commented on #42
Code review is done, my list above is complete.  There are probably some other ES6 features that you could use for the sake of using them (spread operator, destructuring) but I really don't see the point unless it makes your code remarkably clearer.

[2018-09-19 17:08] jbphet commented on #43
I haven't enabled accessibility by default because the primary reason for supporting the `accessibility` option at all in this sim is to have a means to make the keyboard icon appear on the nav bar so that we can see how the layout looks in conjunction with the sound icon.  This sim doesn't really have much in terms of an accessibility implementation - no descriptions or PDOM cusomizations, or any

[2018-09-19 17:20] jbphet opened #47 "Add support for a 'sound' query parameter"
In the 8/30/2018 sonification design review meeting we collectively decided on an approach to handling some query parameter support for the sound feature.  The current plan is to have a 'sound' parameter that can be set to 'enabled' (the default), 'disabled', or 'muted'.  Enabled would be the case where sound is initially enabled.  The 'disabled' value would mean that sound is not available at all

[2018-09-19 17:20] jbphet commented on #44
This was a good reminder.  This feature is not quite finished.  In the 8/30/2018 design meeting we decided to have a 'sound' parameter that can be set to 'enabled' (the default), 'disabled', or 'muted'.  This would replace this functionality.  I'll log a separate issue for that, then close this one.

[2018-09-19 17:21] #44 closed, assigned to jbphet

[2018-09-19 18:12] jbphet commented on #45
Done as described.  Closing.

[2018-09-19 18:12] #45 closed

[2018-09-19 19:41] pixelzoom commented on #43
It sounds like the argument is that `TamboKeyboardHelpContent` is insignificant, so it's not worth turning on accessibility by default.  But it does exist, and it's in common code, so enabling accessibility by default would ensure that it's tested by CT.  As is, it's not being tested. And since it's "for internal use only", why not just have it on all the time? That is after all the longterm goal

[2018-09-20 02:57] samreid commented on #43
It is easy to add query string combination for CT.  In fact, some tests are run with `&accessibility`, see https://github.com/phetsims/aqua/blob/731d147d29653a9f823e97210b4ba085286406cc/js/continuous-server.js#L668-L676

After reviewing @jbphet and @pixelzoom remarks, I'm inclined to believe that tambo accessibility should be off by default.  This will match with the default of many sims.  Once mo

[2018-09-20 03:10] samreid commented on #46
Searching for `Property.<Booolean>`, I'm seeing cases like:

[code]

Searching for `{boolean}` I see cases like:
[code]

Some of these already have `is` and are very clear.  Some of them, such as `hasAreaEntry` are very clear and should not be changed to have an `is` prefix.  Some are plural like `allCollectionBoxesFilledProperty` which could use `are` instead of `is`.  I think `passed` and `anima

[2018-09-20 16:06] pixelzoom commented on #46
@samreid said:

+1.  I don't think we need/want a blanket policy.  But consistency is desirable for things that should have the same name.  E.g. we shouldn't try not to use both `playing` and `isPlaying` in common code.

[2018-09-20 17:04] Denz1994 commented on #46
An "is" or "has" as a prefix to me sounds like the start of a true or false question, which fits well for boolean types. Regardless of the name of the variable, the type should be referenced to determine if it's a boolean, so I don't have a strong opinion on a naming convention.

[2018-09-20 18:53] jbphet commented on #43
Discussed in the 9/20/2018 dev meeting, and we decided to go ahead and turn it on.  Be it known that the a11y implementation in this sim is the default, minimal functionality.

[2018-09-20 19:01] jbphet commented on #46
Discussed in the 9/20/2018 dev meeting, decided that having a blanket policy is probably not worthwhile, but it would be good to have consistent names for similar concepts in the common code.  For instance, we shouldn't have booleans named both `playing` and `isPlaying` in different places in the common code.  We looked through the common code and didn't see any usages of `playing`.  So, the gener

[2018-09-20 19:01] #46 closed

[2018-09-20 20:39] jbphet commented on #43
The option has been added to turn a11y on for this demo sim.  Closing.

[2018-09-20 20:39] #43 closed

[2018-09-24 23:22] samreid opened #48 "Improve iPad2 support"
I built a phet-brand version of John Travoltage, then used `js-beautify` to give helpful line numbers like so:

[code]

Then I tethered an iPad2 running iOS 9.3.5 to Safari 11.1.2 running on Mac OS 10.13.6.  The sim launched and ran properly, and I am able to use the arm and reset all button.  However, when dragging the leg, an error is produced.  I noticed these messages in the console:

![image]

[2018-09-24 23:49] jbphet commented on #48
Fixed, see commit for details, closing.

[2018-09-25 02:35] samreid commented on #48
Reopened to address @pixelzoom's comments.  Also, `NoiseGenerator.start` jsdoc should indicate units (is it milliseconds?)

[2018-09-25 18:54] jbphet commented on #31
The philosophy on this has changed.  The `SoundClip` type now allows a loop to be started multiple times, and we collectively decided that it is the client's responsibility not to start a loop again if it's already playing and they don't want multiples.  Closing.

[2018-09-25 18:54] #31 closed

[2018-09-25 18:56] jbphet commented on #18
We reviewed the additional load times and concluded that it was acceptable.  Closing.

[2018-09-25 18:56] #18 closed

[2018-09-25 18:59] jbphet commented on #39
At this point I've addressed all the `// REVIEW` comments and all of the GitHub issues that resulted from the review with the exception of the one about [finishing the ES6 conversion]().  I'm holding off on that one in order to try to get a release out that includes this library, and I'll tackle it in the next couple of weeks.

@pixelzoom - okay to close, or do you want to look through the commits

[2018-09-25 19:02] jbphet commented on #10
The stubbed audio context seems to be working reasonably well, and we've decided to keep it to allow the sims with sonification to run on IE11.  I've implemented code to prevent sound from being available in IE, and this will be tested shortly on an RC of john-travoltage, see https://github.com/phetsims/tambo/issues/32.  I think it's safe to close this one.

[2018-09-25 19:02] #10 closed

[2018-09-25 19:06] pixelzoom commented on #39
Took a quick peek, looks good, closing.

[2018-09-25 19:06] #39 closed

[2018-09-25 20:55] jbphet commented on #25
Superseded by https://github.com/phetsims/tambo/issues/47, closing.

[2018-09-25 20:55] #25 closed

[2018-09-26 00:45] chrisklus commented on #19
Corners are rounded, back to you @jbphet.

[2018-09-26 18:02] jbphet commented on #19
The recent RC for John Travoltage was published just before this change was made, so the two versions of the speaker icon can be compared easily by using the link https://phet-dev.colorado.edu/html/john-travoltage/1.5.0-rc.1/phet/john-travoltage_en_phet.html.  I compared them, and the rounded version looks reasonable to me (the difference is pretty subtle).  The code changes look good.  Closing.

[2018-09-26 18:02] #19 closed

[2018-09-26 21:36] KatieWoe commented on #47
Seems good to go 1.5.0-rc.1
Closing.

[2018-09-27 18:27] jbphet opened #49 "Make 'trimSilence' work for one-shot clips"
The `trimSilence` option, as of this writing, removes silence from the beginning and end of loops.  I should make it so that it also removes silence from the beginning of one-shot sounds so that they play more quickly.

[2018-09-27 19:15] jbphet commented on #47
During the testing, @KatieWoe showed me that having just "sound" as the parameter with no assigned value causes sound to be disabled.  This isn't what we want.  After talking with other devs, I found out that I can specify valid values for this, and if one isn't set, it will stop the sim from loading.  I'm going to implement this.

[2018-09-27 19:38] jbphet commented on #47
Note to self: This should go into the next RC of John Travoltage.

[2018-09-28 16:33] KatieWoe commented on #32
Unable to test on 1.5.0-rc.1 due to https://github.com/phetsims/john-travoltage/issues/314.  Should be tested in next rc

[2018-09-28 17:36] KatieWoe commented on #35
Everything sounds good.  Closing

[2018-09-28 17:36] #35 closed

[2018-10-01 19:04] jbphet opened #50 "Consider removing query parameters "supportsSound" and "supportsEnhancedSound""
The `supportsSound` and `supportsEnhancedSound` query parameters were added a few months back as a way to support the development of sonification on the master branch for a simulation without enabling sound generation by default.  The idea was borrowed from how accessibility is currently being developed.  The primary motivation for this is to prevent the accidental deployment of a sim with an unfi

[2018-10-01 19:14] jbphet commented on #50
This topic was discussed at the 9/27/2018 developer meeting, and at the end of that meeting we had decided that I should move forward with the removal of these query parameters with the caveat that I should discuss it with @emily-phet first (@kathy-phet suggested that).  @emily-phet and I discussed it today, and we decided that we should actually keep these around, at least for now.  Our reasoning

[2018-10-01 23:51] jbphet opened #51 "Consider pausing all sound generators that support it when sim goes inactive"
Issue https://github.com/phetsims/john-travoltage/issues/309 describes a problem where sound could keep playing when the sim is paused in the LoL framework.  To resolve that issue, I added code that essentially disabled sound generation when the sim is not active.  A more complete, but also more complex, solution would be to pause all sound generators that support it when the sim becomes inactive,

[2018-10-02 00:49] samreid commented on #50
The question of what's best seems to hinge on:

(1) How much longer do you mean by "significantly longer"?  6 months?  More?
(2) How often do we expect to publish a sim *from master* after sonification begins and before it is complete?

If (1) and (2) are both sufficiently high then the query parameters seem best.  I don't know either of those numbers, so I am not qualified to decide.

[2018-10-02 18:16] jbphet commented on #50
It's hard to quantify precisely, but @emily-phet described a possible situation where we start on the sound design implementation for a sim, then priorities shift and the complete implementation is delayed.  So, I think several months is a possibility.

I'm going to leave the query params for now and close this issue.  We can always remove them later if we decide they really are unnecessary.

[2018-10-02 18:16] #50 closed

[2018-10-03 21:45] jbphet commented on #5
@pixelzoom recently mentioned that there is a document and semi-standard that Apple created called "Mastered for iTunes".  The document is available [here](https://images.apple.com/itunes/mastered-for-itunes/docs/mastered_for_itunes.pdf).  Below is an excerpt that is relevant, I think, to this GitHub issue:

 already clipped, oversampling can make it worse. A growing consensus is emerging that dig

[2018-10-03 22:03] mikewinters10 commented on #5
-1dBFS seems like a good choice to me. This means that imported clips will
have the highest possible signal to noise ratio, and will be the loudest
they can be without clipping. If this volume is too loud for a given Sim,
it will be easy enough to master the levels in code.

Mike

On Wed, Oct 3, 2018 at 5:46 PM John B <notifications@github.com> wrote:

[2018-10-03 22:32] jbphet commented on #47
Addressed, closing.

[2018-10-03 22:32] #47 closed

[2018-10-04 17:14] jbphet commented on #40
We discussed the API for this in the 10/4/2018 sonification design meeting, and we decided that it would be good to have essentially two ways to control this.  The first would be quite consistent with the way other play/pause functions work in PhET code, and would look something like:

+ `setIsPlaying( isPlaying )`
+ `rewind()`
+ `getIsPlaying()`

On top of this, we could build methods that are pe

[2018-11-13 22:49] KatieWoe opened #60 "Static and significant performance issues."
For https://github.com/phetsims/QA/issues/219#event-1953042350
When testing iOS 9 I noticed that a staticy sound would be heard when using the sliders and reset button.  This is also seen on iOS 10.  In addition, iOS 12, and to a lesser extent 10, had significant performance issues.  When using the profiler querry parameter I saw the frame rate on iOS 12 drop as low as 15.  This occurred on the pu

[2018-11-27 20:53] jbphet commented on #28
Reopening.  I just made an update to https://github.com/phetsims/tambo/issues/28#issuecomment-415485395 above and I'd like a few other folks to review it and make sure there are no objections from people who know more about licensing than I do.  Assigning to @ariel-phet for now, he can decide who, if anyone else, should review and whether it should be brought up in dev meeting.

[2018-11-27 22:26] jbphet opened #52 "What shall we retain for sound assets?"
This issue originally came from https://github.com/phetsims/tambo/issues/28#issuecomment-415485395, but has become an issue unto itself.

The basic question is captured in the title, and concerns what we should keep around in terms of assets corresponding to the sounds used in a sim.  Originally, we were thinking that we'd keep the source files in the same way that we keep Adobe Illustrator files

[2018-11-28 17:42] emily-phet commented on #52
After thinking about this - perhaps the root of the issue lies in the role @Ashton-Morris is playing as designer. PhET as an entity isn't really creating the sounds that have a proprietary component in the source file. The ownership of those proprietary components is by @Ashton-Morris. Perhaps what might be useful is some documentation that @Ashton-Morris created the sounds, he licenses them (the

[2018-11-28 19:15] kathy-phet commented on #52
@emily-phet and I just discussed this issue. Ashton is working for PhET - either as a contractor or an employee - so it is not necessary or appropriate for him to license the file to us as CC-BY.

What you have here is fine for documentation:
  "07_Button_Reset_All_v3-8-kbps-mono.mp3": {
    "text": [
      "Copyright 2002-2018 University of Colorado Boulder"
    ],
    "projectURL": "http://phet.

[2018-11-28 22:09] emily-phet commented on #52
Thanks @kathy-phet
I think some of the confusion stemmed from the fact that we typically have the .ai files for artwork, but your comment:

addresses that.

[2018-11-29 19:38] rea-laura opened #53 "Sound does not work when phone is on silent"
<b>Test Device</b>

Weiss

<b>Operating System</b>

iOS 12.0.1
iPhone S

<b>Browser</b>

noticed while testing the new app (https://github.com/phetsims/QA/issues/225) but occurs in published sims as well on Safari

<b>Problem Description</b>

Simulation sounds will not work unless phone's ringer is on, no matter how the media volume is adjusted.

<b>Steps to Reproduce</b>

1) open app and go to a

[2018-11-30 18:08] jbphet commented on #52
Sound like the bottom line is that we keep the original .wav files and we keep the original source files if we can but we don't have to.  In the license file, we'll say who created it, as shown in the comment above.  That should do it, closing.

[2018-11-30 18:08] #52 closed

[2018-12-17 20:02] jbphet commented on #9
Chrome has added autoplay blocking in version 71, which is live as of this writing.  They added it in a smart way - basically, sound generation is initially blocked but is unblocked automatically once the user interacts with the web page.  This seems to work reasonably well for our purposes, though I have noticed some cases where if the very first thing the user does causes a sound, the sound kind

[2018-12-23 00:39] pixelzoom opened #54 "tambo dependency broke the instructions in "PhET Development Overview""
In https://github.com/phetsims/chipper/commit/688f8993c0ff3171cda26ef23ed1a2330558c154, @jbphet added tambo as a dependency for all sims.   That new dependency has broken instructions in the "Getting Started" instructions in the [PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#).  It's necessary to clone tambo.

This issue was encount

[2018-12-23 00:50] pixelzoom commented on #54
I've fixed step 2d of the "Getting Started (Windows)" and "Getting Started (macOS)" section of the "PhET Development Overview" by adding:

`git clone https://github.com/phetsims/tambo.git`

@jbphet please consider whether there are other documents that need to be updated.

[2018-12-23 01:02] pixelzoom commented on #54
I did a search of "git clone" across all PhET files in GitHub, and I don't see any other places where `git clone .../tambo.git` is missing.

Are the any other Google docs, similar to "PhET Development Overview"?

[2018-12-30 03:03] pixelzoom opened #55 "use standard layoutBounds in tambo demo"
Related to https://github.com/phetsims/joist/issues/542.

For some reason, the tambo demo was implemented using non-standard layoutBounds (and non-standard aspect ratio) for all ScreenViews.  This is typically only done for sims that are ported from Java.

[2018-12-30 03:06] pixelzoom commented on #55
In the above commits, the tambo demo is now using the default ScreenView layoutBounds.  I've adjusted font sizes, spacing, etc. to be approximately the same as before this change.  Since this is a demo application, I did not attempt to make this even close to pixel perfect -- it's in the same ballpark. Assigning to @jbphet to verify that he's happy with the end result.

[2018-12-31 18:31] jbphet commented on #55
The end result looks fine, thanks.  I don't recall choosing custom layout bounds, so my guess is that I copied the screen view from some other demo or sim.  At any rate, it all looks good, so I'll close the issue.

[2018-12-31 18:31] #55 closed

[2019-01-02 17:43] jbphet commented on #9
I'm going to reopen this and do some more work on the issue.  As I learn more about it, it's making me think that adding some better handling of this will improve the sonic portion of the user experience.

[2019-01-02 18:03] jbphet commented on #9
As of this writing, Chrome, which is at version 71.0.3578.98 and the version of Safari on my test MacBook Air, which is 12.0.2, handle the initial state of audio contexts pretty much the same way.  In these browsers, the audio context starts out initially in the "suspended" state and automatically transitions to the "running" state on the first user interaction with a web page.  This doesn't seem

[2019-01-02 20:24] jbphet opened #56 "branch: audioContextStateChangeHandling"
In 0f895183429eb57e6ede999b82c74805dfbcc1b1 I added code to allow sound generators (or anyone else who is interested) to listen for state changes on a given audio context.  I then implemented a "deferred playback" feature in `SoundClip` that defers a play request until an audio context becomes ready.  My hope was that this would resolve a number of problems that we're seeing with the initial sound

[2019-01-07 21:20] jbphet commented on #54
Thanks @pixelzoom for the fix to the development overview docs.  I don't know of any similar documents, and I did the same search you did and didn't find anything additional.  I think it's safe to close, please reopen if you disagree.

[2019-01-07 21:20] #54 closed

[2019-01-17 22:07] jbphet commented on #56
This branch has been merged into master and deleted from GitHub, closing.

[2019-02-05 01:57] pixelzoom commented on #51
I see "when the sim is paused in the LoL framework" and "when the sim is not active" in the above paragraph.  Are "paused" and "inactive" synonymous?

And our of curiosity, how does the LoL framework pause a sim?

[2019-02-05 02:07] pixelzoom opened #57 "formulate a plan for how to handle sound with LoL harness"
There are at least 3 sim-specific issues reporting that sound doesn't stop playing when a sim is paused in the LoL harness:

https://github.com/phetsims/graphing-lines/issues/116
https://github.com/phetsims/fractions-common/issues/80
https://github.com/phetsims/resistance-in-a-wire/issues/194

https://github.com/phetsims/vibe/issues/33 talks about porting sims from vibe to tambo.

tambo https://gi

[2019-02-06 16:32] jbphet opened #58 "Firefox to implement auto-blocking of audio, we should test and make sure we handle it"
I just saw [an article about Firefox starting to auto-block audio and video on web pages](https://hacks.mozilla.org/2019/02/firefox-66-to-block-automatically-playing-audible-video-and-audio/) until the user interacts with the page.  Hopefully, this will be handled by the code already in place to handle similar behaviors seen in Chrome and Safari, see https://github.com/phetsims/tambo/issues/9.

I

[2019-02-06 17:15] jbphet commented on #58
There is a line in the above-referenced article that makes me think that this won't affect our implementation.  It says,

This makes me think that they're only blocking what I believe is the older way of playing audio from a browser, based on `HTMLMediaElement`, and not Web Audio.

[2019-02-06 19:21] KatieWoe opened #59 "Sound stops when laptop is closed"
Found during https://github.com/phetsims/QA/issues/282, but it is a general issue.  I found that if you close a mac laptop while its running a sim and leave it closed for a bit, when you open it again the sound may be gone.  I saw this on at least two sims (friction rc and resistance in a wire published) and I could only get it to occur on Safari.  It doesn't always happen.  Refreshing the page fi

[2019-02-06 19:37] jbphet commented on #58
Assigning to @phet-steele at @ariel-phet's suggestion.

@phet-steele - I don't know for certain, but I suspect that Firefox has things set up similar to Chrome where it's possible to install pre-release versions and test with them.  Can you please get set up to test with the upcoming version (which I believe is version 66) and test the sims that use the tambo libary and make sure they work?  The p

[2019-02-12 19:18] jbphet commented on #23
While this would be interesting data to have, it hasn't been a priority, and there doesn't seem to have been any issues associated with excessive memory use by sound generators (other than some problems related to memory leaks when the audio context was suspended).  Closing.

[2019-02-12 19:18] #23 closed

[2019-02-12 19:19] jbphet commented on #32
This has been verified (a while ago).  Closing.

[2019-02-12 19:19] #32 closed

[2019-02-14 16:07] jessegreenberg commented on #57
The LoL harness uses Sim.activeProperty to pause the sim. Could sound be linked to this Property? Then any wrapper using this Property would stop sound, indluding PhET-iO wrappers.

[2019-02-14 16:10] jessegreenberg commented on #57
I see that `soundManager` already uses `sim.activeProperty`, so I am not sure why sound doesn't stop in the LoL harness.

[2019-02-14 16:26] samreid commented on #57
That is not yet complete yet, see https://github.com/phetsims/tambo/issues/51

[2019-02-14 16:27] samreid commented on #51
LOL support is implemented in LegendsOfLearningSupport:

[code]

[2019-02-14 16:29] pixelzoom commented on #57
@jessegreenberg said:

Two reasons:
(1) Some (most?) sims are still using vibe and need to be ported to tambo, see phetsims/vibe#33.
(2) tambo does not yet support pausing sound clips, see #51.

[2019-02-14 19:37] ariel-phet commented on #57
@jbphet will investigate after https://github.com/phetsims/vibe/issues/33 but maintenance releases are not  necessary after this change.

[2019-02-14 19:38] ariel-phet commented on #57
Marking as low priority since this work will not occur until things have been ported to tambo

[2019-02-14 21:00] phet-steele commented on #58
Testing suggested sims on Windows 10 with FF 66.0b7: sound works

Tambo demo on same platform: sound works

However, there was a neat interaction with the dev tools. Opening dev tools for the first time mutes all sound. Closing the dev tools, then opening the dev tools a second time brings sound back. It will even play all the sound it "queued" when sound was muted. This cycle repeats on each succ

[2019-02-18 22:44] KatieWoe commented on #60
Moving to tambo as I saw this same issue during https://github.com/phetsims/QA/issues/289
Ohm's Law on iOS 12.1.4 iPad Air 2.  I didn't hear the static after letting go of the slider, but the sound doesn't continue for long, so it is hard to tell.

[2019-02-18 23:53] KatieWoe commented on #60
Update for Ohm's Law.  I'm hearing a bit of the static on Win 10 chrome

[2019-02-19 00:19] KatieWoe commented on #60
Steele Dalton [5:11 PM]
wait are you talking about the ticking sound that's played at every 1.5 V interval?

Kathryn Woessner [5:12 PM]
It also happens with resistance, so I thought it was something else.

Steele Dalton [5:13 PM]
well actually it just happens on every press of an arrow key too. Is that the sound you are talking about?

Kathryn Woessner [5:14 PM]
Sounds like it.

[2019-02-19 00:23] phet-steele commented on #60
RE https://github.com/phetsims/tambo/issues/60#issuecomment-464929837, I had stated that this particular sound in OL seemed very intentional. If it isn't.....I vote we keep it 😄

[2019-02-27 00:39] jbphet commented on #58
I took a look at the behavior with respect to the developer tools, and indeed, it seems that the audio context is being suspended when developer tools are opened.  I'm seeing this on Firefox version 65.0.1, so it doesn't appear to be new.  I did some online searches and see no mention of this, so perhaps I should log an issue with Firefox.  I tried simply calling `resume()` on the audio context, a

[2019-02-27 18:33] jbphet commented on #53
This issue has been around for a while and is assigned to @rea-laura.  I'm not sure what should happen with it, since it's not immediately clear to me what the behavior should be.  @rea-laura - can you update this with the expected behavior?  Should it still generate sound when the phone is "on silent"?  Do other web pages that produce sound, such as HTML5 games, produce sound in that situation?

[2019-02-27 21:02] jbphet commented on #58
@phet-steele - I've generalized the code that watches for changes to the audio context's state and "resumes" it.  Please test on master and see if the weirdness that you were seeing with dev tools is now gone.  It is fixed for me on Firefox version 65.0.1.

[2019-02-27 21:05] jbphet commented on #59
I looked into this a little, and found that the audio context is being set into the "interrupted" state when the laptop is closed.  I was hoping that the code added to handle other state transitions in https://github.com/phetsims/tambo/commit/1ce0eed0b1556e13bc2acf72833142f1cda666bb would fix this, but it didn't seem to.

I noticed while testing that the problem only seems to occur if the PhET sim

[2019-03-05 04:14] ariel-phet commented on #59
@KatieWoe a good find, but I think not worth pursuing. I would imagine if someone had their laptop closed, reloading a sim to get sound going again would not be too unexpected/troublesome. Marking as `wontfix` and assigning back to you. Feel free to close.

[2019-03-18 16:04] jbphet commented on #58
For the record, I logged a but with Mozilla about the odd behavior in Firefox where the audio context becomes suspended when the dev tools are opened.  As of this writing, it looks like they have confirmed the bug.  See https://bugzilla.mozilla.org/show_bug.cgi?id=1535089.

[2019-03-19 19:56] jbphet opened #61 "Get smooth, consistent output level changes to work"
Due to some issues with sounds being audible during startup and behaving differently on different platforms, I changed a number methods used to set gain changes to use  `linearRampToValueAtTime` instead of `setTargetAtTime`.  The issues that were being addressed were https://github.com/phetsims/friction/issues/159 and https://github.com/phetsims/resistance-in-a-wire/issues/205 (among, I think, som

[2019-03-19 19:57] jbphet commented on #61
As an initial step, I think it would be worth the time to create a standalone HTML file that tests the behavior of these methods on any browser.

[2019-03-20 20:15] jbphet commented on #61
I've created a standalone HTML file that allows the user to turn on and off a sound source and then modify the gain using various APIs.  Testing with this definitely shows differences in the way the Web Audio API behaves in several use cases.  I've contacted the W3C Audio group and asked them what they recommend for how to work with the various browser vendors to help the implementations to get mo

[2019-04-22 20:59] jbphet commented on #49
Implemented, tested by creating a sound with a big initial silence and triggering it with and without the `trimSilence` option set.  Worked well.  Closing.

[2019-04-22 20:59] #49 closed

[2019-04-22 21:27] jbphet commented on #61
I think I have some changes in place that should address both the problems with smooth changes and the problem where, due to differences in the implementation of `setTargetAtTime` between browser, sound could be heard at started.  I could use some help verifying that this is fixed.  Here's what needs to be tested:

+ Test the master version of the friction sim on all supported platforms, verify th

[2019-04-22 22:44] KatieWoe commented on #61
Making a list here for checking the supported platforms:
- [ ] iOS 11
- [ ] iOS 12
---
- [ ] Mac 10.10 safari
---
- [ ] Mac 10.11 safari
- [ ] Mac 10.11 chrome
- [ ] Mac 10.11 firefox
---
- [ ] Mac 10.12 safari
- [ ] Mac 10.12 chrome
- [ ] Mac 10.12 firefox
---
- [ ] Mac 10.13 safari
- [ ] Mac 10.13 chrome
- [ ] Mac 10.13 firefox
---
- [ ] Mac 10.14 safari
- [ ] Mac 10.14 chrome
- [ ] Mac 10.14 fi

[2019-04-23 15:22] KatieWoe commented on #61
These two issues are relevant to the above testing.
https://github.com/phetsims/resistance-in-a-wire/issues/205
https://github.com/phetsims/friction/issues/159

[2019-04-23 22:24] KatieWoe commented on #61
@jbphet Here are some problems I've seen so far:
On Win 7 Chrome Friction: Put on enhanced sound, refresh the page while the "shhh" is playing, click on the book and a bit of the "shhh" will play.
On chrome at least: After refreshing the sim, turn on enhanced sound, drag the book to increase temp, "shhh" will not play.  It will the second time you try

[2019-04-24 17:42] jbphet opened #62 "Change sound manager to use agreed-upon ES6 singleton pattern"
In https://github.com/phetsims/phet-info/issues/88 we have been doing some review and standardization of how patterns are used in PhET code, and the practices related to the singleton pattern were recently clarified in https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md.  The `soundManager` type does not match this pattern and should be updated.

[2019-04-25 18:37] jbphet commented on #62
Done, closing.

[2019-04-25 18:37] #62 closed

[2019-04-30 14:57] samreid opened #63 "Why does soundManager.addSoundGenerator return an id?"
`soundManager.addSoundGenerator` has:

But none of the 73 occurrences use it, and the documentation doesn't indicate what it might be used for.  Should it be removed?

[2019-04-30 15:33] samreid opened #64 "Should soundManager be allowed to play sounds before the sim is started?"
Inspired by https://github.com/phetsims/wave-interference/issues/381, I noticed that soundManager can play sounds while the splash screen is still showing.  Should we add logic to tambo to suppress sounds until the sim is shown?

[2019-04-30 16:40] KatieWoe commented on #61
QA is done.  In addition to https://github.com/phetsims/tambo/issues/61#issuecomment-485996990, I heard some instances of pops/crackles that were also sometimes present in the published version.  This was not dependent on platform/browser.  Finally, there were a few seemingly unrelated issues with keyboard nav in Friction that I discussed with @jessegreenberg

[2019-04-30 17:59] jbphet commented on #63
At the time it was initially created, I thought it might be useful to have a "handle" that could be used to remove a sound generator when it was no longer needed.  That need hasn't arisen yet, so I'm happy to remove it.

@samreid - I'm thinking we modify the method to return a boolean that indicates whether the add was successful or not.  The failure conditions would be if the soundManager wasn't

[2019-04-30 18:32] jbphet commented on #64
Nice find, i.e. that clicking the splash screen can create a sound.  We might be able to add some logic to soundManager to prevent this, but there are some browser differences around the way gain nodes work, so code to address this might not work in all cases.  I logged some issues about this with the Web Audio API group, see https://github.com/WebAudio/web-audio-api/issues/1842 (this got split in

[2019-04-30 18:40] samreid commented on #64
`Sim.endedSimConstructionEmitter` seems appropriate.

[2019-04-30 18:41] samreid commented on #63
Assertions sound appropriate for this case.

[2019-05-01 18:28] jbphet commented on #63
I've removed the ID, and tested by running the tambo demo through its paces and then fuzz testing it.  I also spot checked sound on John Travoltage, Resistance in a Wire, and Ohm's Law and everything sounded good.  I'm just going to close this issue, but @samreid - feel free to review if you see this go by and you feel the need to take a look.

[2019-05-01 18:28] #63 closed

[2019-05-06 16:01] jessegreenberg opened #65 "Sound doesn't play after some input from mobile VoiceOver"
Found in https://github.com/phetsims/ohms-law/issues/142, sound doesn't play after certain user gestures when VoiceOver is enabled on iOS.

I saw that the audio context is resumed in soundManager with
[code]

When VO is enabled, the sim will receive other events too such as `change` and `input` and may never receive a `touchstart` event. @jbphet what do you think is the best way to fix this?

I tr

[2019-05-06 16:11] jessegreenberg opened #66 "Some sounds can play infinitely on mobile VoiceOver"
Discovered in https://github.com/phetsims/ohms-law/issues/142. I haven't figured out exactly why this is happening yet, but I will write out what I have found. It is related to #65 because proposed changes in that issue also fix this problem. Steps to reproduce are:

- Open sim fresh with VO on iPad
- Move a slider by swiping a finger up or down (no sound will play yet)
- Wait >5 seconds
- Double

[2019-05-15 00:14] jessegreenberg commented on #65
I wonder if this issue is similar to https://github.com/phetsims/ohms-law/issues/139, perhaps we *shouldn't* start audio after `change` and `input` events?

[2019-05-21 16:44] KatieWoe opened #67 "CT tests all failing"
This type of issue is being seen in most every repo in CT.  Seems connected to tambo.  Likely the cause of: https://github.com/phetsims/phetmarks/issues/32#issuecomment-494447222
[code]

[2019-05-21 18:17] jbphet commented on #67
I've added the needed license file entries, should be fixed.  I'll check it in an hour to make sure.

[2019-05-21 20:19] jbphet commented on #67
CT now looks clear of this error, closing.

[2019-05-21 20:19] #67 closed

[2019-05-24 22:46] jessegreenberg commented on #66
@jbphet addressed this in https://github.com/phetsims/ohms-law/issues/142

Given the above comment, closing.

[2019-05-24 22:46] #66 closed

[2019-05-24 22:53] jessegreenberg commented on #65
In phetsims/ohms-law#139 userGestureEmitter was addd to the Input.js changeAction in  https://github.com/phetsims/scenery/commit/3835f8b53bfef2335c029e0acfa998076a846771, which addressed the issue for ohms-law and mobile VoiceOver after interaction with sliders.

We will likely encounter this again in the future because we cannot guarantee that we will receive a keydown or change event before othe

[2019-05-28 20:08] jbphet commented on #65
@jessegreenberg - I'm not sure that these events will all work to allow us to enable the audio context, because the browser has a list of those that can be used.  I think the best thing would be to try to identify scenarios where it is actually a problem, and then I can investigate and see what fix will work.  QA may be able to help with identifying the problematic use cases.

[2019-05-28 20:44] jessegreenberg commented on #65
One use case we will encounter this is if the sim receives a `click` event before `keydown` event, which could happen with a screen reader. Here is one way to have this happen:

- Launch the sim with NVDA
- Navigate with the virtual cursor using arrow keys or "b" key (not tab key) to the "Reset All" button without interacting with anything else.
- Click the button with "enter"

This will send a `c

[2019-05-28 20:51] jbphet commented on #65
Google has the following code example on its [Web Audio Autoplay page](https://developers.google.com/web/updates/2018/11/web-audio-autoplay):

[code]

This would seem to imply that `click` and `keyup` should work and be perfectly acceptable.  The `input` event is the only one I'm not sure about.  I don't know much about that particular event.  I would suggest adding `click` and `keyup`, then testi

[2019-06-01 03:03] jessegreenberg commented on #65
Got it, thanks. In that case the `change` event isn't in that list either and I wonder if we should double check that that one is OK. The `input` event is quite similar to the `change` event but fires at slightly different times [(reference link)](http://rakshasingh.weebly.com/blog/what-is-the-difference-between-oninput-and-onchange-events-in-javascript) so if we can justify the `change` event we

[2019-06-03 18:13] jbphet commented on #65
This was assigned back to me, but I'm not sure what the next steps need to be.  I was able to duplicate the case described in https://github.com/phetsims/tambo/issues/65#issuecomment-496682097, and could potentially fix it by adding a call to `scenery.Display.userGestureEmitter.emit()` in the handler for the `click` event in `Input.js`, but I'm not sure if that's a good approach and, if so, whethe

[2019-06-03 18:33] jbphet opened #68 "Investigate simplifying the code to resume the audio context"
The way in which the audio context is supposed to be resumed has gone through a lot of churn lately for the various browser vendors, but I think the policy that Chrome has decided upon may allow us to simplify the code as it currently exists.  The piece of information that I came across was an explanation of Chrome's autoplay policy at https://developers.google.com/web/updates/2018/11/web-audio-au

[2019-06-03 22:40] jessegreenberg commented on #65
I think adding emits to all of the events would be best for PhET and would cover all cases when using a screen reader. But it seems there are browser limitations that may make this impossible. I think the next step is to identify what events Chrome (and maybe other browsers) consider valid for resuming the audio context. I am not sure if the list in https://github.com/phetsims/tambo/issues/65#issu

[2019-06-04 03:43] samreid opened #69 "Update license annotations for new sound files"
In 79bbb07c04691515d65843c0a08d4f9f5b6e33f0 several new audio sounds were added.  Corresponding license entries were not added, and this is showing on CT.

![image](https://user-images.githubusercontent.com/679486/58849689-9067cd80-8648-11e9-9005-2de1c62afe56.png)

I'll add stubs for the entries, but I don't know the authors or other notes, so that should be added.

[2019-06-04 16:48] jbphet commented on #68
@emily-phet suggests having this on the list of code improvements for the quarter that starts in July 2019, and holding off on it until then.  Marking as deferred until then.

[2019-06-04 18:24] jbphet commented on #69
Thanks @samreid, and my apologies for neglecting these entries and breaking CT.  I've added the license notes, so this should be good to go.  Closing.

[2019-06-04 18:24] #69 closed

[2019-06-04 20:40] Ashton-Morris opened #70 "Q: Did we want a sound more interesting than a simple radio button sound for when you select a different scene in a sim?"
I can't remember what we decided @emily-phet but we talked about it in a general sound meeting. Did we want a sound other than a radio button sound to play when you select different scenes in a sim?

ex: https://phet.colorado.edu/sims/html/masses-and-springs/latest/masses-and-springs_en.html

It does seem like a more important thing than a radio button option but I'm not sure what we decided. Also

[2019-06-04 20:41] #70 closed

[2019-06-04 20:42] Ashton-Morris opened #71 "Did we want a sound other than a radio button sound to play when you select different scenes in a sim?"
I can't remember what we decided @emily-phet but we talked about it in a general sound meeting. Did we want a sound other than a radio button sound to play when you select different scenes in a sim?

ex: https://phet.colorado.edu/sims/html/masses-and-springs/latest/masses-and-springs_en.html

It does seem like a more important thing than a radio button option but I'm not sure what we decided. Also

[2019-06-05 20:09] jbphet opened #72 "Initial review of some of the proposed common sounds"
In yesterday's sound design meeting, we reviewed a number of proposed common sounds that have been integrated into the tambo demo.  Based on the feedback from that meeting, I've added checkbox sounds, boundary dragging sounds, and open/close combo box sounds to the tambo demo.  I've published a dev version at https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.9/phet/tambo_en_phet.html.

Assigning

[2019-06-06 22:02] emily-phet commented on #71
@Ashton-Morris - yup, having a related - but different - sound for scene selection buttons would be nice. Scene selection is a relatively significant change within a sim. I'd put it at Reset all > scene selection > local reset > radio buttons > checkboxes (for some sims, radio buttons/checkboxes may be switched or equivalent).

[2019-06-10 23:25] #71 closed

[2019-06-10 23:25] Ashton-Morris commented on #71
Thanks

[2019-06-11 14:19] Ashton-Morris commented on #72
Here are the best sounds in my opinion.

- Step forward and back: Option #2
- Play and pause button: Option #3
- Radio button: Option #3 (I'm sending a less fuzzy version of this today)
- Grab and release: Option #2 (but should be implemented one or two semitones higher as they sound similar to step forward)
- General button: Option #4  (I'm sending a slightly more playful version of this today as

[2019-06-11 18:20] jbphet commented on #65
I talked with @jonathanolson about the events in Chrome that are considered a "user gesture", and he gave me a link to [this Chrome developer document](https://docs.google.com/document/d/1mcxB5J_u370juJhSsmK0XQONG2CIE3mvu827O-Knw_Y/edit#heading=h.t0ybg8byy7bg).  It's perhaps helpful, but it's only for one of the browsers, and it's hard to know whether to fully trust it.

I think the best approach

[2019-06-17 19:49] jbphet commented on #68
While creating `MultiClip`, I ran into a situation where I needed to pass a parameter to the `play` function that was used to do a deferred play operation while waiting for the audio context to change state in response to a user action.  Since this would have added complexity, I decided to try and remove the deferred playback altogether and see if things still worked, since the information above w

[2019-06-17 21:46] jbphet commented on #72
An updated version has been published at https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.11/phet/tambo_en_phet.html that includes updated sounds.  This is ready for review and feedback.

[2019-06-17 22:01] Ashton-Morris commented on #72
Sounds good. We can talk about it during tomorrows meeting.

[2019-06-18 16:40] jbphet commented on #72
We're good with all the sound demoed in v 1.0.0-dev.11 except:

+ the push button sound (@Ashton-Morris will make some mods)
+ the home screen selection sound, which can't actually be heard on that version, but we reviewed during the meeting and thought it sounded a bit too much like the "play/pause" sounds.

[2019-06-19 18:46] jbphet opened #73 "How should we go about adding sound to common components?"
The sound design team has been working on coming up with sounds for common UI components, the first items being:
+ checkbox
+ push button
+ radio button
+ play/pause/step buttons
+ reset button
+ screen selection (including home screen)

So far, I have not been adding the sounds to the common code components themselves, I've been creating and adding code that monitors the item that is controlled (

[2019-06-20 05:01] samreid commented on #73
Good questions @jbphet, some partial brainstorming here:

* Maybe `soundToPlay: null` would be a reasonable alternative to `soundEnabled:false`?
* Passing resetAllProperty once to `soundManager` sound much nicer than passing it to N user interface components

[2019-06-20 17:44] jbphet commented on #73
I had thought about that, since it would be nice to consolidate it into a single parameter rather than two, but it would mean that the component would use the default sound if `soundToPlay` was `undefined`, put would use no sound if the value were explicitly set to `null`.  That struck me as a bit subtle from the client's point of view, but I wouldn't have strong objections to it if the rest of th

[2019-06-22 23:06] samreid commented on #73
I agree, that sounds nice.

Clarifying:

[code]

The reason for the last line is lodash behavior works like so:
[code]

Perhaps nodes that have a default fill or stroke, but can be passed a `fill: null` to go unfilled?

[2019-07-09 16:29] SaurabhTotey commented on #42
I believe the entirety of this simulation is now in ES6. I am closing this issue, but feel free to reopen if I have missed anything.

[2019-07-09 16:29] #42 closed

[2019-07-09 22:31] jessegreenberg commented on #65
OK, thanks for looking into it, sounds good. Ill do that and make a QA task verify sound comes out of the interactions.

[2019-07-10 15:24] jessegreenberg commented on #65
This was done in the above commits. I think the best way to test this is to make a usable test where sound plays after each event triggers.

[2019-07-10 19:55] jessegreenberg commented on #65
I made this runnable to test:

https://phet-dev.colorado.edu/html/jg-tests/sound-input-test_en_phet.html

You can test an individual event with a query param like https://phet-dev.colorado.edu/html/jg-tests/sound-input-test_en_phet.html?inputType='change'.

The steps to test each input on the different AT are somewhat involved so I think it will be easier for me to test rather than assign to QA.

[2019-07-10 21:38] jessegreenberg commented on #65
✔️  means sound came through when that was the first event the sim received. ❌ indicates failure. I wasn't able to test `blur` because there is no way for `blur` to be the first event the sim receives. Summary below.

- NVDA + Firefox:
  - `focus` ✔️
  - Since focus follows virtual cursor it is impossible to receive an a11y related event before receiving a focus event. No further testing required

[2019-07-10 21:52] jessegreenberg commented on #65
Since sound is now always playing with a11y devices that we currently support so I think this issue can be closed. I made note of the problems with Talkback in https://github.com/phetsims/a11y-research/issues/144. There are other problems with Talkback too and I am not certain we will support it.  If we do, we can come back to this for that platform specifically.

@jbphet reassigning to you, does

[2019-08-01 16:27] jonathanolson commented on #73
If it's a larger combination of values where an explicit "default" is needed, it sounds most similar to pickable, which defaults to `null`, but can be `true` or `false`. If it's just using `null` to override a default, Text nodes have a default `stroke` which can be overridden with `stroke: null` which sounds similar.

[2019-08-07 20:17] jbphet commented on #73
It also occurs to me that if a common component uses a sound clip, and there are several of the common code components in a sim (like a bunch of checkboxes), the code should be set up such that the sound only has to be decoded once, and not on every construction of the component.

[2019-08-07 21:01] jbphet commented on #73
I have taken a shot at adding code to a couple of common code components, and I'd like to get some input from other devs so that this can be pretty worked out before much of it goes into master.  Marking for dev meeting to discuss.

[2019-08-08 03:56] pixelzoom commented on #73
@jbphet after you made commit https://github.com/phetsims/scenery-phet/commit/c6e249a83c7ac6a31397af96dfbd154b1b03c9b0, I'm seeing the warning shown below in all sims at startup, once for each `ResetAllButton` instance.  For example, it occurs 4 times at startup for Gas Properties.  Is that intended?

<img width="660" alt="screenshot_1302" src="https://user-images.githubusercontent.com/3046552/626

[2019-08-08 17:03] jbphet commented on #73
The warning message will go away shortly, since I'm going to move the code to a branch.

[2019-08-08 17:10] pixelzoom commented on #73
Going forward, as sound is added to UI components, I think that we should avoid creating sound generators when sound is off.  They presumably take time to create, and require resources (memory, processor).

Also wondering about the impact of (for example) having a sound generator by default for every Checkbox, or whether that's even desirable.   Perhaps we should have default sound generators that

[2019-08-08 20:57] jbphet commented on #73
I brought this up for discussion in the developer meeting today, here are a few notes:
+ There is a general question at this point about whether all of these sounds should be on by default, which is what I had been assuming until this point.  I'll raise it with the sonification group and get the leaders involved in the decision on how to proceed with this.
+ It was suggested that sounds are not lo

[2019-08-08 21:34] pixelzoom commented on #73
@jbphet said:

Did you mean "when sound is disabled"?

[2019-08-13 23:01] jbphet commented on #73
Another thing that we may want to do is modify the build process to track whether sound is enabled for a sim and, if not, don't include the base64 versions of the sound in the built file.  I'll make some measurements to compare how much having the common code sounds adds to the built file size once we have some more of them so we can decide if we want to handle this in the build process.

[2019-08-14 18:45] jbphet opened #74 "Using enabled properties and the associatedViewNode option seem to cut volume"
While working on the sound design implementation for Waves Intro, @samreid encountered some problems while trying to set up the light beam sound to be off when the sound effect is disabled and when the laser is invisible.  The sound seemed to be unexpectedly quiet in these cases.  Here is an excerpt from the code that shows where the problem was encountered:

[code]

[2019-08-14 19:50] samreid opened #75 "MultiClip should use Map"
In https://github.com/phetsims/wave-interference/issues/426#issuecomment-521374909 it was recommended that Wave Interference use MultiClip for the water drop sounds.  At the moment, the interface is `[{value:x,soundInfo:y}]` and MultiClip uses a search every time you try to play a sound:

[code]

In https://github.com/phetsims/tasks/issues/992#issuecomment-515168907 we agreed to allow `Map` in our

[2019-08-20 16:03] samreid opened #76 "Create ContinuousSoundPropertyGenerator"
See https://github.com/phetsims/wave-interference/issues/436.  The idea is to create a sound generator where pitch varies with a Property value.  I'll create ContinuousSoundPropertyGenerator by generalizing ForceSoundGenerator and create a tambo demo for it.

[2019-08-20 16:06] samreid commented on #76
I committed an initial version of ContinousPropertySoundGenerator, as well as sample usage in the tambo demo.  I added 4 sound effects supplied by @Ashton-Morris.  @jbphet can you please review?  If it is in good shape, can Gravity Force Lab: Basics be ported to use it?  Porting Gravity Force Lab: Basics to use it may be a good way to exercise it as part of the review, but let me know if you don't

[2019-08-20 17:00] KatieWoe opened #77 "CT All repo Running "report-media" task"
[code]

[2019-08-20 17:07] samreid commented on #77
Addressed in commits for https://github.com/phetsims/tambo/issues/76, thanks!  Closing.

[2019-08-20 17:07] #77 closed

[2019-08-22 15:20] KatieWoe opened #78 "iOS 13 sound starts once you reset all"
Found when looking at https://github.com/phetsims/phet-core/issues/64.  Found on John Travoltage but not on Area Builder, so I think it is likely a Tambo issue.  Not found on iOS 12.
When you start up the John Travoltage sim, no sound plays.  Moving pieces doesn't cause a sound, and neither does muting and unmuting.  However, if you hit the orange reset all button, that sound will play, and so wil

[2019-08-22 20:34] jbphet commented on #73
I presented some prototype code at a review meeting today (8/22/2019) that used a strategy pattern for generating sounds in common UI components.  I used the strategy pattern because it was similar to the way in which appearance and content are handled for `RectangularButtonView` and `RoundButtonView`, so I thought it would be good to be consistent.  Also, a strategy pattern is pretty versatile, a

[2019-08-29 01:42] samreid commented on #75
If I understand correctly, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map and https://github.com/phetsims/tasks/issues/992#issuecomment-507384524 indicate we cannot use `new Map([])` syntax because it is not supported on IE.  Perhaps we should use `Map.set` instead?  Or is this code already avoided because sound is not supported on IE?  In that case, it should

[2019-09-05 20:59] jbphet commented on #73
We had a technical review meeting of some of the work that has been done on this today.  I presented code in PlayPauseButton that looked like this:

[code]

The general feedback on this was that the implementation was looking at the model state, which seems incorrect, and that it should be instead listening more “purely” to the user interactions.  We discussed adding an input listener, but there a

[2019-09-07 03:40] samreid commented on #13
We discussed this problem again on Thursday and agreed to try a new pattern where the sound is wired up to the UI component, rather than watching the model only.  This means it will not need to know about the `resetInProgressProperty` at all.  The pseudocode would be something like:

[code]

Tagging @jbphet in case he has more notes or another issue to refer to, feel free to close this issue as we

[2019-09-10 17:56] jbphet commented on #78
One of the roots of this problem is that the user agent has changed in iOS 13, and the code in `platform.js` no longer recognizes that it's running on Mobile Safari (see https://github.com/phetsims/phet-core/issues/64).  I have done some experiments and found that with the current autoplay behaviors implemented in Chrome, Firefox, Edge, Safari, and Mobile Safari, the code that detects and resumes

[2019-09-10 17:58] jbphet commented on #78
The code for resuming the audio context has been rewritten so that it is no longer necessary to have any platform-specific portions.  This fixes the issue with sound not playing initially on iOS 13.  This will require a maintenance release for all sims that use sound.

[2019-09-10 20:43] jbphet commented on #78
This should be fixed on master.  I'm going to assign it back to QA to verify that the fix works and to regression test the behavior on our other supported platforms.  Assuming it all checks out, this should then be assigned to @jonathanolson to deploy in a maintenance release.

[2019-09-10 20:53] KatieWoe commented on #78
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Win 7 chrome
- [ ] Win 7 firefox
- [ ] Win 7 internet explorer
---
- [ ] Mac 10.14 chrome
- [ ] Mac 10.14 safari
---
- [ ] Mac 10.13 chrome
- [ ] Mac 10.13 safari
---
- [ ] Mac 10.12 chrome
- [ ] Mac 10.12 safari
---
- [ ] Mac 10.11 chrome
- [ ] Mac 10.11 safari
---
- [ ] Mac 10.10 safari
---
- [ ] Chrome OS
---
- [ ] iOS 12
- [

[2019-09-10 22:20] jbphet commented on #78
@KatieWoe - I believe the issues that was causing the alert message is now fixed, please resume testing.

[2019-09-10 22:24] jbphet commented on #75
Hmmm.  Well, that makes Map less appealing, but since I had already made the changes I went ahead and added explicit set operations.  Back to you @samreid.

[2019-09-10 23:25] samreid commented on #75
Looks great, thanks!

[2019-09-10 23:25] #75 closed

[2019-09-11 19:20] KatieWoe commented on #78
Done.  Things look ok.  Everything tested with touch when possible.  Win 7 IE skipped since it doesn't support the sound in question.

[2019-09-25 20:46] jbphet commented on #76
I have several comments.  I realize this was ported from Gravity Force Lab Basics, which I created, so it would be fair to assign some of this work back to me if desired, but I thought I'd make the comments and get the review process moving and then we divvy up the work once the changes are agreed upon.

- We should clearly note in the header that this is based on SoundClip and isn't set up to be

[2019-10-01 03:02] samreid opened #79 "Should there be guards for setting the same value?"
Discovered during https://github.com/phetsims/wave-interference/issues/436, here is the current code for SoundClip.setPlaybackRate:

[code]

Should we guard against work when setting the same value like so?

[code]

Same question for `setOutputLevel`, and maybe others?

[2019-10-01 03:04] samreid opened #80 "Add soundManager.containsSoundGenerator"
From https://github.com/phetsims/wave-interference/issues/436.  We cannot add sound generators in static space, so for some dynamic code (like https://github.com/phetsims/wave-interference/issues/436) we need a way to keep track if which sound generators have been added to the sound manager.  It seems reasonable to add `soundManager.containsSoundGenerator`.  I'll add it and reassign to @jbphet for

[2019-10-01 14:30] samreid commented on #80
@jbphet can you please review?

[2019-10-02 18:24] jbphet commented on #80
Looks reasonably good, and I agree that it's needed.  One thought: how about `hasSoundGenerator` instead of `containsSoundGenerator`, since that would be more consistent with `Node.hasChild` in scenery and `Property.hasListener` in axon?

[2019-10-02 19:19] jbphet commented on #73
Based on feedback received in the 9/26/2019 technical discussion meeting, here are some of the next steps:

+ Sound production should be moved out of `RoundButtonView` and `RectangularButtonView` and into their first level descendant classes.  In the process, code that can be common should be consolidated so that there isn't a bunch of duplication.
+ In order to minimize the size increase for buil

[2019-10-03 16:18] samreid commented on #80
Good idea, I renamed it.  Ready for re-review.

[2019-10-03 16:24] jbphet commented on #80
Looks good, thanks, closing.

[2019-10-03 16:24] #80 closed

[2019-10-07 15:20] samreid opened #81 "SoundGenerator outputLevel range"
SoundGenerator.setOutputLevel has this documentation:

[code]

Can you please elaborate on this?  Are negative values allowed?  If so, why?  When should the value go beyond 1?

I would have expected an assertion for this part that `0 <=outputLevel <=1`.

[2019-10-07 16:10] jbphet commented on #81
Good question, I probably should have been more clear.  The value can be greater than 1 in order to boost small input signals.  The value can be negative in order to invert phase.  This is according to the web audio spec, and there is a discussion of it at https://github.com/WebAudio/web-audio-api/issues/506.  I haven't had the need to use values outside of 0 to 1 much, so I don't know how well su

[2019-10-07 16:11] samreid commented on #81
Would a value greater than 1 combined with a large input signal risk blowing out anyone's speakers?

[2019-10-07 18:23] jbphet commented on #81
Unlikely, but we should take care to avoid doing it.  Most if not all modern computers would just clip if the digital output exceeded 1 dBFS, so it would probably sound nasty, but wouldn't hurt anything.

[2019-10-07 19:05] jbphet commented on #79
Setting the playback rate in an audio node is, as far as I know, a pretty quick operation, so I don't think that there is a lot to be gained from this.  Plus, I think that there is a chance that something could get out of sync between our code and the state of the audio node, and this code would help to fix that situation.  So, I think adding such a check is unnecessary and not an improvement to t

[2019-10-07 19:06] jbphet commented on #79
The same thinking applies for other parameter values, such as gain.

[2019-10-07 19:16] jbphet commented on #13
This pattern is working well in the work I've been doing recently for common UI sounds (see https://github.com/phetsims/tambo/issues/73), and I plan to try to continue in this direction from here on.  I'm closing this issue, and will re-open if it needs more work.

[2019-10-07 19:16] #13 closed

[2019-10-07 19:21] samreid commented on #79
I don't have a good intuition about the expense of setting the same value in web audio implementations.  In the top comment, I can see there is a closure declaration and invocation that could be avoided.

Regarding effort in the implementations, chromium/blink appears to have an implementation like this:
https://chromium.googlesource.com/chromium/src/+/refs/heads/master/third_party/blink/renderer/

[2019-10-07 19:41] jbphet commented on #81
I just tested large and negative values for gain, and both worked fine.  The test was to set the `initialOutputLevel` for `this.wallContactSoundClip` to 100, then to -1, and test each on both Chrome and Firefox on my Win 10 machine.  This allowed me to hear the contrast between the wall contact sound versus the ceiling-and-floor contact sound.  The value of 100 sounded relatively loud and the end

[2019-10-07 19:45] samreid commented on #81
It seems like a summary of these conclusions should appear in the JSDoc for `SoundGenerator.setOutputLevel`

[2019-10-07 19:49] jbphet opened #82 "Delete or make permanent the parameters in TamboQueryParameters"
The file `TamboQueryParameters` has some parameters that were added for development and testing, so I didn't want them in `initialize-globals.js`.  In https://github.com/phetsims/chipper/issues/799, it was pointed out that this is a little confusing for a common code library, since this isn't how we generally keep query parameters for common code.  After some discussion, we agreed that it was okay

[2019-10-07 20:13] jbphet commented on #82
I've added a reminder to my calendar to revisit this in three months, then monthly thereafter.  Marking as deferred for now.

[2019-10-08 23:25] jbphet commented on #81
Summary added.  I just talked about the parameter range, and didn't include anything about the dynamics compressor since it might not be there forever.  Look good?

[2019-10-09 02:19] samreid commented on #81
Looks great, thanks!  Closing.

[2019-10-09 02:19] #81 closed

[2019-10-17 22:00] jbphet commented on #78
I tested this issue on my iPhone 8 running version 13.1.2, and the sound issues didn't occur.  I was wondering if maybe Apple fixed it, so @KatieWoe and I just tested on PhET's 6th generation iPad (which hasn't been assigned a name yet) running 13.1.2, and the problem *does* still occur there.  Here was the test sequence:

+ Load the currently live version of John Travoltage (v1.5.11)
+ Drag the l

[2019-10-18 20:47] jbphet commented on #78
@jonathanolson and I are working through a maintenance release to address this.  It is turning out to require a number of unique patches, so we are thinking that would should only patch the sims that need it.  Sims that don't need it either have no sound functionality at all or don't manifest the problem where sound doesn't work.  The acid test for whether sound functions is to load the sim, drag

[2019-10-18 21:37] jbphet commented on #78
For future reference, here are the published sims for which tambo was **not** patched, either because they don't use sound or because they didn't manifest the audio problems on iOS 13:

+ balancing-chemical-equations 1.2 phet
+ blackbody-spectrum 1.0 phet
+ fraction-matcher 1.2 phet
+ fractions-equality** 1.1 phet
+ molarity 1.4 phet,phet-io
+ ph-scale 1.3 phet
+ ph-scale-basics 1.3 phet
+ reactan

[2019-10-18 22:01] samreid commented on #73
There is a problem with the existing implementation.  One of the goals was to make it so no common sound decoding is done if that sound is not needed.  I tested this by running the following patch:

<details>

[code]
</details>

Then running http://localhost/sun/sun_en.html?brand=phet&ea&supportsSound&screens=2&component=Checkbox

You will see that no sound is produced because null is specified fo

[2019-10-18 23:44] jbphet commented on #73
Thanks for looking at this, but the way that I'm currently planning to prevent decoding of unused common UI sound clips is not through the use of `AutoRegisteringSoundClipProxy`, it's by having the common sounds in separate files.  That way, not only is the sound not decoded if it isn't used, it's also not included in the build.

Let's back up for a second.  The three goals I'm trying to address a

[2019-10-19 02:29] samreid commented on #73
Is it a goal that if the sim has one Checkbox with a pair of custom sound effects, that the default sound effects are not loaded and/or decoded?

[2019-10-19 02:50] pixelzoom commented on #73
@samreid in partial answer to your question... In 10/18/19 dev meeting notes, I asked about this, and @jbphet started to reply but didn't finish:

[2019-10-21 04:16] pixelzoom commented on #73
Self-assigning for 10/21/19 discussion with @jbphet and @samreid.

[2019-10-21 15:56] jbphet commented on #73
Thus far no - it seems like a rare enough case with small enough consequences that I haven't been targeting this.  We can discuss if you disagree.

[2019-10-21 16:00] pixelzoom commented on #73
@jbphet This is the opposite of what you said in 10/18/19 dev meeting notes, see https://github.com/phetsims/tambo/issues/73#issuecomment-544064562. Please clarify.

[2019-10-21 16:06] jbphet commented on #73
The distinction is subtle, I admit.  I'm thinking of "default sounds that are never used" as the default sound for, say, a checkbox being checked when there are no checkboxes in the sim.  The case Sam is describing is one in which the checkbox is used in the sim but the default sound is overridden in all cases.

[2019-10-21 16:26] pixelzoom commented on #73
I was thinking of the same case as Sam. That is "default sounds" are the default values for Checkbox options `checkedSoundPlayer` and `uncheckedSoundPlayer`:

[code]

   If you're not targeting that case (or allowing for it in the design), then you'd better have strong evidence that the vast majority of UI components will use their default sounds.

[2019-10-21 16:49] pixelzoom commented on #73
Here are my notes after reviewing Checkbox.js and checkboxCheckedSound.js.

* I was surprised to find that the checkbox sound is an MP3 file.  I thought we were trying to avoid sound files and use generated sounds where possible.  Is this discussion the same for sound files vs generated sounds?

* tambo/sounds/ is in master, and tambo is a dependency of all sims in build.json.  How are we currentl

[2019-10-21 19:00] samreid commented on #73
Here are my notes from today's meeting.  We were agreed on everything except I don't think we had enough time to conclude on the last bullet point:

* Auto-register sound clips with soundManager
* Move supportsSound to package.json so it can be used statically.
* Add a cache in soundInfoDecoder.js
* Delete SharedSoundClip.js
* Delete AutoRegisteringSoundClipProxy.js
* Eliminate checkboxCheckedSoun

[2019-10-21 19:59] jbphet opened #83 "Make soundInfoDecoder cache decoded audio"
Currently, if the same sound file is decoded multiple times, it will be decoded each time and placed into memory.  It would be more efficient to decode and load it only once, and subsequent attempts to load the same file would result in the decoder returning the same already-decoded data.

[2019-10-21 20:16] jbphet commented on #73
Assigning to just me for followup.

[2019-10-28 17:05] samreid commented on #73
If sounds are auto-registered, we will need another way to specify `associatedViewNode`

[code]

Perhaps one way would be for `associatedViewNode` to be a SoundGenerator option.

[2019-11-04 21:44] jbphet commented on #40
While prototyping the sound design for Molecules and Light (see https://github.com/phetsims/molecules-and-light/issues/216), I have run into a need to be able to pause the sounds.  I started to investigate how to do this, and it appears that it will be pretty involved.  Web Audio `AudioBufferSourceNode` instances do not support a pause method explicitly, and the idea of pausing doesn't seem to be

[2019-11-05 17:06] jbphet commented on #78
A fix has been implemented and deployed as part of a maintenance release.  Closing.

[2019-11-05 17:08] jbphet commented on #65
Should be good.  Closing.

[2019-11-11 21:30] samreid opened #84 "Create a bandpass filter option"
From slack:

@samreid said:

@jbphet replied:

@samreid said:

@jbphet said:

@samreid said:

@jbphet said:

[2019-11-11 23:08] samreid commented on #84
I originally attempted this strategy:

[code]

But unfortunately, the bufferSource is created lazily on play.  Instead, I added an `additionalNodes` argument to the constructor which specifies the nodes on startup.  It seems to be working well in testing, though I only tested with a single additionalNode.  Commit coming shortly.

[2019-11-11 23:15] samreid commented on #84
I added `options.additionalNodes` in the above commit, @jbphet can you please review at your convenience?

[2019-11-13 19:58] jbphet commented on #83
This has been added.  I modified the `sound.js` plugin as part of the effort to include the name of the sound so that this could be used as the key for the `Map` that acts as the cache for decoded sounds.  It seems to work great.

I tested this primarily on tambo, since it creates a lot of sounds at different times, and on Gravity Force Labs, since it creates multiple copies of the same sounds.  I

[2019-11-13 19:58] #83 closed

[2019-11-18 19:19] jbphet commented on #73
I just made the following PSA on Slack, recording here for posterity:

[2019-11-20 19:11] jbphet opened #85 "Can oscillation prototype code be removed from the UI?"
@samreid - some prototyping of sound ideas was done a while back for Wave Interference, and I think it may be possible to remove it at this point.  Can it go?  It's on the first screen of the tambo demo and looks like this:

![image](https://user-images.githubusercontent.com/3082831/69269713-dbda4d80-0b8e-11ea-8d21-c2cc2d1d24d1.png)

[2019-11-21 01:41] samreid commented on #85
We should first decide what to do about ForceSoundGenerator and ContinuousPropertySoundGenerator.  In https://github.com/phetsims/wave-interference/issues/436#issuecomment-522740376 it was recommended to create a common code component ContinuousPropertySoundGenerator.  I created this based on ForceSoundGenerator from gravity-force-lab.  I would need help fully generalizing ContinuousPropertySoundG

[2019-12-05 20:51] Denz1994 opened #86 "TODOs should have issue assigned"
As part of [issue](https://github.com/phetsims/chipper/issues/815), it was decided that TODOs in common code repos should have an issue assigned to them or be addressed. I am assigning this issue to you to handle all of the TODOs in Tambo:

- [x] ContinuousPropertySoundGenerator (6 TODOs)
- [x] CommonSoundPlayers (1 TODO)
- [x] SoundManager (1 TODO)

[2019-12-09 23:38] jbphet opened #87 "Remove unused sounds, iteration 1"
There are a lot of experimental common sounds being added to tambo at the moment, and at some point there is going to be a buildup of sounds that were tried out, rejected, and forgotten.  I'm going to create an issue to take a pass through and remove any unused sounds, set it as deferred, and put an event on my calendar for three months from now to remind me to get rid of all the unused sound.  I'

[2019-12-10 01:41] samreid opened #88 "Convert SoundClip.isPlaying to a BooleanProperty"
For a proposed feature in Wave Interference, I need to know when a SoundClip stops playing.  Therefore it would be useful if `isPlaying` was converted to a `Property` that can be observed.

On slack, I asked:

@zepumph responded

and @chrisklus gave a 👍

This seems like a general improvement that could be used in other places, so I'm inclined to commit and reassign to @jbphet for review.  I'll kee

[2019-12-10 01:42] samreid commented on #88
Proposed change committed, @jbphet can you please review?

[2019-12-10 17:56] jbphet commented on #85
I did the generalization and have replaced `ForceSoundGenerator` with `ContinuousPropertySoundGenerator` in both GFL and GFLB.  @samreid - please review my changes and make sure they don't mess anything up for your current usage.  I don't think they will, since I mostly added new options, but I did change the mapping algorithm to remove the MIDI note references (since I think such reference won't

[2019-12-10 19:29] samreid commented on #85
The changes look great, thanks!  One comment could be improved, it currently reads:

[code]

ContinuousPropertySoundGenerator probably shouldn't refer to force or a design document.

That sounds great to me!

That sounds like something we can defer until if/when we need it.

What pattern do we typically use for muting a sound during resets?  Can we use that strategy here?

[2019-12-12 19:31] samreid opened #89 "general.soundEnabledProperty should be changed to general.soundManager.soundEnabledProperty"
From today's meeting.

[2019-12-12 19:32] samreid commented on #89
Also pertains to https://github.com/phetsims/joist/issues/591

[2019-12-12 19:47] samreid commented on #89
I committed this change, @zepumph do you mind reviewing?  It should be relatively fast.

[2019-12-16 22:48] KatieWoe opened #90 "iPadOS 13 interrupted sound"
Found during https://github.com/phetsims/QA/issues/461. Found in a number of published sims. Some in tambo and some not (Plinko Probability). Doesn't happen in John Travoltage for some reason. To get it to occur, leave the page using a double tap of the home button for awhile by going to settings or some other app. Then, double tap the home button again to go back to the sim. Sound won't work.

[2019-12-20 21:31] jbphet commented on #88
Looks good to me, seems like a reasonable approach.  Closing.

[2019-12-20 21:31] #88 closed

[2019-12-30 20:18] jbphet opened #91 "Move screen selection sounds to joist"
Once the screen selection sounds have been finalized, they should be moved into joist.  For now, they are being played in the tambo demo only.

[2019-12-30 20:22] jbphet commented on #86
All TODO items have been addressed, removed, or linked to an issue.  Closing.

[2019-12-30 20:22] #86 closed

[2019-12-30 21:29] jbphet commented on #84
Here are some initial comments:

+ This API puts a lot of requirements onto the client, such as needing to know the Web Audio API and how to create filters and other nodes that may be needed.  Why not create a subclass of `SoundClip` with filter options and specify filter params there?
+ If we **do** go with this API, the documentation needs to be clear about where these are inserted in the signal

[2019-12-30 23:13] samreid commented on #84
That sounds like we would end up creating and maintaining our own API as an alternative to something that is already standardized, well documented, very flexible and very clear.

The existing documentation says:
[code]
Is that correct and complete?

Good point, I'll commit something shortly.

[2019-12-30 23:15] samreid commented on #84
Can you please review the commit, in particular to double-check the `connect` ordering?

[2020-01-03 00:04] zepumph commented on #89
This felt a bit more reusable (though there isn't a reason for it yet). Does that feel good to you?

[2020-01-04 13:48] samreid commented on #89
Yes, that's great, thanks!  Anything else for this issue?

[2020-01-06 22:49] #89 closed

[2020-01-26 01:20] samreid opened #92 "Use Enumeration in ScreenSelectionSoundGenerator"
In https://github.com/phetsims/wave-interference/issues/471 @emily-phet asked to add the home screen and navigation bar buttons to Waves Intro.  I thought it would be an improvement to use Enumeration values instead of magic numbers.  I also made minor edits to code comments.  @jbphet can you please review at your convenience?  Are you also planning to move `ScreenSelectionSoundGenerator` to joist

[2020-01-26 01:27] samreid commented on #91
In the above commit, I moved the `ScreenSelectionSoundGenerator` instantiation to joist so it can be used in any sim with sound.  I did not yet move the sound files or `ScreenSelectionSoundGenerator` itself.  @jbphet can you please review?  It seems to me that `ScreenSelectionSoundGenerator` should move to joist as well, but I wasn't sure about the sounds (whether they would be reused elsewhere).

[2020-01-26 02:53] samreid commented on #91
This is crashing single-screen sims with audio, I'll push a workaround momentarily.

[2020-01-26 02:54] samreid commented on #91
I added a workaround, but I wasn't really sure what caused the problem in the first place.  @jbphet can you please investigate further?

[2020-02-07 22:18] KatieWoe opened #93 "Chrome sound is delayed if sim sits for a time"
Found for https://github.com/phetsims/QA/issues/476 but seems like it might impact other sims. Found on Win 10 chrome seems to be just chrome, but may be other platforms. Can be a bit hard to reproduce.
If a sim sits without being touched for ~3 min or more and you go back and immediately try to move a slider that produces sound, it will not do so for a bit of time. This time can vary from startin

[2020-02-07 23:18] jessegreenberg commented on #93
I just tried to make the problem happen on Windows 10 Chrome. I opened the sim, moved the slider and heard sound, let the sim sit for 5 minutes in the background, then moved the slider again and sound came out immediately.

[2020-02-07 23:20] KatieWoe commented on #93
I don't think you can do this if you switch tabs or move the mouse. I was on an entirely different device when this happened.

[2020-02-07 23:36] jessegreenberg commented on #93
I see, thanks for the update. I tried the following but was still unable to witness the issue.
- Open sim in Windows 10 Chrome.
- Move slider and hear sound.
- Leave computer for 5 minutes with browser open and active window, without touching mouse.
- Move slider again.

Sound came out immediately.

[2020-02-07 23:46] KatieWoe commented on #93
We see it on at least 3 devices, but I'm not too worried about it honestly.

[2020-02-07 23:51] jessegreenberg commented on #93
Thanks @KatieWoe that may make it easier to track down.

I appreciate that, I recommend that we proceed with publications of GFL and Molarity with this issue for now and then decide if any further investigation is necessary beyond that.

[2020-02-08 01:22] emily-phet commented on #93
@jessegreenberg - Agreed, let's make sure @jbphet has this on his radar for the future, but proceed towards publication for Molarity for now.

[2020-02-09 22:38] jessegreenberg commented on #93
OK thanks @emily-phet - removing my assignment, over to you @jbphet.

[2020-02-18 16:49] jbphet commented on #58
I just noticed that this bug was languishing due to @phet-steele having left PhET.  Assigning to @KatieWoe for followup.

[2020-02-18 19:25] KatieWoe commented on #58
This seems to have been implemented for some time and I have not seen any major problems while here. Only thing I can think of is described here: https://github.com/phetsims/gravity-force-lab/issues/252

[2020-02-18 22:46] #58 closed

[2020-02-19 22:31] KatieWoe commented on #90
Saw in https://github.com/phetsims/QA/issues/480 on the app. Occurs if you put the iPad to sleep and wake it up again.

[2020-02-20 20:32] zepumph commented on #90
@emily-phet should this block GFL publication?

[2020-02-20 20:54] samreid opened #94 "Create more subtle slider click sounds"
During https://github.com/phetsims/wave-interference/issues/474 @ariel-phet recommended a subtler slider click sound.  @Ashton-Morris can you please schedule a short call with @ariel-phet to discuss it?

We are currently using

[code]

[2020-02-20 21:13] samreid opened #95 "Tambo should support ducking"
From https://github.com/phetsims/wave-interference/issues/476#issuecomment-588623863

The implementation worked out OK in this instance, but I can foresee that ducking may be necessary between seemingly unrelated pieces of code.  If we plan to leverage ducking more and more, I wonder if there should be a tambo feature for that, like

[code]

The effect would be that the given `SoundClip`, when pla

[2020-02-20 21:13] samreid commented on #95
@jbphet replied:

Nope - this is the first time that the need has come up.  I'm okay with creating an issue to consider the feature generally, but I would tend towards deferring it until the problem comes up in another sim.  It sounds like the ducking was implemented successfully in this case, so unless it comes up more than an handful of times, I'd like to avoid the complexity of a general implem

[2020-02-20 21:13] samreid commented on #95
We also discussed making so that one sound can have multiple categories.

[2020-02-20 21:15] KatieWoe commented on #90
@emily-phet if you meant me, then that is correct. I don't think it gets rid of VO in any way, but tambo sounds and vibe sounds.

[2020-02-20 22:33] kathy-phet commented on #90
Agreed that it shouldn’t block publication but it is worth some investigation to see if it’s fixable.
K

Sent from my iPhone

On Feb 20, 2020, at 2:09 PM, emily-phet <notifications@github.com> wrote:

﻿

@kathy-phet<https://github.com/kathy-phet> For clarification - once you return to the sim, there's no way to get it back other than restarting the sim.

@zepumph<https://github.com/zepumph> No, I

[2020-02-20 22:34] emily-phet commented on #90
@kathy-phet - sorry Kathy, I was intending to ask Katie that question. Thanks for weighing in anyway!

[2020-02-20 22:37] zepumph commented on #90
Alright great. I think of this as a sound related, sim-unspecific issue, so I will assign to @jbphet. Let me know if you want assistance.

[2020-02-21 19:34] jbphet commented on #90
@emily-phet said:

Yes, I've seem some out-of-spec behavior of the audio context in iOS before.  The main thing I've seen is that sometimes the state of the audio context gets set to `interrupted`, which doesn't even exist in the spec.  My guess is that iOS tries to save battery by turning off the power to the amplifier that drives the speakers if the page that was creating sound is no longer acti

[2020-02-25 18:18] ariel-phet commented on #94
Met with @Ashton-Morris, I think he has a clear idea of the direction now.

[2020-02-26 23:03] zepumph opened #96 "remove phet.inWrapper logic"
We are not supporting Tambo from master in a wrapper anymore, so I think that `phet.inWrapper` logic can be removed.

[2020-02-26 23:05] zepumph commented on #96
@jbphet I couldn't see any other usages of `phet.inWrapper`. Please review.

[2020-02-27 22:25] oliver-phet opened #97 "Browser thinks user interface sounds are playing"
Running http://phettest.colorado.edu/circuit-construction-kit-ac/circuit-construction-kit-ac_en.html?ea&brand=phet
Safari Version 13.0.5 (15608.5.11)
The browser thinks there is audio playing in the sim, even though no audio is actually output. @jbphet thinks this is due to the method of muting user interface sounds (reducing volume to 0).
![out](https://user-images.githubusercontent.com/5090275/7

[2020-02-28 22:25] jbphet commented on #96
Looks good to me, thanks!  Closing.

[2020-02-28 22:25] #96 closed

[2020-03-11 20:24] jbphet commented on #79
Pros:
+ improved performance

Cons:
+ assumes that shadow variables and values in the audio contexts stay synced, which could be incorrect due to bugs in the code or unexpected hardware behavior, which can vary across platform
+ somewhat more complex code

In the interest of evaluating the potential performance improvements, I added the following test code to the "Play Basic-Level Sound" to the th

[2020-03-11 20:24] #79 closed

[2020-03-17 22:12] jbphet commented on #64
In https://github.com/phetsims/tambo/commit/515673bb596f0413390a455b73ae2f5f7e66d570 I modified the `soundManager` to disallow sound production until the sim initialization is complete by using the emitter the @samreid recommended above.  I tested this by logging the gain value, and I can see that it is zero initially and changes to 1 when initialization completes.  I have two questions about this

[2020-03-20 19:06] KatieWoe opened #98 "LoL sound continues after pause"
For https://github.com/phetsims/QA/issues/277
The sounds in the game do not pause when the legends of learning harness is paused.  Likely to be deferred as in https://github.com/phetsims/fractions-common/issues/80.

[2020-03-23 16:39] jbphet commented on #60
It has been about a year since there was any action on this issue.  @KatieWoe - can you please test on a few of our supported devices and see if the crackling problem still manifests?  I am still of the mind that this is probably a problem with the iOS devices where the touchdrag activities compete with sound generation for resources, but there is a possibility that it's something that we're doing

[2020-03-23 17:55] KatieWoe commented on #60
Going back and looking at Ohm's Law on a few platforms, I think that instance was intended. I'll keep my eye out though. Note that iOS 9 and 10 have been dropped by this point.

[2020-03-25 00:46] jbphet commented on #93
I can duplicate this in my Dell XPS Win 10 machine, but the delay is quite small, I would estimate about a second.  I decided to test it against a simple Web Audio demo to see if it was anything that we're doing or something that Chrome or Windows is doing.  I used [this Web Audio oscillator demo](https://webaudioapi.com/samples/oscillator/), and found that the exact some behavior was present.  In

[2020-03-25 14:39] #93 closed

[2020-03-25 21:56] jbphet commented on #90
The issues below are all related to this one, and have to do with the audio context being set to states other than "running":

+ https://github.com/phetsims/tambo/issues/59
+ https://github.com/phetsims/fractions-common/issues/82
+ https://github.com/phetsims/friction/issues/173
+ https://github.com/phetsims/resistance-in-a-wire/issues/190

[2020-03-25 22:04] jbphet commented on #90
As suspected, this is due to state changes for the audio context.  The behavior of the code when I started working on this was to detect changes to the 'interrupted' state and try to transition right away back to the 'running' state.  That worked in many cases, such as for the full screen issue, but it wasn't working in this case - the attempt to resume either didn't work at all, or it appeared to

[2020-03-25 22:06] jbphet commented on #90
By the way, when working on this, I found that I could duplicate the problem somewhat sporadically in a regular window but more consistently in a "Private" window.

Also, my testing was done on the PhET iPad Air 2 named "Pauling" running iOS 13.4.

[2020-03-27 00:47] samreid commented on #64
Review blocks publication for any sims with sound.

[2020-03-28 01:56] samreid commented on #64
I confirmed this fix works properly, thanks!  I have a few recommendations for improvements:

- [ ] Can the `simInitializedProperty` be converted to a local `const` since it doesn't seem necessary to be stored on the soundManager?
- [ ] Right now it works because the startup sequence (a) creates the soundManager then (b) triggers the Sim emitter.  If the code changed in the future so that the `sou

[2020-03-30 17:32] jbphet commented on #64
Yes, good catch.  I was thinking it had to be a property in order to work with the multilink that governs the overall enable state, but that was incorrect, so I've changed it to a local const.

That would be great.  I thought about this during the implementation, but figured it would be pretty obvious if sound broke entirely so the problem would be caught quickly, but if you (as the main caretaker

[2020-03-30 22:15] samreid commented on #64
I converted it in the commits, and updated soundManager accordingly.  @jbphet can you please review?

[2020-03-31 20:41] jbphet commented on #64
Looks good to me.  I focused more on the `soundManager` changes, but looked over the phet-io and joist changes as well, and they seem reasonable.  Plus, you're one of the experts in both of these areas, so I figure you're well qualified to make them.  I changed a variable name in `soundManager`, but other than that, I think we're good.  Closing.

[2020-03-31 20:41] #64 closed

[2020-04-07 00:10] jbphet commented on #82
I decided to move one of the query parameters into a init-globals, removed one entirely, and made one into a constant in the filer where it was used.  This should be fully addressed, closing.

[2020-04-07 00:10] #82 closed

[2020-04-07 00:11] jbphet opened #99 "Improve the stubbed audio context"
There is some duplication in the stubbed audio context.  This can be improved by making stubbed sub-components, such as a stubbed `AudioParam`.

[2020-04-07 22:48] jbphet commented on #92
Enum looks good, thanks.  Closing.

[2020-04-07 22:48] #92 closed

[2020-04-10 16:22] jbphet commented on #73
The common code sounds have been added and have been in use for a while now.  It seems to be working reasonably well, so I'll close this issue and log more specific ones for subsequent changes.

[2020-04-10 16:22] #73 closed

[2020-04-13 21:19] jbphet commented on #99
I did a fair amount of updating of the stubbed audio context and then tested using the `forceStubbedAudioContext` query parameter.

@KatieWoe - could you please have the QA team test that this is working on Internet Explorer?  The idea would be to test sims that support sound, such as friction, john-travoltage, gravity-force-lab, ohms-law; and verify that the built versions of these sims run from

[2020-04-13 22:18] KatieWoe commented on #99
Things seem ok. Tested on Arithmetic, Friction, John Travoltage, Ohm's Law, and Waves Intro.

[2020-04-14 15:38] jbphet commented on #99
Cool, thanks.  Closing.

[2020-04-14 15:38] #99 closed

[2020-04-14 23:34] jbphet commented on #74
I was able to duplicate this problem by creating two different versions of Waves Intro, one that associated the `lightBeamLoopSoundClip` with the view of the light scene like so:

[code]

...and one that did not make such an association, like this:

[code]

The sound effect for the light beam was significantly louder in the first one.

I think I've figured it out, and it's a bit of a nasty problem

[2020-04-21 13:40] #94 closed

[2020-04-24 17:13] samreid opened #100 "Improve loading sequence for audio"
From https://github.com/phetsims/density/issues/13#issuecomment-608035965

In https://github.com/phetsims/joist/issues/621, @zepumph and I generalized SimLauncher to support more general locks.

We thought it would be best if sound worked the same way as images, where they are loaded into memory during the startup sequence, before SimLauncher kicks off the sim-specific code.   Maybe this will simp

[2020-04-28 21:39] zepumph opened #101 "Thoughts about default push button"
While poking through a few sims with sound enabled, I found that the push button sound really stood out to me. To me it felt like there was a metallic and tingey end that pierced my ear drum.

I know that sounds are in general very subjective. My opinion is that it comes off a bit harsh.

Please excuse my lack of sound-describing vocabulary. Assigning to @emily-phet to see what she thinks, and if

[2020-04-28 23:49] jbphet opened #102 "Asset files needed for screen selection sounds"
In https://github.com/phetsims/tambo/issues/91, the screen selection sound generator was moved from "demo status" to "used in all sims status".  We need to get the `.wav` files and any other sound-related files for the sounds that we decided to use.  I've left their names unchanged for now so that the original sounds are easier to track down, once these are committed we should simplify the names.

[2020-04-29 13:54] emily-phet commented on #101
@zepumph - I'm not sure I know which sound you're referring to. Is there a way for you tell if it's been used in any sims?

Consistent with PhET's myriad special buttons, we're finding that there are subclasses of buttons that need their own sound designs. For example, the buttons on the faucet and light source just got their own special sound that will be reused for at least a subset of PhET butt

[2020-04-30 00:10] jbphet commented on #91
@samreid - I removed the workaround as a test, and it seemed to work fine (no crashing of single-screen sims with audio), so it might be that things have changed due to the way sounds work after the ES6 migration.  However, I'm inclined to leave the conditional in place, since the sound generator wouldn't be used in a single-screen sim, and not creating it will save load time.  Are you okay with l

[2020-04-30 00:12] jbphet commented on #100
Yes, it will allow some simplification if we can assume that all sounds are fully decoded before the sim is started.  I'll investigate.

[2020-04-30 21:03] zepumph commented on #101
That is quite likely! I'm talking about the default button sound, but it is possible that it has always been turned of or overridden in all designed buttons thus far. The sound can be found by clicking on the tweaker buttons for the wavelength slider in
http://phettest.colorado.edu/bending-light/bending-light_en.html?ea&brand=phet&supportsSound&sound=enabled&screens=2

[2020-05-04 16:03] #102 closed

[2020-05-04 22:30] jbphet commented on #100
@samreid - I was just doing some investigation on this issue, and I have a question.  The sound library - specifically the file `soundInfoDecoder.js` - works with sound specifications that are either URLs to a sound file (such as an MP3 file) or previously encoded base64 data.  When we made the transition to ES6 modules a few months back, it became necessary to use "grunt modulify" to turn sound f

[2020-05-04 22:35] samreid commented on #100
Yes, as I understand, we only use the `grunt modulify` style of audio files at the moment.

[2020-05-08 17:13] pixelzoom opened #103 "no JSdoc for methods"
Encountered while working on https://github.com/phetsims/chipper/issues/932.

There's currently no doc for `Playable.isPlayable` and `SoundInfo.isSoundInfo`.

[2020-05-08 17:38] pixelzoom opened #104 "incorrect singleton pattern for pushButtonSoundPlayer"
Noted while working on https://github.com/phetsims/chipper/issues/932.

In pushButtonSoundPlayer.js:

[code]

I'm guessing that the intent was to create a singleton that is instantiated on demand. But a class should not have a lowercase class name.   And `pushButtonSoundPlayer.getInstance()` doesn't look at all like a static method call.

Rename `pushButtonSoundPlayer` to `PushButtonSoundPlayer`.

[2020-05-11 19:05] jbphet commented on #104
Oops, this was an early experiment from the effort to create shared sound players for common UI components that I neglected to delete.  It's gone now.  The actual singleton for this can be found at https://github.com/phetsims/tambo/blob/master/js/shared-sound-players/pushButtonSoundPlayer.js as of this writing.

Thanks for bringing this to my attention.  Closing.

[2020-05-11 19:05] #104 closed

[2020-05-11 19:19] jbphet commented on #103
Headers adding, closing.  `SoundInfo` will likely be deleted shortly anyway, but `Playable` will live on.

[2020-05-11 19:19] #103 closed

[2020-05-13 18:47] jbphet commented on #100
This involved a bit more complexity than initially expected because the locks don't block other module loading, they block construction and running of the sim.  Since some sounds can be constructed during module load time, and since there may need to do some examination of the sound data at this time (for instance to trim silence from the start and end), we needed a mechanism to signal when the lo

[2020-05-18 17:13] KatieWoe opened #105 "JT Humming doesn't happen right away after unmuting"
**Test device**
Dell or iPad
**Operating System**
Win 10 or IPadOS 13
**Browser**
Chrome or Safari
**Problem description**
For https://github.com/phetsims/vibe/issues/33. Unsure if general or JT specific, so putting here. Move if JT specific. Does not occur in published.
 If you mute John Travoltage, add electrons, and then unmute, the humming sound that should be there does not occur. You need to

[2020-05-18 21:26] jbphet commented on #105
I believe this problem was introduced in https://github.com/phetsims/tambo/commit/49ae465a39dfb75a2112123d39c9cd32c444f73b.  The commit message for that commit is incorrect, and I'm wondering if it was accidentally committed while doing some other experimentation.  It should be fixed now.  @KatieWoe - can you please test this on master?

[2020-05-18 21:42] jbphet opened #106 "Add a low-frequency amplitude modulator"
In https://github.com/phetsims/wave-interference/issues/497#issuecomment-628883466 the sound design team was discussing using a low-frequency oscillator (LFO) to control the amplitude modulation of a sound (in this case, the sound for a moving speaker that is creating a sound wave).  This idea has also come up for modulating the sounds used in the "Proportion and Ratio" simulation.  We should have

[2020-05-18 22:34] KatieWoe commented on #105
looks good on master

[2020-05-18 22:34] #105 closed

[2020-05-19 22:44] jbphet commented on #106
This is implemented.  @samreid - heads up that this exists and can be used for the wave sound in Waves Intro if so desired.  You can see a demo of it in action on the 3rd screen of tambo.  Feel free to close this issue once you've had a look.

[2020-05-21 22:20] samreid commented on #106
Thanks, I tested the demo and will keep this in mind.

[2020-05-21 22:20] #106 closed

[2020-05-26 22:43] samreid commented on #74
I tried uncommenting
[code]
and it appeared to work OK.  Next I tried removing the code in the multilink that was handling that part and it was still OK.  So I decided to try using this approach for all Properties like so:

[code]

This works correctly in the sim screen, but when you initially select the "Light" icon in the homescreen, there is a short burst of audio (note the call to `play()` dur

[2020-05-26 23:12] jbphet commented on #85
I've moved the set of panels to the "Test" screen since there is good infrastructure there for it now.  I also fixed the erroneous docs.  As for the reset handling, I've left it as is for now, since it is working fine in Gravity Force Lab and the name represents what it is at this point.

The demo isn't perfect because it doesn't handle resets, but none of the other ones do either and the demo scr

[2020-05-26 23:12] #85 closed

[2020-05-27 00:07] zepumph opened #107 "soundManager.setReverbLevel should only do work if reverb is different"
Noticed while working on https://github.com/phetsims/ratio-and-proportion/issues/9

[2020-05-27 00:08] zepumph commented on #107
@jbphet how does the above commit look to you?

[2020-05-27 00:13] zepumph opened #108 "SoundClip to swap out WrappedAudioBuffers?"
While working on #9, I found myself recreating a lot of SoundClip instances to support designing options (via the options dialog). This isn't production code, but it does seem to be a quite common usage of SoundClip. What I would love to be able to do is:

[code]

Does this seem reasonable? Would it be valuable to you? Is it even possible?

[2020-05-27 16:09] jbphet commented on #108
Wouldn't `MultiClip` work well for this?  Just create a map of sound-to-values and load 'er up.  Take a look at that, then let me know if you're looking for something more specific to this particular problem.

[2020-05-27 16:22] jbphet commented on #107
Looks good to me - thanks!  Closing.

[2020-05-27 16:22] #107 closed

[2020-05-27 18:56] jbphet commented on #74
I applied the patch above and tested, but I'm unable to duplicate the "short burst of audio".  I test in Chrome, Firefox, and Edge.  We should have a zoom call and take a look together.

I have seen some issues with sound glitches on the very first sound played by the sim before.  Is that what you're hearing?  If so, this is a result of the audio context changing states from "suspended" to "runnin

[2020-05-27 22:01] jbphet commented on #74
I met with @samreid via Zoom, heard what was going on, and spent some time trying to resolve it.  I come up with something that worked great on Chrome and Edge, but breaks sound entirely on Firefox.  Such is the nature of Web Audio at this stage of the game.  Below in the patch, but I'm not going to commit it (obviously).

I'm assigning this back to @samreid.  I recommend that for now you find som

[2020-05-27 22:05] samreid commented on #74
That is the current checked-in implementation.  Perhaps it will be part of the review in https://github.com/phetsims/wave-interference/issues/426.  Should this issue be left open and unassigned for now?

[2020-05-27 22:10] samreid commented on #74
According to https://stackoverflow.com/questions/48317725/is-it-safe-to-run-multiple-instances-of-puppeteer-at-the-same-time/52596920 it is safe to run multiple puppeteers concurrently.

[2020-05-28 03:50] samreid commented on #100
Generally this looks like a good direction, and I think it is set up well.  I have a question or two and some brainstorming about possible improvements.

Q: In soundManager.js, `reverbImpulseResponse` access is used only in `initialize` which is called in the Sim constructor which is after SimLauncher has loaded everything.  So in that case the link/unlink seem unnecessary.  Does that sound right

[2020-05-28 16:15] jbphet commented on #74
I'll follow up on this by making sure that I review this section of the code, then will create a new issue since most of this one has been addressed, and then close this.

[2020-05-29 02:23] zepumph commented on #108
That is a great idea. Thanks for showing that to me!

[2020-05-29 02:23] #108 closed

[2020-06-02 23:08] jbphet opened #109 "Problems with starting a loop during load time and using enabledProperties to control it"
In https://github.com/phetsims/wave-interference/issues/426 @samreid describes some problems that he ran into when trying to create a `SoundClip` loop, start it playing at load time, and then use properties that control the enabled state to control when the sound is heard.  Most of the issues with this have been resolved, but one remains, so I thought I'd break it into its own issue: There is ofte

[2020-06-02 23:12] jbphet commented on #74
Since the originally reported problem about the volume being reduced has been addressed, albeit with something a little awkward, I'm going to close this issue and have opened a new one about the audio burst and will follow up there.  The new one is #109.  Closing.

[2020-06-02 23:12] #74 closed

[2020-06-03 00:42] zepumph opened #110 "Add SoundClipChord to Tambo"
from https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-637804363, it was recommended that instead of removing this SoundGenerator, because it is no longer needed in Ratio and Proportion, to instead move it to tambo. I will also add a sample for it.

[2020-06-03 00:42] zepumph commented on #110
@jbphet anything else here?

[2020-06-03 15:40] jbphet commented on #110
Looks good to me.  Thanks for doing this - it's very cool, and I hope it makes it into a sim soon.  Closing.

[2020-06-03 15:40] #110 closed

[2020-06-03 15:46] samreid opened #111 "InvertedBooleanProperty should not be settable, or should have 2-way binding"
During https://github.com/phetsims/wave-interference/issues/426 it was recommended to use InvertedBooleanProperty.  I discovered there is a problem that you can set its value independently.

[code]

Have you considered implementing InvertedBooleanProperty using DynamicProperty, which supports one-way or two-way binding?

Have you considered implementing InvertedBooleanProperty as a DerivedProperty

[2020-06-03 17:53] jbphet commented on #111
I hadn't thought about it much at all, I just wanted it and whipped it up quickly.  It's a good point that it can be set independently, which is undesirable.  I've revised it to use the DerivedProperty approach described above, and this makes it very compact.

Good suggestion @samreid.  Good to go?  Do we need to think about passing in a tandem or options?

[2020-06-03 18:48] jbphet commented on #100
I quite like all three of these suggestions and will move forward with trying them out.  I'm not too worried about the documentation piece, since the documentation in `modulify.js` should be sufficient for us to do a build.

I think this would be impractical, or to put it another way, I think we could do it, but I don't think it would be any simpler than it is now.  The usage case that leads to ex

[2020-06-03 19:38] samreid commented on #111
I recommend passing through `options` so usage sites can pass options as necessary.

[2020-06-05 16:09] jbphet commented on #111
Options added.  Are we done here?

[2020-06-08 17:29] jbphet commented on #100
@samreid and I met via Zoom and discussed [the suggestions he proposed above](https://github.com/phetsims/tambo/issues/100#issuecomment-635080361).  We decided that I should move forward with the simplification of `WrappedAudioBuffer` where there is only one field that is a tiny property that is either `null` or an instance of an `AudioBuffer` and to do away with `loadedProperty`.  We also thought

[2020-06-08 21:43] samreid commented on #111
The options look great, I just added one improvement to the JSDoc. The last thing is it seems this belongs in axon--nothing about it seems tambo specific (except that tambo may use it).

Finally, I noticed the definitions of `DerivedProperty.and` and `DerivedProperty.or` and was wondering if this should be defined as `DerivedProperty.not` to fit in better.

[2020-06-08 21:51] samreid commented on #100
Looks great, thanks!  I recommend adding an assert message to:

[code]

I'll do that shortly.  Everything else looks good, thanks!

[2020-06-08 21:54] samreid commented on #100
While I was adding that assertion message, it seemed like is should convert `if (assert)` to `assert &&`, as is our convention many other places, so I went ahead and did that too.  I don't think that warrants re-modulifying everything though.  @jbphet any other thoughts before closing?

[2020-06-08 22:09] jbphet commented on #111
That seems great, I didn't realize it was an option.  I went with it, please review and close if you're good with it.

[2020-06-08 22:41] jbphet commented on #84
Apologies for not getting to this sooner.

I reviewed the code and made some changes to the way the audio nodes are inserted into the signal chain that I think is a bit simpler and, hopefully, more clear. When I went to test the changes, the only usage I found was in `PeakToneGenerator`, which doesn't seem to be used anymore.  So, here are some questions:

+ Do we still need support for additional

[2020-06-08 23:45] jbphet commented on #100
Sounds good to me, and I agree that it doesn't warrant re-modulifying, since it wouldn't change anything anyway, since the modulified sounds just reference `WrappedAudioBuffer`.  I think we're good here.  Closing.

[2020-06-09 03:02] samreid commented on #100
On second thought, I realized if we don't remodulify now then it will creep in gradually as new images/sounds are checked in.  So I think we should do it as a batch.  I'll work on that now.

[2020-06-09 03:10] samreid commented on #100
Oops, my mistake, the WrappedAudioBuffer isn't part of modulify.  Closing.

[2020-06-09 03:10] #100 closed

[2020-06-09 13:49] samreid commented on #111
Looks great, thanks!  Closing.

[2020-06-09 13:49] #111 closed

[2020-06-09 14:02] samreid commented on #84
I removed PeakToneGenerator.  I think one day we will want to leverage the additional audio nodes functionality. I skimmed the changes in https://github.com/phetsims/tambo/commit/49b9691dd0df72a5fde82a6ac4303354ba352c20 and it seemed reasonable, but, like you, I had no way to test it.  Likewise, I don't feel I have time at the moment to develop a test case for this.

@jbphet how do you recommend t

[2020-06-09 15:21] jbphet commented on #84
Here's what I'll do:

- [ ] Move the code to support additional audio nodes to `SoundGenerator`
- [ ] Implement a test case that adds a reverb (convolver) node, since there may be a need to this in the Proportions & Ratios sim
- [ ] Make sure this all works and, if so, close the issue

[2020-06-09 19:09] jbphet opened #112 "Consider reducing volume of reset"
I've gotten feedback from a couple of PhET team members lately that the reset sound is a bit loud, especially considering that it is a UI sound, which we've made an effort to make fairly innocuous.  This is based on how people have their volume set during normal usage.  This is a bit tricky, because the reset is what we've used as the reference for our previous mixes, but I still think we can take

[2020-06-09 19:28] samreid commented on #91
The move to joist looks like it was done nicely and is working well.  However, it seems a more appropriate way to set this up would be to add the `ScreenSelectionSoundGenerator` as part of the `HomeScreenView`.  That way it will only be created if there is a home screen, and it won't need to be synchronized with `workItems` etc.

The last part of the comment says:

which is no longer necessary now

[2020-06-13 13:38] emily-phet commented on #112
@jbphet Just a note from last Tuesday's meeting - we decided that lowering the reset all sound would be just fine. We thought maybe on the order 20% of perceived volume.

[2020-06-15 16:21] jbphet commented on #60
@KatieWoe - I see that you've assigned this back to me, but I'm not yet clear on whether the problem still exists.  From the comment just above, it sort of sounds like something that was heard as a glitch was actually intentional.  So, to be clear, does this problem still exist and, if not, can we close the issue?

[2020-06-15 16:26] KatieWoe commented on #60
I don't think it exists, at least on supported platforms that I could see. I'll keep an eye out and reopen if I do see something, but I think it can be closed for now.

[2020-06-15 16:28] #60 closed

[2020-06-15 19:45] jbphet commented on #112
I did a bit of research to see if I could come up with a rigorous way to reduce the perceived volume by 20%.  This turns out to be a bit tricky, so I used the information that I found in [this PDF file about human perception of sound](https://modularwalls.com.au/wp-content/uploads/Human-perception-of-sound_April2016-WEB.pdf), specifically this bit:

![image](https://user-images.githubusercontent.c

[2020-06-15 22:54] jbphet commented on #84
Implemented as described above, test case seems to work well, closing.

[2020-06-15 22:54] #84 closed

[2020-06-16 17:36] jbphet commented on #91
Since I'm going to be making changes to the code that does the sound generation for screen selection, I thought it would be a good idea to publish a dev version of multi-screen sim that demonstrates the current behavior as a reference point.  Here it is: https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.14/phet/tambo_en_phet.html.  Once the refactoring is done, the behavior should be the same as

[2020-06-16 18:29] jbphet commented on #91
@samreid said:

Good suggestion.  I made this change and it enabled some substantial simplifications to the code.  @samreid - please review.  If you're cool with what we have at this point, feel free to close.

[2020-06-16 19:37] samreid commented on #91
The change set looks really great, thanks!  Closing.

[2020-06-16 19:37] #91 closed

[2020-06-16 23:26] jbphet commented on #112
@emily-phet and @Ashton-Morris - Please compare the reset volume level in these two different versions of the tambo demo and let me know if you think this is the right amount of reduction.  I thought it might actually be a bit too much, so I'm interested in your input.

- Before reduction: https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.13/phet/tambo_en_phet.html
- After reduction: https://phet

[2020-06-18 19:14] jbphet opened #113 "Remove stubbed audio context"
PhET is discontinuing support for Internet Explorer as documented in https://github.com/phetsims/tasks/issues/1037.  `phetAudioContext` currently creates a stubbed version of a Web Audio audio context when running on IE so that things don't crash.  It may be possible now to remove this, which would simplify the code.

It will be important to test on all supported platforms once this change is made

[2020-06-22 23:06] jbphet commented on #113
This is done.  Assigning to @KatieWoe for two reasons:

1. Heads up - IE will not longer work at all.  We're adding a message about this, see https://github.com/phetsims/tasks/issues/1037, but based on my testing this is the first thing that will actually cause loading of IE to fail.
2. We should regression test sound on multiple platforms.  I did my own tests on Chrome, Firefox, Edge, Safari, and

[2020-06-23 16:44] Ashton-Morris commented on #112
@jbphet I think the volume changes are good. Specifically when I click through the bottom screen changes and then hit the reset, they all seem to have a good continuity.

[2020-06-24 18:31] jbphet commented on #112
I'm going to call things good based on @Ashton-Morris's feedback and my own opinion and close this.

[2020-06-24 18:31] #112 closed

[2020-06-29 22:25] jbphet commented on #113
@KatieWoe requested (via Slack) that I publish dev versions for testing this as we did for https://github.com/phetsims/vibe/issues/33.  Here they are:

- https://phet-dev.colorado.edu/html/molarity/1.6.0-dev.4/phet/molarity_en_phet.html
- https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-dev.21/phet/john-travoltage_en_phet.html
- https://phet-dev.colorado.edu/html/plinko-probability/1.2.0-d

[2020-06-30 21:58] zepumph opened #114 "Add envelop feature"
From https://github.com/phetsims/ratio-and-proportion/issues/9, @Ashton-Morris mentioned that it would be nice to have a single sound be able to be played at different notes based on playback rate (which we already do). To this we should add an envelope so that we could make all the manipulated sounds have the exact same length.

In "ADSR" context, this would likely only be for attack and release,

[2020-07-06 18:02] jbphet commented on #114
We  (@emily-phet, @Ashton-Morris, @zepumph and I) discussed this in the 6/29/2020 sound design meeting in the context of the "Ratio and Proportion" sim, specifically with regard to producing variations of the "staccato" sounds that are played as the user gets closer to and further from the target proportion.  We decided that it may well be useful at some point, but we're going to focus on other th

[2020-07-09 23:50] zepumph opened #115 "console warning even when sound not enabled: "The AudioContext was not allowed to start. . .""
Recently, when fuzzing natural selection in phet-io studio, I didn't click in the sim, and got 19 and counting of these warnings:

"The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page."

![image](https://user-images.githubusercontent.com/6856943/87101455-9c36a380-c1fb-11ea-8cb5-bf4d0e4711aa.png)

MultiClip:110:
[code]

@jbphet does it bother

[2020-07-10 17:53] jbphet commented on #115
I would, of course, prefer for this not to happen, but there are a few reasons why I don't think it would be worth the time and effort to make it go away.
1. The message only occurs during fuzz testing, and that's because there has been no actual user interaction, so these messages are not something our users will see even with the console open, and we developers also don't see them very much.
2.

[2020-07-10 18:20] zepumph commented on #115
Thanks for taking to time to explain this to me. I appreciate it.

[2020-07-10 18:20] #115 closed

[2020-07-13 18:03] zepumph opened #116 ""SoundGenerator" vs "SoundPlayer""
This minor terminology issue is a bit confusing while poking around the tambo. I think that "sound player" is vestigial, but we still have `Playable`, and we also have many `*SoundPlayer.js` types in `tambo/js/shared-sound-players`.

Over to @jbphet to discuss.

[2020-07-13 19:07] jbphet opened #117 "Remove unused sounds, put prototype & test sounds in separate directory"
@zepumph was recently doing some work on adding a common UI sound, and pointed out that it's a little confusing when looking at the `sounds` directory in tambo because there are a lot of sounds, many of which have names that make them sound like they are being used for prototyping and/or testing.  This makes it difficult to figure out which ones are eligible for inclusion in a simulation, which sh

[2020-07-14 01:01] samreid commented on #76
This is no longer used in Wave Interference.  If we think there's a good chance it will be used in other sim sonification, it should remain in Tambo. Otherwise, maybe we should consider moving it back to Gravity Force Lab: Basics.

Since this was my attempt to generalize the original draft and I no longer have a production-focused simulation that exercises this, I'd be happy for you to take the le

[2020-07-27 21:43] zepumph opened #118 "What should be disposed for web audio?"
This issue comes from my working in Ratio and Proportion.

The immediate bug is that SoundClip.dispose doesn't stop a sound, such that it is possible when you switch sound options in RaP "in proportion" sounds (which are quite long), to hear the tail end of the last while the next one is playing.

In practice this won't be an issue, but it made me think about sound disposal, and got me poking arou

[2020-07-29 17:48] jbphet commented on #116
A sound player is a sound generator that implements the `Playable` interface, meaning that it is meant produce sound by invoking the `play` method.  All sound players and sound generators, but not all sound generators are sound players.  An example of a sound generator that is *not* a sound player is one that takes a property and plays sound based on the state and/or transitions for that property.

[2020-07-29 19:00] zepumph commented on #116
Makes sense to me! Thanks.

[2020-07-29 19:00] #116 closed

[2020-08-03 23:37] jbphet opened #119 "Use default sound players for default values in options for common UI components"
There are a number of places in common UI components that currently look something like this:

[code]

@zepumph pointed out that this is unnecessarily complicated, and he's right.  I did it this way initially because the sound players were singletons that were only created when included, so I didn't want to create them unless they really were used, but this turned out to add unacceptable delays, s

[2020-08-03 23:43] jbphet commented on #119
Note that there may still be some occurrences of this pattern if there really is a sound that is not generally loaded (e.g. not a shared sound player) for a component where we still want to be able to override the sounds that are used.

[2020-08-04 18:54] jbphet commented on #119
Done, closing.

[2020-08-04 18:54] #119 closed

[2020-08-18 18:43] jbphet commented on #76
I implemented my suggestions above or, in some case, decided against them and noted it.  I think that should do it for now, closing.

[2020-08-18 18:43] #76 closed

[2020-08-31 21:57] zepumph opened #120 "fullyEnabledProperty isn't effected by parent connection's fullyEnabledProperties"
After a lengthy conversation where I mostly floundered in explaining a recent gotcha I was experiencing, it was discussed that a "child" sound generator may have a `fullyEnabledProperty` that is "true" but still won't play because a parent connection will not be `fullyEnabled`. For this issue, the "parent/child" relationship is based on `SoundGenerator.connect` calls.

My case in which I ran into

[2020-09-09 21:47] zepumph opened #121 "Underlying `wav` files missing in `assets/`"
Over in https://github.com/phetsims/scenery-phet/issues/612#issuecomment-662197421 it was outlined that there are multiple places where `wav` sounds may not be in `assets/` dirs for every production sound. I'm wondering if that could be automatically checked on build?

We have `grunt reportMedia` which looks at `license.json` files. Is it possible to make an assumption there that any `.mp3` or oth

[2020-09-10 16:08] jbphet commented on #121
Sure, seems like a good idea.

[2020-09-11 14:45] KatieWoe opened #122 "CT cannot read property pointer"
[code]

[2020-09-11 20:07] jbphet commented on #122
I am unable to duplicate this, and tambo has passed CT for the last 4 interations, so I'm going to assume that this was an issue with some common code that has since been fixed, since I haven't been doing any work lately in tambo.

In case we need it, here is a version of the stack trace that isn't from a minimified file and is thus more readable.

[code]

Closing.

[2020-09-14 15:09] KatieWoe commented on #122
This is back, reopening:
[code]

[2020-09-14 21:28] jbphet commented on #122
To duplicate this problem outside of fuzz testing:

1. load tambo (the non-built version works for this)
2. Go to the first screen
3. Use the tab key to navigate to the number spinner that controls the number of balls
4. Press the up arrow

I've done some investigation on this, and my research indicates that this is a general problem with the a11y code in `NumberSpinner` rather than a tambo-specif

[2020-09-14 21:29] jbphet commented on #122
I'm giving this a 'high priority' label since it is causing tambo to fail CT tests.

[2020-09-15 22:34] jessegreenberg commented on #122
Thanks @jbphet - this is caused by https://github.com/phetsims/scenery/issues/1076, taking over there.

[2020-09-16 16:33] jessegreenberg commented on #122
This is no longer on CT after changes in https://github.com/phetsims/scenery/issues/1076.

[2020-09-16 16:33] #122 closed

[2020-09-29 01:42] zepumph opened #123 "Move MultiSoundClip to common code"
I used a new type in ratio and proportion to play two sounds together at the same time. It is a sound type, and it seems to be sticking around for that sim, so I might as well move it to common code and add a demo for it.

[2020-09-29 02:26] zepumph commented on #123
I came to this issue from https://github.com/phetsims/ratio-and-proportion/issues/127 and a TODO in `MovingInProportionSoundGenerator`.

[2020-09-29 02:28] zepumph commented on #123
@jbphet, this is pretty much a light wrapper for SoundClip, and not too complicated. This is ready for review. What do you think?

[2020-10-14 19:45] jbphet commented on #123
It mostly looks good to me, and thanks for also adding it to the test harness.  I'm a little concerned that it will be easy to confuse `MultiClip` and `MultiSoundClip` given the similarity of the names.  How about `CompositeSoundClip`?

[2020-10-15 00:42] zepumph commented on #123
No preference here, whatever you would like.

[2020-10-19 23:14] jbphet commented on #123
I went ahead with changing `MultiSoundClip` to `CompositeSoundClip` to avoid confusion with `MultiClip`.  @zepumph - assigning to you to make sure that you see this, since it touches ratio-and-proportion.  After that it can be closed, at least as far as I am concerned.

[2020-10-20 00:55] zepumph opened #124 "Should SoundClip.reset() call SoundClip.stop()?"
I was surprised to not find this implemented in SoundClip. @jbphet, do you think that this is a valuable addition for completeness? The main use case I can think of is with the reset all button. It seems like it would be buggy if sounds bleed into after that button is pressed. For example, something like the lightning sound in the demo.

I'm thought about this as a result of subtyping a SoundClip

[2020-10-20 06:22] #123 closed

[2020-10-20 17:07] jbphet commented on #124
If I understand you correctly, by "this", I think you're saying that you're surprised that these is no reset function in `SoundClip`.  There hasn't been a need so far, and while I'd be fine with just calling `stop` in a reset function for long sounds (which are fairly rare), I'm reluctant to have a reset function that just calls `stop` and does nothing else.  If we were to add a `reset` function h

[2020-10-20 22:05] pixelzoom opened #125 "review changes to AmplitudeModulator"
In https://github.com/phetsims/tambo/commit/4f7f458304cff39d64d02574d69b0d5fbaa58535 for https://github.com/phetsims/sun/issues/585, AmplitudeModulator was converted to use EnabledComponent mixin.   @jbphet referred me to the tambo demo to test, but I see nothing in that demo that allows me to test enabledProperty.

I also noticed that there was no implementation of `dispose`, and that this class

[2020-10-22 01:32] zepumph commented on #124
What about adding a simple `reset` to SoundClip that just calls stop, and then if in the future we need to add to it to fill it out more (like you were discussing), we can. My only hesitation is that calling `stop` in a subtype reset is less future proof. When I go back to that line of code in 2 years when we have a built-out reset function for SoundClip, I have to know if I specifically meant to

[2020-10-22 17:49] jbphet commented on #124
I'm afraid I disagree that this approach would be more future proof.  If we create a `reset` method that only calls `stop`, and then fill it out more in the future, it could break existing usages.  I also don't think it's that unusual to call something like `stop` in a reset function if that's what you need to do.  I would argue that it makes the code _more_ clear, not less.  I just did a quick sc

[2020-10-22 17:55] #124 closed

[2020-10-23 19:21] KatieWoe commented on #113
Using this comment to record platforms:
Windows done

[2020-10-27 20:34] jbphet commented on #125
Changes look good to me, and it is behaving correctly in the test harness.  Thanks @pixelzoom.  Closing.

[2020-10-27 20:34] #125 closed

[2020-11-06 19:36] zepumph opened #126 "Sounds require simLauncher, even when imported outside of sims."
I encountered this while trying to make a small change to CT over in https://github.com/phetsims/aqua/issues/109. When I build aqua as a standlone module, it imports common code elements (like checkbox) that have sound in them. These sounds import by putting a lock on simLauncher. Thus, a non-sim (and potentially non phet) module depends on joist. This feels like a large flaw to me. That said I do

[2020-11-06 21:18] zepumph commented on #126
This effects the production version of CT, so I feel like it should be high priority.

[2020-11-06 22:43] zepumph commented on #126
With https://github.com/phetsims/aqua/commit/d25054801465932bd48f4fb3060ae05e7dcbceaf, there are no errors when loading continuous-report.html anymore, but these are just workarounds for this issue.

[2020-11-10 17:57] zepumph opened #127 "Where is best to track designed sound prototypes and originals?"
Tracking discussion from https://github.com/phetsims/ratio-and-proportion/issues/191#issuecomment-717328957 in a new issues. Basically I was making the case for having as few files outside of the "PhET cloud" as possible, and to try to create a place where it is easy to make sure that filenames for sounds checked into `git` match the originals that @Ashton-Morris has to work on. This will increase

[2020-11-11 14:52] Ashton-Morris commented on #127
From what I remember from our meeting a few weeks ago @jbphet was suggesting that it was too messy to keep iteration audio files in some repo somewhere. Can you refresh my mind if we decided that this wasn't a priority?

[2020-11-24 23:41] pixelzoom opened #128 "SoundGenerator behaves differently depending on how output level is initialized"
@jbphet asked me to create this issue, something I encountered when writing FourierSoundGenerator.js.

These 2 examples behave differently.

This example works as expected.  You'll hear a 400Hz tone with output level 1.

[code]

This example does not work as expected. You'll hear nothing.

[code]

[2020-11-26 01:28] jbphet opened #129 "Double disable of sound production"
In `soundManager.addSoundGenerator` there is a bit of code that adds an enable control property to each sound generator that is added.  It looks like this:

[code]

If I remember correctly, we did this so that we wouldn't end up in a situation where the user enabled sound part-way through the production of a sound and just heard the tail end of it, or at least that we had full control over this si

[2020-12-05 00:15] jbphet opened #130 "Fuzz testing on sims without sound enabled causes memory leakage"
In https://github.com/phetsims/number-line-operations/issues/17#issuecomment-739077169 I noticed that there seems to be a buildup of `AudioSourceBuffer` instances during the fuzz testing.  This is causing a memory leak that, while it's not huge, it should be addressed.

Here is a screenshot that shows the buildup after 5 minutes of fuzz testing on "Number Line: Operations" followed by turning off

[2020-12-07 23:31] jbphet commented on #130
The memory was being leaked by `MultiClip`, which was being invoked by `HomeScreenSoundGenerator`.  The `MultiClip` sound generator didn't have any handling for the case where sound was played with an audio context that was not in the 'running' state.  I've added handling of that situation which should prevent a buildup of un-play audio source buffers.

[2020-12-07 23:35] jbphet commented on #130
I fuzz tested this on "Number Line: Operations" and verified that audio-related instances are no longer leaking.  Closing.

[2020-12-07 23:35] #130 closed

[2020-12-10 19:18] pixelzoom commented on #126
12/10/2020 dev meeting

@jbphet Asked why we're using sound outside of simLauncher context. @zepumph gave the example of using sun UI components in CT.

@jonathanolson @zepumph pointed out that someone using sun (which is supposed to be "general") is going to have problems.

@jonathanolson suggested testing builds of repos like sun, to verify that they don't have undesirable dependencies.

@zepump

[2020-12-10 19:22] zepumph commented on #126
* I will set a calendar reminder to bring this back up in the beginning of january
* I will create an issue in aqua to add node testing support, including a way to build common code sims (like sun) and make sure that it doesn't depend on joist or sims.