[2020-12-28 18:14] samreid commented on #126
Self-unassigning for now, will reassign once we discuss how to decouple sound.

[2021-01-15 23:26] zepumph commented on #126
Meeting has been scheduled for next Friday, 1/22

[2021-01-22 20:13] zepumph commented on #126
@jonathanolson, @samreid, @jbphet, and @zepumph discussed this issue together today. The main focus of it ended up being more about joist in general as a dependency that should be leaking into common code that doesn't need a Sim to exist. The primary places we see this happening are Tambo and Sun, though scenery-phet could likely have some cleanup too, even though it is more closely tied to phet s

[2021-01-22 21:39] zepumph commented on #126
I just had @samreid give me a working-copy review of asyncLoader.js and simLauncher.js. Things are looking good, and I'm getting ready for a commit. See https://github.com/phetsims/joist/issues/687 for the commits.

[2021-01-22 21:56] zepumph commented on #126
@samreid please finish off the review for this work in this issue (important files linked here), and take a few looks around commits in https://github.com/phetsims/joist/issues/687.

During our discussion you said you wanted an assertion like

`assert && assert( !this.readyToProceedCalled, 'readyToProceed has been called, so no more locks can be added.' );`

at the top of `asyncLoader.createLock`,

[2021-01-23 02:33] zepumph commented on #126
Sorry @samreid, I missed pushing that last phet-core commit for a couple hours. I think this review should block publication, but it should be a quick one.

[2021-01-25 20:40] samreid commented on #126
It seems the problem from https://github.com/phetsims/tambo/issues/126#issuecomment-765707158 is that simLauncher is calling `asyncLoader.readyToProceed` before the brand or phet-io engine are unlocked.  It seems we should wait for those to unlock before calling `readyToProceed`.  To implement this, it seems simLauncher will need its own sort of "locks" to know when to give the go-ahead.  Does tha

[2021-01-25 22:37] samreid commented on #126
Also, it seems like `readyToProceedCalled` should just be another lock--without needing separate treatment.

[2021-01-25 23:06] samreid commented on #126
I believe these commits address both of the preceding issues.  I tested in both unbuilt and built and didn't see problems, but I think it should still warrant "blocks-publication" until @zepumph can review.  If RC SHAs are need imminently, it may be safe enough to sanity test and take SHAs, keeping in mind improvement "cherry-picks" may come from this issue.

[2021-01-26 01:41] samreid commented on #126
CT was failing unit tests because they have no asyncLoader listener.  I removed the assertion--not sure if that's best or if something should be listening. Please review.

[2021-01-28 03:14] zepumph commented on #126
What a very fun and clever approach! (clever in the good way)

I feel like this addresses all of our concerns. I'm not worried about ensuring that there are listeners. `asyncLoader` can be flexible in that way, as its a low level library tool.

I'm ready to close if you are.

[2021-01-28 03:47] samreid commented on #126
Excellent, thanks!  Closing.

[2021-01-28 21:33] zepumph opened #131 "remove dependency on joist in soundManager"
This would involve refactoring DisplayedProperty to add a listener to ALL displays, instead of just the display passed in. This is a new feature created in https://github.com/phetsims/scenery/issues/1149. @jbphet would you like to take it for a test drive here?

Generally related to https://github.com/phetsims/tambo/issues/126

[2021-02-01 22:32] jbphet commented on #131
I'm seeing three joist dependencies in the current version of `soundManager`.  They are:

- window.phet.joist.sim.isConstructionCompleteProperty
- phet.joist.sim.isSettingPhetioStateProperty
- phet.joist.display

@zepumph - by "take it for a test drive here", are you requesting that I eliminate all of these dependencies, eliminate just the display dependency, or something else?  I'm happy to do it

[2021-02-01 23:11] zepumph commented on #131
Yes I think that ideally soundManager should work just as well if the `joist` global exists or not. Thus I recommend the following two tasks:

* Update how DisplayedProperty works such that it adds a a static listener, like `Display.addInputListener` (to all displays)
* Gracefully support calling the soundManager enabled even if the joist Properties don't exist. It should be easy since initialize

[2021-02-10 19:22] pixelzoom opened #132 "Problems with categoryName option to SoundManager"
SoundManager supports the ability to change output level by "category" via this option:

[code]

Problems:

(1) The doc is incomplete. It says nothing about the value.  Is there a set of valid values?  Is there a set of values that's in common use? (I've discovered `'user-interface'`, how do I discover others? Where are their semantics documented?) Apparently you can create new categories by using

[2021-02-19 19:07] pixelzoom commented on #33
@jbphet I'm not sure why @ariel-phet changed the label on this issue, there's no comment.  But now the issue is ready-for-review and unassigned, and there has been no progress since May 2019.   So back to you to decide how to proceed.

[2021-02-22 17:50] jbphet commented on #33
Thanks for reviving this @pixelzoom - we should definitely try to close the loop on it.

@KatieWoe - This issue was reported on iPad 2, which is no longer supported.  I've done a fair amount of testing on the device that is currently available to me, which is unnamed iPad 4 A2270 (this is a pretty new device) and have never encountered the issue.  I think we should have QA test on our current batc

[2021-02-22 18:13] KatieWoe commented on #33
Sounds good. Can you make an issue for the test in the QA repo?

[2021-02-22 19:27] jbphet commented on #33
Issue https://github.com/phetsims/QA/issues/613 has been set up for this testing.

[2021-03-01 23:27] jbphet commented on #131
@jonathanolson - I'm working to eliminate dependencies on joist for this repo (tambo), and the last one is a dependency on the global display variable.  The code the dependency looks like this:

[code]

I'm not sure how best to do this.  Could `DisplayedProperty` be modified to use *any* display instead of having to specify one?  Could there be a way to get the available displays from Scenery?  Do

[2021-03-02 00:05] zepumph commented on #131
Yes you can add a listener to all displays with `Display.addInputListener`, see first bullet in https://github.com/phetsims/tambo/issues/131#issuecomment-771225456.  (added in https://github.com/phetsims/scenery/commit/b64bf00bf1771853f58401a0f973f05ff46da798 for https://github.com/phetsims/scenery/issues/1149). I think it was added exactly for this case. How fun!

[2021-03-03 18:25] jbphet commented on #131
@zepumph and I just talked over Slack & Zoom, and it sounds like creating what `soundManager` needs in this regard, which is a property that is true when a node is displayed and false otherwise, isn't as easy as he may have initially thought using `Display.addInputListener`.  He said he would take this on for now and will talk with @jonathanolson about it.

[2021-03-03 20:10] zepumph commented on #131
Alright, DisplayedProperty now supports any display. With the help of @jonathanolson, this was a very simple change, pretty much just this logic update:

https://github.com/phetsims/scenery/blob/363f3b699fe7c9c7379f959e6aefcf1723597269/js/nodes/Node.js#L6099

To allow an optional display param to be null when all displays should be respected.
Note https://github.com/phetsims/scenery/issues/1167 as

[2021-03-04 21:08] jbphet opened #133 "Create a peak detector"
When PhET first started using Web Audio, I created a peak detector that would monitor the output of an audio node and periodically report the peak values of the output (it would log it to the console).  This was useful for testing whether audio levels were getting too and, and for comparing perception to measured levels.

Unfortunately, this peak detector was based on `ScriptProcessorNode`, which

[2021-03-04 23:28] jbphet commented on #131
I removed one more usage of a joist global that should be redundant since is was the property that tracks phet-io state setting, and that property is now used in `soundManager` to disable sound production.  I think we're done here.  Closing.

[2021-03-04 23:28] #131 closed

[2021-03-22 21:31] jbphet commented on #33
QA has tested on our current set of devices and found that this is no longer a significant problem.  Closing.

[2021-03-22 21:31] #33 closed

[2021-03-30 23:45] jbphet commented on #133
I've got something working and committed, and it's hooked up to the "LongSoundTest" in the tambo demo code as a combination test harness and demonstration.  It's got a fairly significant problem at this point, which is that it assumes that the asynchronous loading of the module that comprises the AudioWorklet processor will be completed by the time the AudioWorklet node is instantiated.  This work

[2021-03-30 23:48] jbphet commented on #133
In addition to the issue with loading the processor module, there are some improvements that could be made, but I probably won't get to them for a while, so I thought I'd list them here as possible future improvements.

- Currently, the update period is fixed at 1 second, and it would be nice to make it variable
- The communication protocol between the two threads is very basic, and it would be ni

[2021-03-31 15:53] KatieWoe opened #134 "CT failed to construct AudioWorkletNode"
[code]

[2021-03-31 21:27] jbphet commented on #134
This failure is related to the recent addition of a peak detector node.  I'm not entirely sure why it's failing, but my best guess is that sometimes the worklet node is being constructed before the worklet process has finished loading.  I have removed the peak detector demo code, and that should fix the issue for now.

[2021-03-31 21:36] jbphet commented on #133
The peak detector in the demo was causing a CT failure, so I've removed it.  Also, based on [this table](https://developer.mozilla.org/en-US/docs/Web/API/Worklet/addModule#browser_compatibility), I think loading of worklet modules may not be supported in Safari, so I should probably test that and build in protection.

There is another issue that could be discussed at the developer meeting: How wou

[2021-03-31 23:21] jbphet commented on #134
CT has now been clear for the last several iterations, closing.

[2021-03-31 23:21] #134 closed

[2021-04-01 15:28] jbphet commented on #133
Un-marking for dev meeting.  I'd like to give this a little more thought and potentially do some additional work on it before discussing it with the rest of the developers.

[2021-04-09 23:18] kathy-phet opened #135 "Consider global control for sound level (in addition to mute)"
From slack:
Brett Fiedler  1:39 PM
A note from the (School) kids while playing with JT: For remote classroom settings, it'd be really nice to be able to turn down the sim volume without turning down the rest computer volume (e.g., Zoom) so they can hear eachother/teacher while playing with the sim.
I know in Windows you can selectively turn down applicaiton via the Mixer, not sure baout mac/chrome

[2021-04-15 23:11] pixelzoom opened #136 "soundManager.getOutputLevelForCategory always returns undefined"
Noted while working on https://github.com/phetsims/fourier-making-waves/issues/55.

soundManager.getOutputLevelForCategory always returns `undefined`.   It's also missing a `@returns` annotation.

Here's the current implementation:

[code]

[2021-04-15 23:16] pixelzoom commented on #136
Done in the above commits.  Note that I also factored out:

`const gainNode = this.gainNodesForCategories[ categoryName ];`

@jbphet please review.

[2021-04-15 23:30] pixelzoom opened #137 "Sound initialization problem with initialScreen query parameter"
When using the `initialScreen` query parameter, there seems to be a sound initialization problem.  Sound is very faint for the first UI component that I interact with on a screen. Any 'user-interface' category sound seems to have this problem.  After that, output level is fine.

Perhaps you're relying on some initialization that occurs on the Home screen, and isn't happening because we're starting

[2021-04-15 23:31] pixelzoom commented on #137
Ha! If I run Ohm's Law with `?initialScreen=1`, it does have this problem.

[2021-04-16 00:01] pixelzoom commented on #137
@jbphet and I spoke about this on Zoom.  He things this is related to this console warning:

(anonymous) @ phetAudioContext.js:14

If you click anywhere in the browser other than on a UI component, then the first UI component will sound normal output level.  And he's 90% sure there's nothing related to `initialScreen`.  But I observed the same behavior with and without `initialScreen` query parame

[2021-04-21 18:14] jbphet commented on #136
Looks good to me, thanks @pixelzoom.  Closing.

[2021-04-21 18:14] #136 closed

[2021-04-22 16:56] pixelzoom opened #141 "Get the duration of a SoundClip"
As I'm starting to add sound to Fourier, I'm seeing code like this in WaveInteferenceSlider.js:

[code]

Setting the time between sounds empirically is brittle.  Can we add a method to get the duration of a SoundClip, based on it's configuration (playback rate, etc.)?

[2021-04-22 17:00] pixelzoom opened #142 ""SoundPlayer" naming of SharedSoundClip instances is confusing and violates PhET naming conventions."
tambo/js/shared-sound-players/ contains a collection of shared sounds, all with file names of the form `{{somethingDescriptive}}SoundPlayer.js`

PhET naming convention has been to use names that reflect the class.  That has not been done here, and I think it's confusing.  For example:

[code]

So when I see it in context, like

`accordionBoxClosedSoundPlayer.play()`, I cannot identify it as a Shar

[2021-04-22 17:05] pixelzoom opened #140 "Relationship between SharedSoundClip and SoundClip?"
Related to https://github.com/phetsims/tambo/issues/142

SharedSoundClip is in fact not a SoundClip.  It uses SoundClip via composition, and has a (private) `soundClip` field.

Based on https://github.com/phetsims/tambo/issues/142, perhaps it should be renamed SharedSoundPlayer?  That would solve the naming confusion that exists both here and in https://github.com/phetsims/tambo/issues/142.

I'd a

[2021-04-22 17:07] pixelzoom opened #139 "SharedSoundClip stop is needed"
I have a need in Fourier to `stop` a shared sound clip.

@jbphet is it OK to add a `stop` method to SharedSoundClip?

[2021-04-26 16:14] jessegreenberg opened #138 "branch: preferences"
The preferences dialog has an "All Audio" toggle that enables/disabled all audio in the simulation, including sound, enhanced sound and voicing. This requires another Property to control audio output in soundManager. The change is relatively simple but it is in a branch for a while while we have Preferences in a joist branch for a little longer in https://github.com/phetsims/joist/issues/694.

[2021-04-26 17:49] pixelzoom commented on #139
I created this issue in the wrong repo.  Transferred from tandem to tambo.

[2021-04-26 17:49] pixelzoom commented on #140
I created this issue in the wrong repo.  Transferred from tandem to tambo.

[2021-04-26 17:51] pixelzoom commented on #142
I created this issue in the wrong repo.  Transferred from tandem to tambo.

[2021-04-26 20:47] pixelzoom commented on #142
Discussed with @jbphet via Zoom, consensus:

* SoundClipPlayer is a better name for SharedSoundClip, since it implements the Playable interface, and while not a SoundClip, it plays a SoundClip.
* Playable should also implement `stop`

[2021-04-26 20:48] pixelzoom commented on #140
Discussed with @jbphet via Zoom.  Renaming SharedSoundClip to SoundClipPlayer (see https://github.com/phetsims/tambo/issues/142#issuecomment-827136905) addresses this issue, so there's nothing to do here. Closing.

[2021-04-26 20:48] #140 closed

[2021-04-26 20:50] pixelzoom commented on #139
Discussed with @jbphet via Zoom.   SharedSoundClip is being renamed to SoundClipPlayer in https://github.com/phetsims/tambo/issues/142.   Playable should implement `stop` in addition to `play`.

[2021-04-26 22:03] jbphet commented on #139
Looks good to me.  I've also modified `Playable.js`.  Closing.

[2021-04-26 22:03] #139 closed

[2021-04-26 23:01] jbphet commented on #141
I've added a method for this to `SoundClip`.  The Web Audio `AudioBuffer` type has a duration field (who knew?), so the code uses a combination of that value and the playback rate.  Note that this can only be called after the module load phase, since it has to wait for the buffer to finish being decoded before it can provide a value.  I've added an assert to catch that case if it come up.

@pixelz

[2021-04-26 23:05] pixelzoom commented on #141
I immediately ran into a problem.... How do I get the duration of a SoundClipPlayer, for example generalSoftClickSoundPlayer.js?  The SoundClip is private, and there's nothing in the SoundClipPlayer API that provides access to `getDuration`.

[2021-04-26 23:37] pixelzoom commented on #141
@jbphet and I discussed on Zoom.  He's thinking of redesigning things so that SoundClipPlayer goes away, there's a global map of audio buffer data (so that data is only loaded once), and clients instantiate SoundClip.

[2021-04-26 23:41] pixelzoom commented on #141
@jbphet and I discussed on Zoom.

I tried soundClipPlayer.soundClip.getDuration (which is private) and it worked. But there the duration of generalSoftClickSoundPlayer.js was much longer than expected. @jbphet discovered that it has a long tail that is just about inaudible, so he's going to trim it.

Re getting access to soundClipPlayer.soundClip.getDuration... @jbphet is thinking of redesigning t

[2021-04-26 23:44] jbphet commented on #28
There are different bit rate modes that are available when encoding MP3s.  Based on a little bit of research, it sounds like constant bit rate mode is easier to decode and time well, so I'm going to recommend that, at least for now.  Here is an article about it: https://terrillthompson.com/624#:~:text=Constant%20vs%20Variable%20Bit%20Rate%20Encoding&text=VBR%20uses%20an%20algorithm%20to,the%20same

[2021-04-27 19:19] jbphet commented on #28
We don't need to re-encode existing sounds based on the revised recommendations, but should use these going forward.

[2021-04-27 19:31] jbphet commented on #141
This is going to be a bit more difficult to do well than I originally thought.  I already knew that encoding a file as MP3 added some silence to the beginning of the sound, but it looks like it also adds silence to the end, so the duration values being returned are longer than the actual sound.  I'll look into the code that already exists in `SoundClip` for trimming silence next, but I'll have to

[2021-04-29 22:14] jessegreenberg opened #143 "Naming for sound features"
This came from a discussion on slack discussing how we want to name and describe the sound features that can be enabled/disabled from the Preferences dialog. Taking excerpts from the thread related to this issue:

@terracoda said

We also added explanatory text. Can you two have a look and let me know if these changes are good to be published with John Travoltage.
Mute Sound is changed, too. It is

[2021-04-29 22:19] jessegreenberg commented on #143
+1 for using "Sounds" because it stands on its own. I think "Other Sounds" could be confusing in cases where Voicing is not available and "Other Sounds" is the only item in the "Audio" tab. Also, if we go with "Sounds" maybe we can keep "Enhanced Sounds", which accurately describes it without the drawbacks of "Extra" @jbphet mentioned.

Assigning to @terracoda for next steps, but feel free to reas

[2021-04-30 16:46] jbphet commented on #143
@terracoda - You've assigned this to me, but unfortunately I'm a little unclear as to what I need to do to move it along.  Did you want me (and @Ashton-Morris) to opine on what you've written in the previous comment?

[2021-04-30 19:15] terracoda commented on #143
@jbphet, yes please, opine!
Do you want to make any changesin addition to changing "Other Sounds" to "Sounds"?

Specifically, in addition to the name change do you want to change the Sounds toggle responses to include "Non-speech"?
And do you want to swap the wording of "Extra" and "Additional"?

I wanted you both to see the other content that supports the names to help you more with your opinion/

[2021-05-03 16:57] Ashton-Morris commented on #143
I also agree that **Other Sounds** can be changed to **Sounds** and I also prefer:
Additional Sounds
Play an extra sound or sounds that may be helpful for some learners.

[2021-05-03 21:08] jbphet commented on #143
I'd say that I prefer "Sounds" over "Other Sounds".

I prefer "Additional Sounds" over "Extra Sounds".  I also don't think that it's bad to use the label in the supporting text.  So, for instance, I think it would be okay to label the checkbox with "Additional Sounds" and have the text say "Enable one or more additional sounds that may be useful for some learners".

Having said these things, I sho

[2021-05-03 21:12] terracoda commented on #143
@jbphet, you make a good point about translation. We are planning on doing a teacher survey to evaluate the Preferences Menu further. Is it possible to not allow translation on version 1?

[2021-05-03 21:19] jbphet commented on #127
So far, the process has been that @Ashton-Morris provides us with `.mp3` during the iteration phase and, once we've decided upon a sound, we put a `.wav` version of that sound in the `assets` directory, encode that file based on the recommendations in https://github.com/phetsims/tambo/blob/master/doc/encoding-audio.md, and make sure that the encoded file name matches the `.wav` file except, of cou

[2021-05-03 23:24] zepumph commented on #127
That makes sense to me and I understand. I'm ready to close if there are no other thoughts here.

[2021-05-03 23:24] #127 closed

[2021-05-04 14:02] terracoda commented on #143
Hmm, given @jbphet's concern about translation, it might be beneficial for future translations to include both words, "Additional" and "extra" in our first release. If wording gets changed down the road, both words are already available in any translations that might have to be updated.

Lets try the following:

**Additional Sounds**
- _On-screen description:_ Play an extra sound or sounds that ma

[2021-05-04 15:31] terracoda commented on #143
The Voicing Preferences Design doc has been updated, to include decisions above.
See the [Audio Tab section](https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit#heading=h.bs1d8ov39acy) in the design doc

[2021-05-05 16:09] jbphet commented on #143
@terracoda

Not really.  The only things we prevent from being translated are a11y-specific strings.  Everything else if fair game, and we'd have to add specific code to prevent this, which wouldn't be trivial.  Can we do the teacher survey with dev or RC versions instead of fully published versions?

[2021-05-05 16:17] BLFiedler commented on #143
Remind me the timeline for this? I could probably get the survey out next week with a Dev/RC version, collect a weeks worth of info, do a quick analysis/report out the week of the 17th? Does that delay too much?

[2021-05-05 16:40] jessegreenberg commented on #143
Voicing is still in its first dev test @BLFiedler, so I believe would have time for that before first publication and it wouldn't cause further delay.

[2021-05-05 16:41] terracoda commented on #143
@jbphet, ok good to know, that "going live" means "getting translated"! This is all very exciting!

@BLFiedler, I was assuming that the survey you are working on is about the Preferences Menu. In the Rocks spreadsheet, the survey is spanning end of May an June.

And @jessegreenberg just commented above.

[2021-05-05 16:44] BLFiedler commented on #143
Survey should go wherever it does the most good :) If that's pre-preferences publication, then it should be before that goes live. I'll chat with EM about it today, ping @jessegreenberg about a dev version that makes sense, and then chat with y'all about it Friday at the meetings.

[2021-06-11 18:15] jbphet commented on #61
I have an idea on how to test the behavior of the gain stages fairly rigorously.  I could create a sound file that just has a constant (i.e. DC) output value of 1.0 and use it in an `AudioBufferSourceNode`, hook it up to a gain node, and then connect the gain node to an `AudioWorkletNode` that outputs the values seen in the audio signal.  With this, I could see exactly how the gain node transforms

[2021-06-14 18:22] jbphet commented on #141
In a discussion with @pixelzoom today I proposed an alternative for achieving the goal of not playing too many iterations of the same sound clip at once.  Rather than using the duration, we could add a `maxSimultaneousPlaying` parameter to a clip that would prevent it from playing more than a configurable number of the clip such that they overlap.  That information is already tracked in the `Sound

[2021-06-14 18:28] jbphet commented on #142
@pixelzoom and I had a discussion today about what should be available through the `SoundClipPlayer` API, and decided that only the `play` and `stop` methods should be supported, and I'll add a method to get the actual clip that could be used for additional control, but I'll include a lot of warning info in the documentation.

[2021-06-14 21:24] jbphet commented on #142
@pixelzoom - The name has been changed and the API modified a bit to support retrieval of the sound clip for cases where additional information is needed.  I'm good to close this if you are.

[2021-06-14 22:47] jbphet commented on #133
@pixelzoom just tried to use the peak detector to verify some changes in Fourier, and it didn't go well, see https://github.com/phetsims/fourier-making-waves/issues/45.  He and I met on Slack, and it looks like the peak detector in its current form doesn't work on Mac+Chrome.  I also just tried it on Firefox on my Win10 machine and it doesn't work there either, though the failure mode is different

[2021-06-15 15:27] pixelzoom commented on #142
Looks good.  Since accordionBoxClosedSoundPlayer.js et. al. actually return an instance of SoundClipPlayer, and there is no SoundPlayer type.  So should they be renamed to (e.g.) accordionBoxClosedSoundClipPlayer.js ?  I realize that's a pain and a bit verbose, but it's more aligned with PhET naming conventions.

[2021-06-15 15:29] pixelzoom commented on #142
Same question for options whose value is of type `{SoundClipPlayer}`, for example in AccordionBox.js:

[code]

[2021-06-23 13:25] jbphet commented on #142
I'm not too hip on the idea of adding "SoundClipPlayer" to the end of all of these things for two reasons.  One is that it's awfully verbose.  Another is that the items don't have to be of the type `SoundClipPlayer`, they just have to adhere to the `Playable` interface (like an interface definition in Java).

Here's a proposal: What if we change the name of the `Playable` definition type to be `So

[2021-06-23 13:31] pixelzoom commented on #142
Your proposal sounds great.

[2021-06-23 13:35] jbphet commented on #133
As I noted above, spending the time necessary to make this work on all of our supported platforms is not justified at this time.  I'm going to mark the issue as deferred for now.

[2021-06-23 15:56] jbphet commented on #141
I've added a method to `SoundClip` to get the number of playing instances called (perhaps not surprisingly) `getNumberOfPlayingInstances`.  I tried it out for a sound generator in balloons-and-static-electricity and found it worked pretty well.  I started to also add an options value to `SoundClip` to set a max number of playing instances, but part way through the effort I started to have second t

[2021-06-24 00:29] pixelzoom commented on #141
Yes, that sounds fine.

[2021-06-24 19:37] jbphet commented on #141
Cool, thanks.  I've deleted the `getDuration` method and we can focus on using `getNumberOfPlayingInstances` from here on out.  Closing.

[2021-06-28 22:47] jbphet opened #144 "Should there be an option to automatically add a sound generator to the sound manager?"
As of this writing, sound generators have to be created and then added to the sound manager.  Sound generators aren't automatically added because sometimes we want to interconnect them in more complicated patterns, and because creating something and adding it to something else is a common pattern in our graphical interface development, so it seemed like a reasonable parallel.

However, after worki

[2021-06-30 21:47] samreid commented on #144
It would be nice to have the default be to add to the sound manager, with an option to opt-out.  Hopefully this will not create a module import cycle.  Maybe the option would default to `soundManager: soundManager` and if you want to opt out you would put `soundManager: null`?  Can one sound be added to multiple sound managers?

[2021-07-01 18:50] jbphet commented on #144
We discussed this in today's developer meeting and decided that having the explicit add step is preferred.  It makes it more obvious what's going on, is similar to the way Scenery works (which all developers know), and there are options to the `addSoundGenerator` call that would have to be passed in.  So, the bottom line is to leave it as is, at least for now.  Closing.

[2021-07-01 18:50] #144 closed

[2021-07-03 21:41] samreid commented on #141
There is a TODO referring to this issue, I'm not sure if it needs attention or not, @jbphet can you please advise?

[code]

[2021-07-06 17:09] jbphet commented on #141
This is in fourier-making-waves.  Assigning to @pixelzoom to address.

[2021-07-06 20:13] pixelzoom commented on #141
TODO deleted, closing.

[2021-07-06 20:13] #141 closed

[2021-07-06 20:27] pixelzoom opened #145 "sound query parameter is broken."
The sound query parameter (and maybe other things?) is broken.  I’m running Fourier with `sound=muted`, as I have been for many months.  But now the sound icon in the navbar is not showing that sound is muted. Toggling the button in the navbar has no affect on sound (it remains muted) and does not enable the sound control for my Fourier series (which is observing` soundManager.enabledProperty`).

[2021-07-06 20:30] pixelzoom commented on #145
If I run without `sound=muted`, then the sound control for my Fourier series is permanently enabled, and the `soundManager.enabledProperty` observer is never firing.

[2021-07-06 20:37] pixelzoom commented on #145
Slack:

Jesse Greenberg  2:30 PM
I would guess that https://github.com/phetsims/joist/issues/724 is the cause, Ill take a look

[2021-07-06 20:41] pixelzoom commented on #145
Closing this issue, to be addressed in https://github.com/phetsims/joist/issues/724.

[2021-07-06 20:41] #145 closed

[2021-07-16 15:05] terracoda commented on #143
Two surveys have gone out. We'll have some data soon to see if we need to make any changes to the names of the sound features.

[2021-07-16 20:35] jbphet commented on #56
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-16 20:36] jbphet commented on #56
Re-deletion complete.  Closing.

[2021-07-16 20:36] #56 closed

[2021-07-16 21:03] jbphet commented on #24
This branch has lived its useful life, and will now be deleted, and then this issue will be closed.

[2021-07-16 21:03] #24 closed

[2021-07-20 02:50] samreid opened #146 "Was the soundManager.enabledProperty default value change intentional?"
CT pointed out this error for several repos:

[code]

It appears the `soundManager.enabledProperty` changed from true to false for several sims.  Perhaps this issue is related to other sound work today, such as https://github.com/phetsims/joist/issues/734 or maybe https://github.com/phetsims/chipper/issues/1031

[2021-07-20 02:51] samreid commented on #146
Since I haven't heard of sims like natural selection supporting audio, I will infer that this is an intentional change, and I'll update the PhET-iO API files by running: `grunt generate-phet-io-api --simList=../perennial/data/phet-io-api-stable`

[2021-07-20 02:53] samreid commented on #146
I committed the API change in the commit, not entirely confident that it is the desired direction.  Feel free to roll it back if the change was unintentional.  Assigning @zepumph @jbphet and @jessegreenberg since they worked in the related issues mentioned above.

[2021-07-20 03:13] jessegreenberg commented on #146
Thanks @samreid - I made this change in https://github.com/phetsims/tambo/commit/548817f25388b1f97bbdfdabdbf98f2519c27341 for https://github.com/phetsims/joist/issues/734 and didn't consider the PhET-iO implication. But I think this is correct and is assigned for review as part of https://github.com/phetsims/joist/issues/734. But will leave this open to verify by @jbphet.

Specifically, descriptio

[2021-07-21 16:01] BLFiedler commented on #143
The survey does not touch specifically on the wording of the preferences menu, but we can look at the comments to see how folks talk about the 'sounds' in comparison to the 'voicing' to see if anything sensible emerges. The comments from survey 1 & 2 are found here: https://docs.google.com/spreadsheets/d/117tjIISMwKLAwqPGqQhfuynXivbjnIlKiMeKlnYHezM/edit?usp=sharing

[2021-07-26 23:24] jbphet commented on #137
@pixelzoom's explanation above is accurate.  This behavior is related to the auto-play policy that was added to all of the browsers that we support over the last few years.  Here are some related issues:

- https://github.com/phetsims/tambo/issues/9
- https://github.com/phetsims/tambo/issues/58
- https://github.com/phetsims/gravity-force-lab/issues/252

This isn't an exhaustive list, since this is

[2021-07-26 23:33] jbphet opened #147 "The first sound played by a sim can be soft and/or shortened"
A few years ago all of the major browsers implemented an "autoplay" policy that prevents web pages from making any sounds until the user interacts with the page.  This prevents sites from making sounds as soon as users land on the site, which was happening a lot for a while.  In some of the implementations, such as in Chrome, the audio context won't allow _anything_ to happen, even volume changes

[2021-07-26 23:35] #137 closed

[2021-07-27 17:28] jbphet commented on #142
Change made.  @pixelzoom - please have a look and, if you're good with it, I think this issue can be closed.

[2021-07-27 17:35] pixelzoom commented on #142
Looks good to me. But you somehow lost the commit history for Playable.js when you renamed it to SoundPlayer.js.   There's now only 1 commit:

[code]

Back to @jbphet to decide whether history needs to be restored. Personally, I wouldn't bother, but I don't know how much history there was.

[2021-07-27 18:19] jbphet commented on #128
The root of this problem was that the setting of the output level that was occurring during construction hadn't finished by the time the call to `setOutputLevel` happened, so the latter wasn't taking effect.  I've changed the code to cancel scheduled changes on the gain node before setting new ones, and this appears to fix the problem.

To recreate this problem, I added the following code to the b

[2021-07-27 18:52] jbphet commented on #146
The change makes sense to me.  Closing.

[2021-07-27 18:52] #146 closed

[2021-07-27 21:53] jbphet commented on #132
These all seem like good suggestions, but I want to be careful to continue to support one use case that I'm not sure is being considered.  We want the client to be able to create and use their own categories.

How about I do most of what is described above, but instead of validating the categories as described item 5 above, the sound manager keeps a list of categories in an array, and we validate

[2021-07-27 22:34] pixelzoom commented on #128
Looks good, seems to be working fine (tested in the context of Fourier).  Closing.

[2021-07-27 22:34] #128 closed

[2021-07-28 15:21] jbphet commented on #142
Yeah, I don't think I'll take the time to restore the history.  There wasn't a lot of it, and the file is pretty straightforward.  I'm not sure why that happened though, and I'll keep an eye out for whether there is something that I did that caused it.

Closing.

[2021-07-28 15:21] #142 closed

[2021-07-28 16:11] pixelzoom commented on #132
Which client is this? PhET-iO? Something else?

That sounds reasonable for the standard set of categories.

[2021-07-29 18:43] kathy-phet commented on #135
Maybe do this in the Preferences dialog.

[2021-08-12 15:26] pixelzoom opened #148 "Delete FourierToneGenerator?"
@jbphet wondering if tambo/FourierToneGenerator.js should be deleted, since it's not actually being used in Fourier.  I've accidentally navigated to it more than once.

[2021-08-23 22:27] jbphet commented on #148
Sure, I can get rid of it.

In case we ever need it, here's a little historical context: `tambo/FourierToneGenerator.js` was created as a sort of reference design to help @pixelzoom get started on the process of adding sound generation for the harmonics used in the fourier-making-waves sim.  As of this writing, the sound generator that was ultimately created for this by @pixelzoom is `fourier-maki

[2021-08-23 22:27] #148 closed

[2021-09-13 22:32] jessegreenberg opened #149 "Replace soundSupported amd enhancedSoundSupported with supportsSound and supportsEhnahcedSound in adding-sound-to-a-sim.md"
Just noticed while going through checklist in adding-sound-to-a-sim.md, the `soundSupported: true` and `enhancedSoundSupported: true` have been renamed to `supportsSound: true` and `supportsEnhancedSound: true` in package.json. The entries are also under the `features` sub-object under `phet` in package.json.

[2021-09-13 22:34] jessegreenberg commented on #149
Simple enough to not need review, but didn't want to commit to tambo without notifying its keeper, @jbphet feel free to reopen if you have comments.

[2021-09-13 22:34] #149 closed

[2021-09-27 21:03] jessegreenberg opened #150 "Add ability to start playing a SoundClip in the middle of the recorded sound"
In https://github.com/phetsims/quadrilateral/issues/4 it was requested that we start playing a pre-recorded sound in the middle of the recording instead of at the start. For the use case in In https://github.com/phetsims/quadrilateral/issues/4 the sound would loop around and would loop around the offset time that you provide. @Ashton-Morris described it like

The motivation for this is

@jbphet sa

[2021-09-30 17:32] oliver-phet opened #151 "User reported issue: Encoding Error: Decoding Failed"
I'm still awaiting a detailed system report from the user.

[2021-09-30 18:45] KatieWoe commented on #151
I reproduced this on our test device in Safari, but not in Chrome. I tested it on MacOS 11 running Safari 14 and didn't see it. I'm updating it now to Safari 15 (the 10.15 device was already on Safari 15). If it is introduced then, that may help us further.

[2021-09-30 19:17] KatieWoe commented on #151
It did not happen on MacOS 11 Safari 15

[2021-09-30 20:46] jbphet commented on #151
@oliver-phet said:

Sure, if they are willing to do that, it would be very helpful.

[2021-10-01 16:11] oliver-phet commented on #151
@jbphet:

Sounds like this issue was introduced in 1.2.0.

[2021-10-01 16:42] arouinfar commented on #151
Sound was introduced in the 1.2 version, as were several other features and model improvements. Settling for the 1.1 version is a step down in functionality, but certainly better than nothing at all.

[2021-10-01 22:50] pixelzoom commented on #151
This problem has now appear in RC testing for Fourier, see https://github.com/phetsims/fourier-making-waves/issues/202.  Raising priority to high.

[2021-10-01 23:34] pixelzoom commented on #151
This problem does not appear on my wife's MacBookPro11,1 (Mid 2014) with macOS 10.15.6 + Safari 13.1.2.

[2021-10-04 20:51] jbphet commented on #151
I added better error handling and re-modulified the sounds in tambo, joist, vegas, and scenery-phet because those were the repos with sounds being used by the fourier-making-waves sim.  I then worked with @Nancy-Salpepi to test out fourier on the machine where the problem can be duplicated.  The sim loaded successfully, and printed out the expected console warnings.  For reference, I've included t

[2021-10-04 21:10] jbphet commented on #151
Here are a couple of notes from some work with @Nancy-Salpepi where she was duplicating the problem:
- The problem occurs for here only on here machine running Safari 15 running on Mac OS 10.15, which is (according to Nancy anyway) a newer version of the browser running on an older version of the OS.
- Synthesized sounds work fine.  She was able to load "Friction" from the website, and the white-n

[2021-10-04 21:18] pixelzoom commented on #151
Safari 15 is indeed the lastest version of Safari.  As I mentioned in https://github.com/phetsims/tambo/issues/151#issuecomment-932619740, it's standard procedure for Apple to release their latest Safari version for older supported versions of macOS, in this case macsOS 10.15 (Catalina).

[2021-10-04 21:34] kathy-phet commented on #151
@jbphet - This does seem like a serious bug because the sims won't load at all, so teachers are severely impacted if they come across it.

Can you list out which published sims are affected by this bug? What is your estimated timeline for when you would be able to do a maintenance release fix?

[2021-10-04 21:38] jbphet commented on #151
I found some information [here](https://github.com/goldfire/howler.js/issues/1513) that makes it sound like this is a problem on Apple's end that will be fixed eventually.  It is specific to Catalina and Safari 15.

[2021-10-04 21:42] pixelzoom commented on #151
FYI... Safari 15.1 beta is available as of 10/1, https://www.macrumors.com/2021/10/01/safari-15-1-beta-for-macos-now-available/?Bibblio_source=true

[2021-10-04 22:16] arouinfar commented on #151
@kathy-phet @jbphet @pixelzoom - this issue is reproducible on my mid-2014 MacBook Pro running macOS Catalina (10.15.7) and Safari 15.0 (15612.1.29.41.4, 15612).

The published versions of Friction, GFL(B), and Molarity are working fine.  However, every other simulation with sound - 9 fully published sims, the Greenhouse Effect prototype, and Fourier: Making Waves RC all fail to load.

This is a C

[2021-10-04 22:30] arouinfar commented on #151
Have you committed the solution to master? I'm still experiencing the same failure in Fourier: Making Waves in master.

[2021-10-04 22:56] jbphet commented on #151
I worked with @arouinfar to look into what she was saying in the comment above.  The sim is actually loading, but it takes a long time.  This is likely because the decode failures take a while.  I'm not sure there is much we can do about this, other than something like disabling sound entirely on Safari 15, and I'm not sure we'd be able to distinguish OS versions, so that might affect an awful lot

[2021-10-04 22:57] jbphet commented on #151
@KatieWoe - Can you please check whether the beta version has this issue when run on Catalina?  See https://github.com/phetsims/tambo/issues/151#issuecomment-933878918.

[2021-10-04 23:47] kathy-phet commented on #151
JB - That issue you mentioned where the other team ran into this problem. They said:

I don't know if this is even an option for us, or not. But thought I would mention that was there solution.

[2021-10-05 15:30] jbphet commented on #151
@kathy-phet - Yes, I noticed that an organization had mentioned switching to HTML5 audio too.  I think this would be a viable option in simpler situations where you were just trying to associate, say, sounds with buttons on an HTML page.  In our case, we have a whole library that is built upon Web Audio, and even if I was able to rewrite `SoundClip` to use HTML5 audio when Safari 15 was detected,

[2021-10-05 16:15] emily-phet commented on #151
How confident do we feel that Apple will fix this issue on their end? Seems like if there are major breaking issues for others when their is pre-recorded sound, this might get fixed on Apple's end relatively quickly. I know there's no way to know exactly, but for me, I'd be fine with a solution that minimized the time we put into this now (if there seems to be an impending fix from Apple), even if

[2021-10-05 16:28] pixelzoom commented on #151
Unfortunately the result is not little or no sound. The result is a hard crash.  PhET has 9 published sims that will not run.

[2021-10-05 16:51] emily-phet commented on #151
@pixelzoom - I was referring to solutions in progress. It seemed like there were some promising ones that result in minimal or no sound.

To be clear: I was not suggesting that we do nothing and let the sims crash, just that we minimize efforts on finding solutions that result in full sound, if we think there is a fix coming on the order of weeks or a couple of months.

[2021-10-05 16:53] pixelzoom commented on #151
Got it, thanks for clarifying @emily-phet.

[2021-10-05 20:27] KatieWoe commented on #151
Well, after a distressing amount of time at IT getting the 10.15 test device to work :( It looks like this is still an issue in Safari 15.1 Beta

[2021-10-05 20:28] jbphet commented on #151
We discussed this issue in today's sound design meeting and plan to move forward with a maintenance release with the commits above.  This will mean that for now, sims running on Catalina and Safari 15 will have no or partial sound, and may have longer load times, but won't crash.  We will cross our fingers that Apple will fix this reasonably quickly.

[2021-10-07 00:42] jonathanolson commented on #151
Scripts for reference

Main patch script:

[code]

Script for fixing merge commits on HEADs:
[code]

[2021-10-07 18:38] KatieWoe opened #152 "New error in MacOS 10.14 Safari 14"
For https://github.com/phetsims/qa/issues/713. The sims are failing to load with the error shown bellow in MacOS 10.14 Safari 14. They are loading in published.
![image](https://user-images.githubusercontent.com/41024075/136443182-46ac8018-fe23-4fe1-bcbb-da19168ac11c.png)

[2021-10-07 19:19] KatieWoe commented on #152
I am, however, seeing it in MacOS 13 Safari 13. I was not seeing it yesterday when looking at master.

[2021-10-07 22:27] jbphet opened #153 "Investigate making sound files smaller"
The process of addressing #151 and #152 have made the sound files a bit bigger.  The code for each sound file comes from `modulify`, but perhaps this can be simplified and instead of creating a 46 line file everything time (which is what it does as of this writing), I could consolidate the code into a separate file that is just referenced by `modulify`.  While this wouldn't likely be a huge gain i

[2021-10-12 17:30] Ashton-Morris commented on #150
Copy from Slack conversation:

During our meeting today we talked about starting a sound loop at random points and JB brought up that we can first start out by trying the delay function. So maybe when calling the 4 loops from the same source in Quad you can call: 1. immediately, 2. at 100ms delayed, 3. at 200ms delayed, and 4. at 300ms delayed.

Perhaps this would create the auditory illusion that

[2021-10-12 20:57] pixelzoom commented on #151
It looks like a new problem was reported in #152, followed by hundreds of new commits.  A summary of what the problem was, how it was addressed, whether it's a permanent fix or workaround, etc. seems like something that should be added here before this issue is closed.

[2021-10-12 21:06] pixelzoom commented on #151
See https://github.com/phetsims/qa/issues/718#issuecomment-941555189 for @jbphet's summary of the additional sound problem that was discovered, resulting in another MR.

[2021-10-13 13:56] pixelzoom commented on #153
+1 for addressing this.   The current code comes from `modulify` because that's what it's been implemented to generate. Regardless of whether (or maybe even especially when) it's generated code, it's always preferrable to factor out duplicated code.

[2021-10-14 17:45] mattpen commented on #151
@jbphet - @zepumph and I checked the database and filesystem entries for the failed phet-io deployments, and everything seems to have worked correctly.

Here are the sims we checked:
Sim = molecule-polarity Version = 1.2.2
Sim = greenhouse-effect Version = 1.0.1
Sim = gravity-and-orbits Version = 1.5.2
Sim = gravity-and-orbits Version = 1.4.3
Sim = graphing-quadratics Version = 1.2.2
Sim = energy-

[2021-10-14 20:29] #152 closed, assigned to jbphet

[2021-10-18 22:32] jessegreenberg opened #154 "Pass options to SoundClipChord SoundClips"
SoundClipChord will be very useful for one of the prototypes in https://github.com/phetsims/quadrilateral/issues/4, but I need to pass some options to each SoundClip used in the chord.

[2021-10-19 12:10] Nancy-Salpepi opened #155 "Sound heard with 'audio=disabled'"
When testing https://github.com/phetsims/balloons-and-static-electricity/issues/543 with MacBook Air (m1 chip) iOS 11.6 + Safari 15, the first item I interacted with produced a sound and then all subsequent sounds were muted.

Please turn your volume up in order to hear:
https://user-images.githubusercontent.com/87318828/137906239-e780f3fb-af1b-47a9-a8c0-b9d9eed60368.mov

[2021-10-20 15:43] Nancy-Salpepi opened #156 "Sound stops when other tabs are open on iPad"
When testing https://github.com/phetsims/qa/issues/717 using iPad Air 2 iPadOS 15.0.2 (name Leibniz), I noticed that the sound stopped working on the Friction dev-test sim once I opened another tab, manipulated things in that tab, and then went back to the Friction sim. If I then closed that tab, the sound returned.

Steps to Reproduce:
1. Open the dev version of the friction sim on the iPad and m

[2021-10-21 16:03] jessegreenberg commented on #154
Great, thanks!

[2021-10-21 16:03] #154 closed

[2021-11-15 13:07] Nancy-Salpepi opened #157 "Sound interrupted on iPad with sleep mode"
On the iPad Air 2 iOS 15.0:

If sleep mode is enabled while voicing is on, when I return to the sim the voicing still works, but no other sounds are heard. However, if I didn't turn on voicing and returned to the sim after sleep mode, the sounds still worked. This was seen on John Travoltage (published and in Master) and GFL:B in Master.

https://user-images.githubusercontent.com/87318828/13638577

[2021-11-15 16:59] jbphet commented on #90
@Nancy-Salpepi said:

Sounds good, I'll follow up on that one and close this one.

[2021-11-15 16:59] #90 closed

[2021-11-16 15:57] pixelzoom opened #158 "Should categoryName be required when adding a SoundGenerator?"
`soundManager` supports putting sounds into named "catagories".  But when a SoundGenerator is added, specifying a catagory is optional, via option `catagoryName`.  For example:

`soundManager.addSoundGenerator( goBackSoundClip, { categoryName: 'user-interface' } );`

Because `categoryName` is optional, this can lead to oversights like https://github.com/phetsims/vegas/issues/98.

Should `categoryN

[2021-11-16 16:07] pixelzoom commented on #158
Here's the current state of `addSoundGenerator` calls.   Sims are not using `categoryName`, common code is using it inconsistently.  Seems like a good argument for making `categoryName` required, and standardizing on some categories other that 'ui-sounds'.

| sim | calls to `addSoundGenerator` |  specification of `categoryName` |
| :--- | ---:| ---:|
| balloons-and-static-electricity | 8 | 0 |
| c

[2021-11-16 21:02] jbphet commented on #156
Reviewed with the sound design team, marking as low priority for now since it isn't likely to bother a lot of people and it can be time consuming to track this sort of issue down.

[2021-11-16 21:02] jbphet commented on #157
Reviewed with the sound design team, marking as low priority for now since it isn't likely to bother a lot of people and it can be time consuming to track this sort of issue down.

[2021-11-18 21:05] jbphet commented on #158
We discussed this in today's design team meeting and decided to add the `GameAudioPlayer` sounds into a category, and have sounds for which no category is specified go into a default category.  I will do that work.

[2021-12-03 22:11] KatieWoe commented on #113
From Slack:

Is (this issue) still relevant?
John Blanco  3:10 PM
Probably not.  I think we'd know by now if there were sound issues on any other platforms.  Feel free to note that I said this and close it.

[2021-12-03 22:11] #113 closed

[2022-01-31 22:07] jbphet commented on #117
I should address this before doing the tambo portion of https://github.com/phetsims/chipper/issues/1177, since it will save some effort.

[2022-01-31 22:10] jbphet commented on #117
I took a first step on this today where I removed all the sound files that were used for comparing encodings and also removed all unused sounds.  I'm thinking that the next step will be to add a subdirectory where the sounds should go that are being used only for testing and demonstration, and leave the vetted, reusable sounds in the top `sounds` directory.  After that, I'll do the rename of the m

[2022-02-17 00:29] jbphet commented on #117
This is now done, closing.

[2022-02-17 00:29] #117 closed

[2022-02-17 14:16] BLFiedler commented on #143
Checking in on this issue - I am wrapping up updating the Teacher Tips with the latest A11y info for interactive description and updating Enhanced Sound to Extra Sound where appropriate.

One issue we run into is that not every simulation that has an "Extra Sound" has a Preferences menu with the new vocab (Ratio and Proportion, Gravity Force Lab (regular), and Friction). I am not sure of the timel

[2022-02-21 20:47] jbphet commented on #143
@BLFiedler said:

I am currently not aware of any efforts to go back through existing published sims and proactively add the preferences menu.  @jessegreenberg may be in a better position to let us know whether there is such an effort.  If not, then it doesn't seem to me like the Teacher Tips should be delayed.

[2022-02-23 21:35] jessegreenberg commented on #143
There is no plan currently to republish these sims for this. RaP and Friction may be republished sometime this year for other goals.

[2022-02-24 17:29] BLFiedler commented on #143
Okay - well I'm not sure if we are set enough on this issue to close it, but I've updated the teacher tips and left the Enhanced Sound language for those sims without a preferences menu (listed in my last comment)

[2022-02-24 18:20] terracoda commented on #143
What if you have
- Extra Sounds ("Enhanced Sounds" on older sims)

[2022-02-24 18:21] terracoda commented on #143
Just in the older ones, then that might buy you some time on updating them when and if they get updated.

[2022-03-04 00:18] zepumph opened #159 "Clipping in the middle of reset all sound when setting PhET-iO state on reset"
Originally this was reported in https://github.com/phetsims/scenery-phet/issues/724#issuecomment-1050346255:

After a 20 minute discussion with @jbphet, it seemed possible that this could be challenging to solve, and potentially not worth it. So I will create another issue to track progress.

[2022-03-04 00:24] zepumph commented on #159
To reproduce:

* Launch the State wrapper for any sim with sound enabled (reset sound is in common code).
* Set the State Rate equal to zero after 2 seconds.
* Press the reset-all button in the downstream sim, hear clipping, especially when pressing quickly.

We were able to consistently get the clip on chrome, even pressing the reset all button once every 5 seconds. We only got the clipping in Fi

[2022-03-04 00:35] zepumph commented on #159
Investigation:

We noticed that quite of bit of work is done if a sound isn't playing it its fullyEnabledProperty changes to false:

https://github.com/phetsims/tambo/blob/ddff76443c2404104c955cd54b52c587d08d74dc/js/sound-generators/SoundGenerator.js#L133-L149

https://github.com/phetsims/tambo/blob/6e3d6d8f453951931acd5060cb46ce6169ced3d4/js/sound-generators/SoundClip.js#L133-L137

So this patch

[2022-03-23 20:32] jbphet opened #160 "Convert to TypeScript"
PhET has made the decision to convert common code to TypeScript, this issue is here to keep track of the related commits.

[2022-04-14 20:37] jbphet opened #161 "Review TypeScript conversion"
In today's developer/typescript meeting we decided to have set of reviews on new and converted TypeScript code in order to get feedback, cross pollinate techniques and ideas, and generally improve the quality of the code.  I requested that tambo be reviewed, and @jonathanolson was assigned to do it.

I've set up a meeting for tomorrow (4/15/2022) with @jonathanolson to review some specific questio

[2022-04-14 20:38] jbphet commented on #161
For reference, the issue under which the TS port was done is #160.

[2022-04-19 15:20] Nancy-Salpepi opened #162 "Launched sim freezes on splash screen with Mac + Safari"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/799, when making changes in the studio tree and launching sim, the launched sim often freezes on the splash screen. When I tab back to the Studio wrapper, there is an error message. This also happens in master.

This seems to be specific to Mac +

[2022-04-19 17:11] samreid commented on #162
@jonathanolson and @pixelzoom and I discussed this, and we agree it would be best for @jbphet to collaborate on the long-term fix.  We also noted that with fix proposed above, there is still a memory leak since `        window.addEventListener( 'touchstart', resumeAudioContext, false );` is not guarded.

@pixelzoom said this doesn't prevent progress on the Geometric Optics dev test, so we can wait

[2022-04-19 17:14] pixelzoom commented on #162
@Nancy-Salpepi @KatieWoe note that we transferred this issue from geometric-optics-basics to tambo, since it is a general problem that needs to be addressed in soundManager.ts.   Please consider this non-blocking for GO and GO:B dev tests (https://github.com/phetsims/qa/issues/798, https://github.com/phetsims/qa/issues/799).

[2022-04-21 02:54] jonathanolson commented on #161
The typescript overall looks great! I feel like I only have nit-picky things where I've done things differently. Notably:

- There are cases of `@public`, `@private`, `@constructor`, etc. that are unneeded (e.g. AmplitudeModulator, MultiSelectionSoundPlayerFactory)
- There are cases of duplicated documentation and type info at field declaration and when they are set in constructors (e.g. Amplitude

[2022-04-21 21:42] KatieWoe commented on #162
Belatedly linking to https://github.com/phetsims/qa/issues/798

[2022-04-22 20:29] jbphet commented on #162
I tried for about an hour to get the conditions that were causing this problem to occur on a MacBook pro running MacOS 12.3.1 and Safari 15.4, but was not able to reproduce it.  I suspect that there was something going on similar to what is described in #90 where the audio context is going through a different state other than 'suspended' or 'running'.  I've seen things like this before, but only o

[2022-04-22 20:30] jbphet commented on #162
I've also assigned @Nancy-Salpepi, since I believe @KatieWoe mentioned something about having a lot going on next week.

[2022-04-22 22:29] KatieWoe commented on #162
I repeated steps that caused the bug in the dev test in master and the bug didn't occur, so I think we're good.

[2022-04-22 22:33] samreid commented on #162
@jbphet did you intend to leave the console.log statements?  Do you want to work with me since the problem was replicable on my Safari? And won't there be a memory leak on the window.addEventListener, since it has no guard?

[code]

[2022-04-26 17:05] samreid opened #163 "implicit any in tambo-main"
Discovered in https://github.com/phetsims/chipper/issues/1241, the monolithic tsconfig found type errors in tambo-main.  Maybe it is missing from the tsconfigs?

[2022-04-26 17:09] samreid commented on #163
Fixed, closing.

[2022-04-27 18:13] zepumph commented on #138
Any updates here @jessegreenberg? Do we still need this branch?

[2022-04-30 17:26] Nancy-Salpepi commented on #162
Both Geometric Optics and CCK-DC look good on Master.

[2022-05-09 20:18] jbphet commented on #162
@samreid - Here are my answers to your questions above:

I meant to leave in the one that says "AudioContext is now running".  I didn't mean to leave the other one, and have removed it.  Thanks for pointing that out.

I don't think so.  I found multiple sources online that said, "If multiple identical EventListener s are registered on the same EventTarget with the same parameters, the duplicate in

[2022-05-11 20:33] samreid commented on #162
Sounds good, thanks!  Closing.

[2022-05-11 20:33] #162 closed

[2022-05-19 22:31] jbphet commented on #161
I've addressed all of the suggestions - thanks for the review @jonathanolson!  Closing.

[2022-05-19 22:31] #161 closed

[2022-06-29 19:07] pixelzoom opened #164 "ValueChangeSoundPlayer performance and crashing with NumberControl"
I’m writing a scenery-phet demo for a UI component.  The demo involves a NumberControl, which has option `delta`.   ValueChangeSoundPlayer seems to have problems (performance and crashing) when `delta` has a small value.

With `delta: 0.0001` the demo starts up fine.

With `delta: 0.00001`, the demo takes ~14 seconds to start.

With `delta: 0.000001 , it hangs for ~14 seconds, then crashes in Valu

[2022-06-29 19:28] pixelzoom commented on #164
To reproduce in scenery-phet demo:

* In ComponentsScreenView `demoScientificNotationNode`, change this `delta` value:

[code]

* Run the demo with `?brand=phet&ea&debugger&component=ScientificNotationNode&initialScreen=2`

[2022-06-29 20:01] pixelzoom commented on #164
I can't do what I need to do in scenery-phet demo because of this problem.  So I'm going to replace NumberControl with Keypad -- which is probably a UI imporvement in any case.

If you want to reproduce in scenery-phet demo, you'll need to check out 3ea43d80 of ComponentsScreenView.js.

[2022-07-01 00:02] jbphet commented on #164
This is a very interesting test case.  Looking at the code for `ValueChangeSoundPlayer`, I can see that I made an implicit assumption that there would never be a need to generate sounds for a very large number of values, so I pre-computed the thresholds during construction.  In @pixelzoom's test, he created a situation where there were something like 20 million threshold values.  Didn't go well.

[2022-07-08 22:30] zepumph opened #165 "Rename "Enhanced Sounds" to "Extra Sounds""
Over in https://github.com/phetsims/joist/issues/744 and https://github.com/phetsims/phet-io/issues/1611, this was determined to be the public name, and with the addition of PhET-iO in preferences, we will want to make the code and tandem names match that decision. Tagging @jbphet so he is aware, but I'm planning to do this work.

[2022-07-08 22:57] zepumph commented on #165
The only spot that wasn't trivial is that "enhancedSound" is in one joist string key:

https://github.com/phetsims/joist/blob/728b22344287518c21b673d701381f4abed6a74e/joist-strings_en.json#L32

I didn't change the key, but I did change the english value. I don't think we want to change the key, but it is a discrepancy. Otherwise, everything went very smoothly. I tested sims that support this throu

[2022-08-01 12:50] terracoda commented on #143
@BLFiedler updated the relevant teacher tips, and now Friction will soon be published with Voicing.

Friction's current Teacher Tips mention "Enhanced Sounds"
![image](https://user-images.githubusercontent.com/1902116/182151117-ab615139-42f0-424f-8bc8-a701329d7237.png)

And the updated Preferences menu says "Extra"
<img width="391" alt="image" src="https://user-images.githubusercontent.com/1902116

[2022-08-01 13:51] BLFiedler commented on #143
Moved this to https://github.com/phetsims/friction/issues/309

The update to the sound features and teacher tips should be standard practice for republication. I am not sure this needs to be explicitly indicated for the remaining sims, but if there is some task assignment for "Create or Update Teacher Tips" on a publication checklist then that is probably sufficient for whoever is assigned to that

[2022-08-01 23:49] jbphet commented on #165
@zepumph said:

I agree that we shouldn't change the key and should just live with the discrepancy.  If we were to change the key, we would need to adjust all existing translations of this string, or basically break the translation of it.  So leaving it unchanged seems better.

Closing.

[2022-08-01 23:49] #165 closed

[2022-08-24 18:11] jessegreenberg opened #166 "Rename SoundOptionsDialogContent"
From https://github.com/phetsims/joist/issues/837, contents are moving into the Preferences dialog so these files should be renamed.

[2022-08-24 21:20] jessegreenberg commented on #166
Done in https://github.com/phetsims/tambo/commit/79feab7f09e984f0d01a50e7ae90e3dafe562e00

[2022-08-24 21:20] #166 closed

[2022-08-30 17:49] jessegreenberg opened #167 "Add support for reducing output while Voicing is announcing"
This came up recently in https://github.com/phetsims/quadrilateral/issues/185. Design would like sound to reduce its output while SpeechSynthesisAnnouncer is speaking content.

SpeechSynthesisAnnouncer has `startSpeakingEmitter` and `endSpeakingEmitter` that we could add listeners to to update the global volume. @jbphet do you have any thoughts about how to support this in tambo?

[2022-08-31 18:15] jessegreenberg commented on #138
Nope, thanks, branch deleted.

[2022-08-31 18:15] #138 closed

[2022-09-01 14:12] terracoda opened #168 "UI Sounds and focus - consider earcons for Voiced experience"
The screen reader experience contains spoken document and interaction semantics, and some screen readers even have some non-speech sounds that indicate certain things - like an element is interactive. These non-speech sounds may be customizable in some way, I am not up to speed on how they work.

Our Voicing feature, does not directly target blind learners, but we do not not necessarily exclude bl

[2022-09-08 06:26] emily-phet commented on #168
@terracoda I'm not aware of this coming up before.
A few follow up questions;
- Would the sounds you're imagining be on by default when Voicing is turned on?
- How many different sounds would you imagine being needed? It seems like everything that has focus is interactive (though I guess reading blocks and disabled objects are not...), and having a different sound for each sim component type seems

[2022-09-13 17:23] jbphet opened #169 "CT: Uncaught Error: Assertion failed: Tried to insert a disposed Node"
I'm seeing a couple of the errors listed in the title in CT, and I just ran the fuzz test and was able to duplicate it.  I should investigate.

Here's the info from CT:

<details>

[code]

</details>

Here is the stack trace from when I duplicated it locally:

<details>

[code]

</details>

[2022-09-13 22:50] jbphet commented on #169
Apparently we can no longer reuse combo box items, so I changed the code to recreate them instead.  Closing.

[2022-09-13 22:50] #169 closed

[2022-10-11 20:42] jessegreenberg opened #170 "SoundGenerator doesn't set gain unless fullyEnabledProperty is true"
I have a SoundGenerator with two `enableControlProperties`. When one of them is false, I am still hearing sound from the SoundGenerator. I am not sure if that is expected, but I tried to set the output level directly and found that it is a noop in this case.

Around here: https://github.com/phetsims/tambo/blob/05c0c7b8f1188f18fcca0747066e212a137beb05/js/sound-generators/SoundGenerator.ts#L244-L268

[2022-10-13 20:04] jbphet commented on #170
Above, @jessegreenberg said:

This is definitely *not* expected.  The volume should go to zero when any of the `enableControlProperties` transition to `false`.  Can you tell me how to duplicate the problem?  I'll try it and see why it seems to be behaving incorrectly.

@jessegreenberg also said:

That's intentional.  The output level can be set via the methods in a case where the sound is disabled

[2022-10-15 00:06] jbphet commented on #170
Nice bug you found here @jessegreenberg!  Here's the story: When making gain changes on a Web Audio gain node, it's often important to cancel previously scheduled changes.  The code in `SoundGenerator.setOutputLevel` was doing this, but it was doing it *always*, regardless of whether the sound generator was fully enabled.  The code in Quadrilateral was changing the value of an enable control Prope

[2022-10-25 18:08] zepumph opened #171 "Build as a standalone repo"
@jessegreenberg showed interest in this, and I think it will be straight forward. Let me take a look!

[2022-10-25 18:43] zepumph commented on #171
I experimented with this and don't think we should proceed. In my opinion, it may be best and easiest to start using phet-lib for these cases, though it comes with much more baggage, having a single way to ship and version this code will likely be best and easiest.

Here is the patch where I added the ability to specify a different standalone filename, and supported tambo in having a standalone ru

[2022-11-16 18:41] jbphet commented on #156
I unassigned @zepumph, since I'm fairly certain this will fall to me to investigate and fix if and when it becomes a higher priority.

[2022-11-16 18:51] Nancy-Salpepi commented on #156
Funny you just commented on this @jbphet ....because it happened to me earlier today. Today I was using an iPad 9th generation with iOS 16.

[2022-11-30 17:11] jbphet opened #172 "Add support for "ducking", i.e. reducing output levels so that other things can be better heard"
There have been several requests for being able to turn down sound (meaning non-voice sounds) so that other things (usually, but not always, voice or description) can be more easily heard.  This issue is intended to be the parent issue for the implementation of the first version of that feature.

There are several open issues related to this, but they are a bit less general.  These will be left op

[2022-11-30 17:39] jbphet commented on #172
I did some research on how ducking works generally in the audio engineering world, and the most common implementation is to use something called "side chain compression".  [Here is an article on the topic](https://www.sweetwater.com/insync/what-is-sidechain-compression/), but the general idea is to turn down the volume of one signal (such as background music) when another signal (such as voice ove

[2022-11-30 18:16] jbphet commented on #172
@jessegreenberg and I met today and discussed a number of possibilities for this, some of which are already described in the comment immediately above.  Here are some others:

- Tambo already supports arbitrary categories for the sounds.  This feature is generally used to do things like turn down all the user interface sounds and leave the game sounds turned up when we don't have full sound design